/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 14, 2015, 5:22:18 PM
    Author     : sisir
*/

@media(min-width:1800px){
    .container{
        width:1800px !important;
    }
}


html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #fff;
}

.footer-text {
    color: #000000;
    padding-top: 20px;
    margin:0px !important;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    text-align: center;
    background-color: #f5f5f5;
}
.login-page.page-content{
    background: #fff;
}

.login-page .container-fluid {
    padding:0;
}
.login-content{
    background: #eff3f8;
    /*padding:5px 10px;*/
    margin:0;
}
.login-page-container{
    width:100%;
}


.logo-header{
    margin-top:-25px;
}
.errorMsg{
    color:red;
}

.successMsg{
    color:green;
}

/* Search Filter box custom  */
.searchcus{
    padding:6px !important;
}




/* glyphicon sort to more right */
.glyphcustom{
    float:right;
    text-align: center;
    font-size: 15px;
    margin-top: -9px;

}
.tdtextright{
    text-align: right !important;

}
.tdtextleft{
    text-align: left !important;

}



/* 
css login page
*/
.wrapper{
    margin-top: 10px;
    margin-bottom: 80px;
}
.form-signin{
    max-width: 400px;
    padding: 15px 35px 20px;
    margin: 170px auto;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,0.1); 
    border-radius: 0.5em;
}
.form-signin-heading{
    margin-bottom: -3px;
}
.form-control {
    position: relative;
    font-size: 12px;
    height: auto;
    padding: 10px;
    margin-bottom: -6px;
}
.input-place{
    height:34px;
}

.logo{
    margin: 0 auto;
    padding: 0px;
    text-align: center; 
}
.errorMsgCustom{
    margin-bottom: 10px;
}

/* Iso edit css */
.form-body1{
    padding: 2px;
    /* border: 1px solid #BF0C0C!important; */
}
.group-space{
    padding-bottom: 30px;
}
.smallinput{
    width: 100px;
}
.big-size{
    font-size: 20px;
}
.panel-default>.panel-heading{
    color: #111;
    /*background-color: rgba(58, 58, 58, 0.87)*/
}

.grey{
    background-color:#E6EEEE;
}

.cream{
    background-color:#FFFFCC;
}

.blue{
    background-color:#99CCFF;
}

.lightGreen {
    background-color:#D5EBD5;    
}

.blueTop {
    background-color:#E6DCE8;
}

.brown {
    background-color:#FF9999;
}

.green {
    background-color:#99FF99;
}

.skyblue {
    background-color:#66FFFF;
}

.table-span{
    text-align: center;
    border:2px solid #FFF  !important;
    color: #111 !important;
}

.table-span>a:link{
    color:#111;
}


.table thead tr th
{
    font-size:12px !important;
    font-weight:500;
}

.table tbody tr td
{
    font-size:12px !important;
    font-weight:500;
}



.portlet.light.bordered
{
    margin-bottom: 5% ;
}

.portlet.light.bordered>.portlet-title {
    border-bottom: none;
    background-color: grey;
}

.portlet.box.grey{
    border: 1px solid #BDBDBD !important;
    /*border-top: 0 !important;*/
}
.portlet.grey{
    background-color: #BDBDBD !important;
}

#page-content {
    background: none;
}

.page-head{
    background-color: #eff3f8;
}


.bold{
    font-weight: bold;
}


.mainTableIsoMonthlyActivity > thead > tr > th{
    padding:3px;    
}


.modal-view{
    width:1200px;
    margin:350px auto !important;
}
.modal-view-sm{
    width:500px;
    margin:350px auto !important;
}
@media(min-width:320px){
    .modal-view{
        width:300px;
        margin:90px auto !important;
    }
    .modal-view-sm{
        width:300px;
        margin:90px auto !important;
    }

}
@media(min-width:360px){
    .modal-view{
        width:300px;
        margin:120px auto !important;
    }
    .modal-view-sm{
        width:340px;
        margin:120px auto !important;
    }
}
@media(min-width:768px){
    .modal-view{
        width:700px;
        margin:350px auto;
    }
    .modal-view-sm{
        width:500px;
        margin:50px auto !important;
    }
}
@media(min-width:1000px){
    .modal-view{
        width:900px;
        margin:350px auto;
    }
}
@media(min-width:1201px){
    .modal-view{
        width:1200px;
        margin:350px auto;
    }
}



/*TESTING*/
.fail{
    background: rgb(255, 0, 0) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 3px;
}
.pass{
    background: rgb(34, 138, 34) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 3px;
}

.red-test{
    color: rgb(255, 0, 0);
}
.green-test{
    color: rgb(34, 138, 34);
}


