
<div class="portlet light bordered border-red">
    
    <div class=" dataTables_filter pull-left ">
      <a href=""><i class="fa fa-backward"></i>&nbsp; Back</a>
    </div>

    <div class=" dataTables_filter pull-right ">
      Edit Another ISO: <input type="text" class="smallinput ">
      <button>Edit</button>
     <i class="fa fa-plus-square big-size"></i>
  </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">
            <div class="form-body form-body1">

                <div class="form-group"><font color="black"> *</font></label>
                    <label class="col-md-3 control-label"><font color="red">ISO ID:</font></label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="1326">                        
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 control-label">ISO PIN:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="">
                        
                    </div>
                </div>
                 <div class="form-group group-space">
                    <label class="col-md-3 control-label">ISO Tax ID:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="582501621">                        
                    </div>
                </div>
                 <div class="form-group"><font color="black"> *</font></label>
                    <label class="col-md-3 control-label"><font color="red">ISO Name:</font></label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="">
                        
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 control-label">ISO Address:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="1848 Independence Square"><br>
                        <input type="text" class="form-control" placeholder="">
                        
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 control-label">City:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Atlanta">
                        
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 control-label">State:</label>
                    <div class="col-md-4">
                        <select class="form-control">
                            <option>Georgia</option>
                            <option>Alaska</option>
                            <option>California</option>
                        </select>
                        
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 control-label">Zip:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="30338">
                        
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 control-label">Phone:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="">
                        
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 control-label">Cell:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="4048724585">
                        
                    </div>
                </div>
                <div class="form-group group-space">
                    <label class="col-md-3 control-label">Fax:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="">
                        
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 control-label">Contact Name:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Amrit Regmi">
                        
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Email</label>
                    <div class="col-md-4">
                        <input type="email" class="form-control" placeholder="amrit.regmi@sourceopia.com">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Email2</label>
                    <div class="col-md-4">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Email3</label>
                    <div class="col-md-4">                      
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Funding Notice Email</label>
                    <div class="col-md-4">                  
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 control-label">Website:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="">
                        
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 control-label">Bank Change Fee:$</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="0.00">
                        
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-4">
                        <input  type="checkbox" value="Active" checked=""> Active                      
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-4">
                        <input  type="checkbox" value=""> Auto-Bill This ISO                      
                    </div>
                </div>

                 <div class="form-group">
                    <label class="col-md-3 control-label">Billing Bank Routing Number:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="">
                        
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 control-label">Billing Bank Account Number:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 control-label">Bank Account Type:</label>
                    <div class="col-md-4">
                        <select class="form-control">
                            <option>Checking</option>
                            <option value="">Checking2</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Notes:</label>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="5"></textarea>
                        
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 control-label">Update Notes:</label>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="1"></textarea>
                        
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 control-label">Edit History:</label>
                    <div class="col-md-4 ">
                        <div class="col-md-4 "><b>2015-10-21 13:00:33</b></div>
                       
                        <div class="col-md-8 ">Record Created By ashley Rose test iso</div>
                    </div>
                </div>
                
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-5 col-md-9" >
                       <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
