<div class="portlet-body form">
    <form name="isoId" ng-submit="findIsoById(iso)">
        <div class="form-group">
            <label class="control-label col-md-2">Iso Id<span class="required">*</span></label>
            <div class="col-md-3">
                <input class="form-control"
                       name = "isoId"
                       data-ng-model="iso.id" 
                       required >
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn primary">
                        Go</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12" ng-show="isosById">
            <hr>
            <div class="table-responsive">
                <table role="grid"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <thead >
                        <tr role="row" class="heading">
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Name</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr>
                            <td>{{isosByIdData.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
            TableDatatablesManaged.init();
</script>

