<div class="portlet light bordered" ng-init="pageChanged()">

    <div class="row" >
        <div class="col-md-12">
            <div class="table-responsive">
                <table ng-cloak role="grid"  class="table table-striped table-bordered " ng-if="loadMerchantCurrentMonthActivity" >
                    <thead>
                        <tr>
                            <th class="grey table-span" colspan="2" >
                                Merchant
                            </th>
                            <th class="cream table-span" colspan="5"> 
                                Trans Count
                            </th>

                            <th class="skyblue table-span" colspan="5">       
                                Sum Amount
                            </th>

                            <th class="green table-span" colspan="2">
                                YTD
                            </th>


                        </tr>
                        <tr role="row" class="heading">
                            <th class="grey table-span" >
                                <a href="#" ng-click="orderByField = 'merchant_id';reverseSort = !reverseSort"> ID </a>
                                <span ng-show="orderByField == 'merchant_id'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>
                            <th class="grey table-span"  >
                                <a href="#" ng-click="orderByField = 'merchant_name';reverseSort = !reverseSort">Name </a>
                                <span ng-show="orderByField == 'merchant_name'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>  
                            <th class="cream table-span" > 
                                <a href="#" ng-click="orderByField = 'last_txn_mtd_count';reverseSort = !reverseSort"> Last MTD </a>
                                <span ng-show="orderByField == 'last_txn_mtd_count'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>

                            </th>
                            <th class="cream table-span" >
                                <a href="#" ng-click="orderByField = 'current_txn_mtd_count';reverseSort = !reverseSort"> Current </a>
                                <span ng-show="orderByField == 'current_txn_mtd_count'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>

                            </th>
                            <th class="cream table-span" >
                                <a href="#" ng-click="orderByField = 'number_of_transaction_variance';reverseSort = !reverseSort">  Variance %</a>
                                <span ng-show="orderByField == 'number_of_transaction_variance'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>

                            <th class="cream table-span" >
                                <a href="#" ng-click="orderByField = 'number_of_transaction_gain';reverseSort = !reverseSort">  Gain %</a>
                                <span ng-show="orderByField == 'number_of_transaction_gain'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>  


                            <th class="cream table-span" >
                                <a href="#" ng-click="orderByField = 'number_of_transaction_difference';reverseSort = !reverseSort">  Diff</a>
                                <span ng-show="orderByField == 'number_of_transaction_difference'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th> 


                            <th class="skyblue table-span" >
                                <a href="#" ng-click="orderByField = 'last_mtd_txn_sum';reverseSort = !reverseSort"> Last MTD</a>
                                <span ng-show="orderByField == 'last_mtd_txn_sum'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>    

                            <th class="skyblue table-span" >
                                <a href="#" ng-click="orderByField = 'current_mtd_txn_sum';reverseSort = !reverseSort"> Current MTD</a>
                                <span ng-show="orderByField == 'current_mtd_txn_sum'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>                           


                            <th class="skyblue table-span" >
                                <a href="#" ng-click="orderByField = 'sum_of_transaction_variance';reverseSort = !reverseSort"> 
                                    Variance % </a>
                                <span ng-show="orderByField == 'sum_of_transaction_variance'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>  

                            <th class="skyblue table-span" >
                                <a href="#" ng-click="orderByField = 'sum_of_transaction_gain';reverseSort = !reverseSort"> 
                                    Gain % </a>
                                <span ng-show="orderByField == 'sum_of_transaction_gain'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th> 

                            <th class="skyblue table-span" >
                                <a href="#" ng-click="orderByField = 'sum_of_transaction_difference';reverseSort = !reverseSort"> 
                                    Diff </a>
                                <span ng-show="orderByField == 'sum_of_transaction_difference'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th> 
                            <th class="green table-span" rowspan="2">
                                <a href="#" ng-click="orderByField = 'number_of_transaction_ytd';reverseSort = !reverseSort"> Trans Count  </a>
                                <span ng-show="orderByField == 'number_of_transaction_ytd'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>

                            <th class="green table-span" rowspan="2">
                                <a href="#" ng-click="orderByField = 'sum_of_transaction_ytd';reverseSort = !reverseSort"> Sum Amount </a>
                                <span ng-show="orderByField == 'sum_of_transaction_ytd'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>  

                        </tr>

                    </thead>
                    <tbody> 
                        <tr ng-repeat="merchantsCurrentMonthActivity in merchantsCurrentMonthActivityData| orderBy:orderByField:reverseSort"  role="row">
                            <td class="tdtextleft">
                                {{merchantsCurrentMonthActivity.merchant_id}}
                            </td>
                            <td class="tdtextleft">
                                {{merchantsCurrentMonthActivity.merchant_name}}
                            </td>
                            <td ng-init="total.total_last_txn_mtd_count = total.total_last_txn_mtd_count + merchantsCurrentMonthActivity.last_txn_mtd_count" class="tdtextright">
                                {{merchantsCurrentMonthActivity.last_txn_mtd_count| number}}
                            </td>
                            <td ng-init="total.total_current_txn_mtd_count = total.total_current_txn_mtd_count + merchantsCurrentMonthActivity.current_txn_mtd_count" class="tdtextright">
                                {{merchantsCurrentMonthActivity.current_txn_mtd_count| number}}
                            </td>

                            <td ng-init="total.total_number_of_transaction_variance = total.total_number_of_transaction_variance + merchantsCurrentMonthActivity.number_of_transaction_variance" class="tdtextright">
                                <span data-ng-if = "merchantsCurrentMonthActivity.number_of_transaction_variance < 0" style="color:red;">{{merchantsCurrentMonthActivity.number_of_transaction_variance| number:2}}</span>
                                <span data-ng-if = "merchantsCurrentMonthActivity.number_of_transaction_variance > 0" style="color:green;">{{merchantsCurrentMonthActivity.number_of_transaction_variance| number:2}}</span>
                                <span data-ng-if = "merchantsCurrentMonthActivity.number_of_transaction_variance == 0">{{merchantsCurrentMonthActivity.number_of_transaction_variance| number:2}}</span>
                            </td>
                            <td ng-init="total.total_number_of_transaction_gain = total.total_number_of_transaction_gain + merchantsCurrentMonthActivity.number_of_transaction_gain" class="tdtextright">
                                <span data-ng-if = "merchantsCurrentMonthActivity.number_of_transaction_gain < 0" style="color:red;">{{merchantsCurrentMonthActivity.number_of_transaction_gain| number:2}}</span>
                                <span data-ng-if = "merchantsCurrentMonthActivity.number_of_transaction_gain > 0" style="color:green;">{{merchantsCurrentMonthActivity.number_of_transaction_gain| number:2}}</span>
                                <span data-ng-if = "merchantsCurrentMonthActivity.number_of_transaction_gain == 0">{{merchantsCurrentMonthActivity.number_of_transaction_gain| number:2}}</span>
                            </td>

                            <td ng-init="total.total_number_of_transaction_difference = total.total_number_of_transaction_difference + merchantsCurrentMonthActivity.number_of_transaction_difference" class="tdtextright">
                                <span data-ng-if = "merchantsCurrentMonthActivity.number_of_transaction_difference < 0" style="color:red;">{{merchantsCurrentMonthActivity.number_of_transaction_difference| number}}</span>
                                <span data-ng-if = "merchantsCurrentMonthActivity.number_of_transaction_difference > 0" style="color:green;">{{merchantsCurrentMonthActivity.number_of_transaction_difference| number}}</span>
                                <span data-ng-if = "merchantsCurrentMonthActivity.number_of_transaction_difference == 0">{{merchantsCurrentMonthActivity.number_of_transaction_difference| number}}</span>
                            </td>

                            <td ng-init="total.total_last_mtd_txn_sum = total.total_last_mtd_txn_sum + merchantsCurrentMonthActivity.last_mtd_txn_sum" class="tdtextright">
                                {{merchantsCurrentMonthActivity.last_mtd_txn_sum| currency}}
                            </td>

                            <td ng-init="total.total_current_mtd_txn_sum = total.total_current_mtd_txn_sum + merchantsCurrentMonthActivity.current_mtd_txn_sum" class="tdtextright">
                                {{merchantsCurrentMonthActivity.current_mtd_txn_sum| currency}}
                            </td>                 


                            <td ng-init="total.total_sum_of_transaction_variance = total.total_sum_of_transaction_variance + merchantsCurrentMonthActivity.sum_of_transaction_variance" class="tdtextright">
                                <span data-ng-if = "merchantsCurrentMonthActivity.sum_of_transaction_variance < 0" style="color:red;"> {{merchantsCurrentMonthActivity.sum_of_transaction_variance| number:2}}</span>
                                <span data-ng-if = "merchantsCurrentMonthActivity.sum_of_transaction_variance > 0" style="color:green;"> {{merchantsCurrentMonthActivity.sum_of_transaction_variance| number:2}}</span>
                                <span data-ng-if = "merchantsCurrentMonthActivity.sum_of_transaction_variance == 0"> {{merchantsCurrentMonthActivity.sum_of_transaction_variance| number:2}}</span>
                            </td>    

                            <td ng-init="total.total_sum_of_transaction_gain = total.total_sum_of_transaction_gain + merchantsCurrentMonthActivity.sum_of_transaction_gain" class="tdtextright">
                                <span data-ng-if = "merchantsCurrentMonthActivity.sum_of_transaction_gain < 0" style="color:red;"> {{merchantsCurrentMonthActivity.sum_of_transaction_gain| number:2}}</span>
                                <span data-ng-if = "merchantsCurrentMonthActivity.sum_of_transaction_gain > 0" style="color:green;"> {{merchantsCurrentMonthActivity.sum_of_transaction_gain| number:2}}</span>
                                <span data-ng-if = "merchantsCurrentMonthActivity.sum_of_transaction_gain == 0"> {{merchantsCurrentMonthActivity.sum_of_transaction_gain| number:2}}</span>
                            </td> 

                            <td ng-init="total.total_sum_of_transaction_difference = total.total_sum_of_transaction_difference + merchantsCurrentMonthActivity.sum_of_transaction_difference" class="tdtextright">
                                <span data-ng-if = "merchantsCurrentMonthActivity.sum_of_transaction_difference < 0" style="color:red;"> {{merchantsCurrentMonthActivity.sum_of_transaction_difference| currency}}</span>
                                <span data-ng-if = "merchantsCurrentMonthActivity.sum_of_transaction_difference > 0" style="color:green;"> {{merchantsCurrentMonthActivity.sum_of_transaction_difference| currency}}</span>
                                <span data-ng-if = "merchantsCurrentMonthActivity.sum_of_transaction_difference == 0"> {{merchantsCurrentMonthActivity.sum_of_transaction_difference| currency}}</span>
                            </td>

                            <td ng-init="total.total_number_of_transaction_ytd = total.total_number_of_transaction_ytd + merchantsCurrentMonthActivity.number_of_transaction_ytd" class="tdtextright">
                                {{merchantsCurrentMonthActivity.number_of_transaction_ytd| number}}
                            </td>

                            <td ng-init="total.total_sum_of_transaction_ytd = total.total_sum_of_transaction_ytd + merchantsCurrentMonthActivity.sum_of_transaction_ytd" class="tdtextright">
                                {{merchantsCurrentMonthActivity.sum_of_transaction_ytd| currency}}
                            </td>        

                        </tr>    

                        <tr>
                            <td class="bold"> Total</td>
                            <td> </td>
                            <td class="bold tdtextright">{{total.total_last_txn_mtd_count| number}} </td>
                            <td class="bold tdtextright">{{total.total_current_txn_mtd_count| number}} </td>


                            <td class="bold tdtextright">
                                <span data-ng-if = "total.total_number_of_transaction_variance < 0" style="color:red;"> {{total.total_number_of_transaction_variance| number:2}}</span>
                                <span data-ng-if = "total.total_number_of_transaction_variance > 0" style="color:green;"> {{total.total_number_of_transaction_variance| number:2}}</span>
                                <span data-ng-if = "total.total_number_of_transaction_variance == 0">  {{total.total_number_of_transaction_variance| number:2}}</span>
                            </td>

                            <td class="bold tdtextright">
                                <span data-ng-if = "total.total_number_of_transaction_gain < 0" style="color:red;"> {{total.total_number_of_transaction_gain| number:2}}</span>
                                <span data-ng-if = "total.total_number_of_transaction_gain > 0" style="color:green;"> {{total.total_number_of_transaction_gain| number:2}}</span>
                                <span data-ng-if = "total.total_number_of_transaction_gain == 0">  {{total.total_number_of_transaction_gain| number:2}}</span>
                            </td>


                            <td class="bold tdtextright">
                                <span data-ng-if = "total.total_number_of_transaction_difference < 0" style="color:red;"> {{total.total_number_of_transaction_difference| number}}</span>
                                <span data-ng-if = "total.total_number_of_transaction_difference > 0" style="color:green;"> {{total.total_number_of_transaction_difference| number}}</span>
                                <span data-ng-if = "total.total_number_of_transaction_difference == 0">  {{total.total_number_of_transaction_difference| number}}</span>
                            </td>

                            <td class="bold tdtextright">{{total.total_last_mtd_txn_sum| currency}} </td>
                            <td class="bold tdtextright">{{total.total_current_mtd_txn_sum| currency}} </td>

                            <td class="bold tdtextright">
                                <span data-ng-if = "total.total_sum_of_transaction_variance < 0" style="color:red;"> {{total.total_sum_of_transaction_variance| number:2}}</span>
                                <span data-ng-if = "total.total_sum_of_transaction_variance > 0" style="color:green;"> {{total.total_sum_of_transaction_variance| number:2}}</span>
                                <span data-ng-if = "total.total_sum_of_transaction_variance == 0">  {{total.total_sum_of_transaction_variance| number:2}}</span>
                            </td>

                            <td class="bold tdtextright">
                                <span data-ng-if = "total.total_sum_of_transaction_gain < 0" style="color:red;"> {{total.total_sum_of_transaction_gain| number:2}}</span>
                                <span data-ng-if = "total.total_sum_of_transaction_gain > 0" style="color:green;"> {{total.total_sum_of_transaction_gain| number:2}}</span>
                                <span data-ng-if = "total.total_sum_of_transaction_gain == 0">  {{total.total_sum_of_transaction_gain| number:2}}</span>
                            </td>


                            <td class="bold tdtextright">
                                <span data-ng-if = "total.total_sum_of_transaction_difference < 0" style="color:red;"> {{total.total_sum_of_transaction_difference| number}}</span>
                                <span data-ng-if = "total.total_sum_of_transaction_difference > 0" style="color:green;"> {{total.total_sum_of_transaction_difference| number}}</span>
                                <span data-ng-if = "total.total_sum_of_transaction_difference == 0">  {{total.total_sum_of_transaction_difference| number}}</span>
                            </td>


                            <td class="bold tdtextright">{{total.total_number_of_transaction_ytd| number}} </td>
                            <td class="bold tdtextright">{{total.total_sum_of_transaction_ytd| currency}} </td>

                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-md-12" ng-show="loadMerchantCurrentMonthActivity">
            <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></pagination>
        </div>
    </div>
</div>

    <div class="page-spinner-bar" id="spinner" ng-show="loading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <script>
                TableDatatablesManaged.init();

    </script>