<div class="table-responsive">
    <table role="grid" class="table table-striped table-bordered table-hover dataTable no-footer">
        <thead>
            <tr role="row" class="heading">
                <th class="report-thead" colspan="1" rowspan="1" tabindex="0" width="5%"> Id </th>
                <th class="report-thead" colspan="1" rowspan="1" tabindex="0" width="5%"> Name </th>
                <th class="report-thead" colspan="1" rowspan="1" tabindex="0" width="5%"> Status </th>
            </tr>
        </thead>
        <tbody> 
           <tr ng-repeat="(id,merchant) in merchantsData">
               <td>{{id}}</td>
               <td>{{merchant.name}}</td>
               <td>{{merchant.active}}</td>
           <tr>
        </tbody>
    </table>
</div>
<script>
   TableDatatablesManaged.init(); 
</script>