<style>
    body{
       background:#444 !important;
    }
</style>

    
    <div class=" wrapper">
        <div>
        <form class="form-signin" data-ng-submit="login(user)">
            <div class="logo"><a href="#"> <img  width="150" height="65" ng-src="../assets/layouts/layout3/img/vericheck.png"> </a></div>
            
            <h3 class="form-signin-heading" align="center">Welcome To Evericheck</h3><br>
            
            <div class="row">
                <div class="form-group">
                    <div id="errorMsg" class="col-md-12 errorMsgCustom">
                        <div ng-show="errorMessage" class="errorMsg" align="center">{{errorMessage}}</div>
                    </div>
                </div>
            </div>
            
            <div class="input-icon left">
                <i class="icon-user"></i>
                <input type="text" class="form-control" placeholder="Username" id="username" data-ng-model="user.name"><br>
            </div>

            <div class="input-icon left">
                <i class="icon-lock"></i>
                <input type="password" class="form-control" placeholder="Password" id="password" data-ng-model="user.password"><br>
            </div>
           
           <button type="submit" class="btn btn-primary " name="submit" value="submit">Login to your account 
                    <i class="m-icon-swapright m-icon-white"></i>
            </button>
          
        </form>
        </div>
    </div>









