<footer class="footer">
      <div class="container" id = "footer">
        <p class="footer-text" id = "footerDate" ></p>
      </div>
</footer>
 
<script>
            var currentDate = new Date();
            var currentYear = '&copy;' + currentDate.getFullYear() + ' Vericheck,Inc.All Rights Reserved';
            document.getElementById("footerDate").innerHTML = currentYear;
</script>