<!-- BEGIN HEADER TOP -->
<div class="page-header-top">
    <div class="container">
        <!-- BEGIN LOGO -->
        <div class="page-logo logo-header">
            <a href="#">
                <img ng-src="{{settings.layoutPath}}/img/vericheck.png" alt="logo" class="logo-default" width="150" height="65"> </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler"></a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <li class="dropdown dropdown-extended dropdown-dark dropdown-notification" id="header_notification_bar">

                    <!-- END INBOX DROPDOWN -->
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown dropdown-user dropdown-dark">
                    <a href="javascript:;" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                        <!--<img alt="" class="img-circle" ng-src="{{settings.layoutPath}}/img/avatar9.jpg">-->
                        <i class="fa fa-user"></i><span class="username username-hide-mobile" style="color: blue;">{{settings.username}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">

                        <li>
                            <a href="/#/users/changePassword">
                                <i class="fa fa-key"></i> Change Password </a>
                        </li>
                        <li>
                            <a href="/#/logout">
                                <i class="fa fa-sign-out"></i> Log Out </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
                <!-- BEGIN QUICK SIDEBAR TOGGLER -->

                <!-- END QUICK SIDEBAR TOGGLER -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
</div>
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
    <div class="container">

        <div class="hor-menu">
            <ul class="nav navbar-nav" >

                <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="/#/dashboard" class="dropdown-toggle"> Home

                    </a>
                </li>

                <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="#" class="dropdown-toggle"> Reports
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                            <a href="/#/reports/batchesByDate"> 
                                <i class="glyphicon glyphicon-book"></i> Batches </a>
                        </li>
                        <!--                        <li class=" dropdown-submenu">
                                                    <a href="javascript:;">
                                                        <i class="glyphicon glyphicon-book"></i> Batches </a>
                                                    <ul style="display: none;" class="dropdown-menu">
                                                        <li class=" ">
                                                            <a href="/#/reports/batchesByDate">
                                                                <i class="glyphicon glyphicon-book"></i> By Date </a>
                                                        </li>
                                                        <li class=" ">
                                                            <a href="/#/reports/batchesByID">
                                                                <i class="glyphicon glyphicon-book"></i> By ID </a>
                                                        </li>
                                                        <li class=" ">
                                                            <a href="/#/reports/batchesByIso">
                                                                <i class="glyphicon glyphicon-book"></i> By ID & Iso </a>
                                                        </li>
                                                        <li class=" ">
                                                            <a href="/#/reports/batchesByMerchant">
                                                                <i class="glyphicon glyphicon-book"></i> By ID & Merchant </a>
                                                        </li>
                                                        <li class=" ">
                                                            <a href="/#/reports/isosCurrentMonthActivity" >
                                                                <i class="glyphicon glyphicon-book"></i> ISOs Current Month Activity </a>
                                                        </li>
                        
                                                    </ul>
                                                </li>-->

                        <li class="dropdown-submenu">
                            <a href="javascript:;">
                                <i class="glyphicon glyphicon-book"></i> Merchants </a>
                            <ul style="min-width:150% ;" class="dropdown-menu">

<!--                                <li class=" ">
                                    <a href="/#/merchants/id">
                                        <i class="glyphicon glyphicon-book"></i> By ID </a>
                                </li>
                                <li class=" ">
                                    <a href="/#/merchants/ByIsoId">
                                        <i class="glyphicon glyphicon-book"></i> By ISO ID </a>
                                </li>
                                <li class=" ">
                                    <a href="/#/merchants">
                                        <i class="glyphicon glyphicon-book"></i> All Merchants</a>
                                </li>-->
                                <li>
                                    <a href="/#/reports/monthlyMerchantActivity" > 
                                        <i class="glyphicon glyphicon-book"></i>Merchant Monthly Activity </a>
                                </li>
                                <li class=" ">
                                    <a href="/#/reports/getMerchantCurrentMonthlyActivity">
                                        <i class="glyphicon glyphicon-book"></i>Merchants Current Month Activity </a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class=" dropdown-submenu">
                            <a href="javascript:;">
                                <i class="glyphicon glyphicon-book"></i> ISOs </a>
                            <ul style="min-width:160% ;" class="dropdown-menu">

<!--                                <li class=" ">
                                    <a href="/#/isos/id">
                                        <i class="glyphicon glyphicon-book"></i> By ID </a>
                                </li>
                                <li class=" ">
                                    <a href="/#/isos">
                                        <i class="glyphicon glyphicon-book"></i> All ISOs</a>
                                </li>-->
                                <li class=" ">
                                    <a href="/#/reports/isosCurrentMonthActivity" >
                                        <i class="glyphicon glyphicon-book"></i>ISOs Current Month Activity </a>
                                </li>
                                <li>
                                    <a href="/#/reports/monthlyIsoActivity" > 
                                        <i class="glyphicon glyphicon-book"></i>ISO Monthly Activity </a>
                                </li>
                                <li>
                                    <a href="/#/reports/isoMerchantsCurrentMonthActivity" > 
                                        <i class="glyphicon glyphicon-book"></i>ISO Merchants Current Month Activity</a>
                                </li>
                            </ul>
                        </li>
<!--                        <li>
                            <a href="/#/reports/report3" > href="#/todo">
                                <i class="glyphicon glyphicon-book"></i> All Iso Merchants Data </a>
                        </li>-->
                        

                         <li class=" dropdown-submenu">
                            <a href="javascript:;">
                                <i class="glyphicon glyphicon-book"></i> Checkers </a>
                                 <ul style="min-width:160% ;" class="dropdown-menu">

                                <li class=" ">
                                    <a href="/#/checkers/checkBatchesCount" >
                                        <i class="glyphicon glyphicon-book"></i> Batches Count </a>
                                </li>
                                <li class=" ">
                                    <a href="/#/checkers/batchVsAllMerchantsWithinABatchCount" >
                                        <i class="glyphicon glyphicon-book"></i> Batch Detail Vs All Merchants Within A Batch </a>
                                </li>
                                
                                <li class=" ">
                                  <a href="/#/checkers/batchVsMerchantMonthlyActivity" >
                                        <i class="glyphicon glyphicon-book"></i> Batch Vs Merchant Monthly Activity </a>
                                </li>   
                                <li class=" ">
                                  <a href="/#/checkers/batchVsIsoMonthlyActivity" >
                                        <i class="glyphicon glyphicon-book"></i> Batch Vs ISO Monthly Activity </a>
                                </li>   
                            </ul>
                         </li>
                    </ul>
                </li>
<!--                <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="#" class="dropdown-toggle"> Isos
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                            <a href="/#/iso/edit" >
                                <i class="glyphicon glyphicon-edit"></i> Edit Report </a>
                        </li>
                    </ul>
                </li>-->

            </ul>
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
<!-- END HEADER MENU -->