<!-- BEGIN HEADER TOP -->
<div class="page-header-top">
    <div class="container">
        <!-- BEGIN LOGO -->
        <div class="page-logo logo-header">
            <a href="#">
                <img ng-src="{{settings.layoutPath}}/img/vericheck.png" alt="logo" class="logo-default" width="150" height="65"> </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler"></a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <li class="dropdown dropdown-extended dropdown-dark dropdown-notification" id="header_notification_bar">
                    
                <!-- END INBOX DROPDOWN -->
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown dropdown-user dropdown-dark">
                    <a href="javascript:;" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                        <!--<img alt="" class="img-circle" ng-src="{{settings.layoutPath}}/img/avatar9.jpg">-->
                        <i class="fa fa-user"></i><span class="username username-hide-mobile" style="color: blue;">{{settings.username}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        
                        <li>
                            <a href="/#/users/changePassword">
                                <i class="fa fa-key"></i> Change Password </a>
                        </li>
                        <li>
                            <a href="/#/logout">
                                <i class="fa fa-sign-out"></i> Log Out </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                
                <!-- END QUICK SIDEBAR TOGGLER -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
</div>
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
    <div class="container">
        
        <div class="hor-menu">
            <ul class="nav navbar-nav" >
                <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="#" class="dropdown-toggle"> Transactions
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                            <a href="/#/transactions" > <!--href="#/todo">-->
                                <i class="fa fa-newspaper-o"></i> View </a>
                        </li>
                        <li>
                            <a href="/#/transactions/create" >
                                <i class="fa fa-plus-square-o"></i> Create </a>
                        </li>
                    </ul>
                </li>

                <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="#" class="dropdown-toggle"> Checkouts
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                            <a href="/#/checkouts" > <!--href="#/todo">-->
                                <i class="fa fa-newspaper-o"></i> View </a>
                        </li>
                        <li>
                            <a href="/#/checkouts/create" >
                                <i class="fa fa-plus-square-o"></i> Create </a>
                        </li>
                    </ul>
                </li>
                 
            </ul>
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
<!-- END HEADER MENU -->