
<div class="row portlet light boardered">

    <div class="row">
        
        <form ng-submit="fetchBatchesByIso()">
        <div class="col-md-5">

            <div class="form-group">
                <label class="col-sm-4 control-label">Batch ID:</label>
                <div class="col-sm-8">
                    <div class="input-group">

                        <span style="position: relative; display: inline-block;" class="twitter-typeahead">
                            <input class="form-control input-sm input-small input-inline searchcus " 
                                   placeholder=""  
                                   type="text"
                                   ng-model="batch_id"
                                   required>
                            </div>

                </div>
            </div>

        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label class="col-sm-4 control-label">ISO ID:</label>
                <div class="col-sm-8">
                    <div class="input-group">

                        <span style="position: relative; display: inline-block;" class="twitter-typeahead">
                            <input class="form-control input-sm input-small input-inline searchcus"
                                   placeholder=""
                                   type="text"
                                   ng-model="iso_id"
                                   required>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">

                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">
                        Go</button>

                </div>
            </div>
        </div>
            </form>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-md-12" data-ng-if="loadBathchesByIso" >
            <div class="col-md-12">
                                                <div class="portlet-title">
                                                    <div class="caption blue-steel">
                                                        <i class="icon-calendar blue-steel"></i>
                                                        <span class="caption-subject bold uppercase">{{responseBatchesByIso.payload.date}}</span>
                                                        <span class="caption-helper hide"></span>
                                                    </div>
                                                    
                                                </div>
                                                </div>
                                                    
            <hr>
                        <!--<pre>{{ responseBatchesByIso | json}}</pre>-->

            <div class="table-responsive"><table role="grid"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <thead >
                        <tr role="row" class="heading">
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Merchants Affected </th>
                            <th class="report-thead" colspan="1" rowspan="1" tabindex="0"  width="5%"> Created Count </th>
                            <th class="report-thead" colspan="1" rowspan="1" tabindex="0"  width="5%"> Created Sum </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Average </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Std </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Max Amount </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Originated Count </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Originated Sum </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Settled Count </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Settled Sum </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Returned Count </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Returned Sum </th>
                        </tr>

                    </thead>
                    <tbody> 
                        <tr class="odd" role="row">
                            <td class=" report-heading-tr ">Credits</td>
                            <td>{{responseBatchesByIso.payload.credits.merchants_affected}}</td>
                            <td>{{responseBatchesByIso.payload.credits.created_count}}</td>
                            <td>{{responseBatchesByIso.payload.credits.created_sum}}</td>
                            <td>{{responseBatchesByIso.payload.credits.created_avg}}</td>
                            <td>{{responseBatchesByIso.payload.credits.created_std}}</td>
                            <td>{{responseBatchesByIso.payload.credits.created_max_amount}}</td>
                            <td>{{responseBatchesByIso.payload.credits.originated_count}}</td>
                            <td>{{responseBatchesByIso.payload.credits.originated_sum}}</td>
                            <td>{{responseBatchesByIso.payload.credits.settled_count}}</td>
                            <td>{{responseBatchesByIso.payload.credits.settled_sum}}</td>
                            <td>{{responseBatchesByIso.payload.credits.returned_count}}</td>
                            <td>{{responseBatchesByIso.payload.credits.returned_sum}}</td>

                        </tr>
                        <tr class="even" role="row">
                            <td class=" report-heading-tr ">Debits</td>
                            <td>{{responseBatchesByIso.payload.debits.merchants_affected}}</td>
                            <td>{{responseBatchesByIso.payload.debits.created_count}}</td>
                            <td>{{responseBatchesByIso.payload.debits.created_sum}}</td>
                            <td>{{responseBatchesByIso.payload.debits.created_avg}}</td>
                            <td>{{responseBatchesByIso.payload.debits.created_std}}</td>
                            <td>{{responseBatchesByIso.payload.debits.created_max_amount}}</td>
                            <td>{{responseBatchesByIso.payload.debits.originated_count}}</td>
                            <td>{{responseBatchesByIso.payload.debits.originated_sum}}</td>
                            <td>{{responseBatchesByIso.payload.debits.settled_count}}</td>
                            <td>{{responseBatchesByIso.payload.debits.settled_sum}}</td>
                            <td>{{responseBatchesByIso.payload.debits.returned_count}}</td>
                            <td>{{responseBatchesByIso.payload.debits.returned_sum}}</td>

                        </tr>
                        <tr class="odd" role="row">
                            <td class=" report-heading-tr "><span>Reversals</span></td>
                            <td>{{responseBatchesByIso.payload.reversals.merchants_affected}}</td>
                            <td>{{responseBatchesByIso.payload.reversals.created_count}}</td>
                            <td>{{responseBatchesByIso.payload.reversals.created_sum}}</td>
                            <td>{{responseBatchesByIso.payload.reversals.created_avg}}</td>
                            <td>{{responseBatchesByIso.payload.reversals.created_std}}</td>
                            <td>{{responseBatchesByIso.payload.reversals.created_max_amount}}</td>
                            <td>{{responseBatchesByIso.payload.reversals.originated_count}}</td>
                            <td>{{responseBatchesByIso.payload.reversals.originated_sum}}</td>
                            <td>{{responseBatchesByIso.payload.reversals.settled_count}}</td>
                            <td>{{responseBatchesByIso.payload.reversals.settled_sum}}</td>
                            <td>{{responseBatchesByIso.payload.reversals.returned_count}}</td>
                            <td>{{responseBatchesByIso.payload.reversals.returned_sum}}</td>
                        </tr>
                    </tbody>
                </table></div>





        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12" data-ng-if="loadBathchesByIso">


            <div class="table-responsive"><table role="grid"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <thead>
                        <tr role="row" class="heading">
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Merchants Affected </th>
                            <th class="report-thead" colspan="1" rowspan="1" tabindex="0"  width="5%"> Created Count </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Sum </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Avg </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Std </th>

                        </tr>

                    </thead>
                    <tbody> 
                        <tr class="odd" role="row">
                            <td class="report-heading-tr">Errors</td>
                            <td>{{responseBatchesByIso.payload.errors.merchants_affected}}</td>
                            <td>{{responseBatchesByIso.payload.errors.created_count}}</td>
                            <td>{{responseBatchesByIso.payload.errors.created_sum}}</td>
                            <td>{{responseBatchesByIso.payload.errors.created_avg}}</td>
                            <td>{{responseBatchesByIso.payload.errors.created_std}}</td>



                        </tr>
                        <tr class="even" role="row">
                            <td class=" report-heading-tr"><span>Declines</span></td>
                            <td>{{responseBatchesByIso.payload.declines.merchants_affected}}</td>
                            <td>{{responseBatchesByIso.payload.declines.created_count}}</td>
                            <td>{{responseBatchesByIso.payload.declines.created_sum}}</td>
                            <td>{{responseBatchesByIso.payload.declines.created_avg}}</td>
                            <td>{{responseBatchesByIso.payload.declines.created_std}}</td>    
                        </tr>
                        <tr class="odd" role="row">
                            <td class=" report-heading-tr"><span>Voids</span></td>
                            <td>{{responseBatchesByIso.payload.voids.merchants_affected}}</td>
                            <td>{{responseBatchesByIso.payload.voids.created_count}}</td>
                            <td>{{responseBatchesByIso.payload.voids.created_sum}}</td>
                            <td>{{responseBatchesByIso.payload.voids.created_avg}}</td>
                            <td>{{responseBatchesByIso.payload.voids.created_std}}</td>
                        </tr>
                    </tbody>
                </table></div>





        </div>
    
    
    </div>
    
    
    
    
    
    
    



</div>

<!--<div class="row" data-ng-if="loadBathchesByIso" data-ng-include="'tpl/batches-iso.html'" data-ng-controller="ReportController" >

</div>-->




