
<div class="row portlet light boardered">

    <div class="row">
        <form ng-submit="fetchBatchesByMerchant()">
            <div class="col-md-5">

                <div class="form-group">
                    <label class="col-sm-4 control-label">Batch ID:</label>
                    <div class="col-sm-8">
                        <div class="input-group">

                            <span style="position: relative; display: inline-block;" class="twitter-typeahead">
                                <input class="form-control input-sm input-small input-inline searchcus "
                                       placeholder=""
                                       type="text"
                                       ng-model="batch_id"
                                       required>
                                </div>

                                </div>
                                </div>

                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Merchant ID:</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">

                                                <span style="position: relative; display: inline-block;" class="twitter-typeahead">
                                                    <input class="form-control input-sm input-small input-inline searchcus"
                                                           placeholder=""
                                                           type="text"
                                                           ng-model="merchant_id"
                                                           required>
                                                    </div>

                                                    </div>
                                                    </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">

                                                            <div class="col-sm-12">
                                                                <button type="submit" class="btn btn-primary">
                                                                    <i class="fa fa-check"></i> Go</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    </form>
                                            </div>


    <br><br><br>



                                            <div class="row">
                                                <div class="col-md-12" data-ng-if="loadBathchesByMerchant" >
                                                    <div class="col-md-12">
                                                <div class="portlet-title">
                                                    <div class="caption blue-steel">
                                                        <i class="icon-calendar blue-steel"></i>
                                                        <span class="caption-subject bold uppercase">{{responseBatchesByMerchant.payload.date}}</span>
                                                        <span class="caption-helper hide"></span>
                                                    </div>
                                                    
                                                </div>
                                                </div>
                                                    <hr>

                                                    <div class="table-responsive"><table role="grid"  class="table table-striped table-bordered table-hover dataTable no-footer">
                                                            <thead >
                                                                <tr role="row" class="heading">
                                                                    <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> </th>
                                                                    <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Count </th>
                                                                    <th class="report-thead" colspan="1" rowspan="1" tabindex="0"  width="5%"> Created Sum </th>
                                                                    <th class="report-thead" colspan="1" rowspan="1" tabindex="0"  width="5%"> Created Avg </th>
                                                                    <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created STD </th>
                                                                    <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Max Amount </th>
                                                                    <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Originated Count </th>
                                                                    <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Originated Sum </th>
                                                                    <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Settled Count </th>
                                                                    <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Settled Sum </th>
                                                                    <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Returned Count </th>
                                                                    <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Returned Sum </th>
                                                                    
                                                                    
                                                                </tr>

                                                            </thead>
                                                            <tbody> 
                                                                <tr class="odd" role="row">
                                                                    <td class=" report-heading-tr ">Credit</td>
                                                                    <td>{{responseBatchesByMerchant.payload.credits.created_count}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.credits.created_sum}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.credits.created_avg}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.credits.created_std}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.credits.created_max_amount}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.credits.originated_count}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.credits.originated_sum}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.credits.settled_count}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.credits.settled_sum}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.credits.returned_count}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.credits.returned_sum}}</td>
                                                                    

                                                                    
                                                                </tr>
                                                                <tr class="even" role="row">
                                                                    <td class=" report-heading-tr "><span>Debit</span></td>
                                                                    <td>{{responseBatchesByMerchant.payload.debits.created_count}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.credits.created_sum}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.debits.created_avg}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.debits.created_std}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.debits.created_max_amount}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.debits.originated_count}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.debits.originated_sum}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.debits.settled_count}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.debits.settled_sum}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.debits.returned_count}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.debits.returned_sum}}</td>
                                                                        
                                                                </tr>
                                                                <tr class="odd" role="row">
                                                                    <td class=" report-heading-tr "><span>Reversals</span></td>
                                                                    <td>{{responseBatchesByMerchant.payload.reversals.created_count}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.reversals.created_sum}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.reversals.created_avg}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.reversals.created_std}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.reversals.created_max_amount}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.reversals.originated_count}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.reversals.originated_sum}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.reversals.settled_count}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.reversals.settled_sum}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.reversals.returned_count}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.reversals.returned_sum}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table></div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" data-ng-if="loadBathchesByMerchants">
                                                    

                                                    <div class="table-responsive"><table role="grid"  class="table table-striped table-bordered table-hover dataTable no-footer">
                                                            <thead>
                                                                <tr role="row" class="heading">
                                                                    <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> </th>
                                                                    <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Count </th>
                                                                    <th class="report-thead" colspan="1" rowspan="1" tabindex="0"  width="5%"> Created Sum </th>
                                                                    <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Avg </th>
                                                                    <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Std </th>
                                                                    
                                                                </tr>

                                                            </thead>
                                                            <tbody> 
                                                                <tr class="odd" role="row">
                                                                    <td class="report-heading-tr">Errors</td>
                                                                    <td>{{responseBatchesByMerchant.payload.errors.created_count}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.errors.created_sum}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.errors.created_avg}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.errors.created_std}}</td>
                                                                    

                                                                    
                                                                </tr>
                                                                <tr class="even" role="row">
                                                                    <td class=" report-heading-tr"><span>Declines</span></td>
                                                                    <td>{{responseBatchesByMerchant.payload.declines.created_count}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.declines.created_sum}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.declines.created_avg}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.declines.created_std}}</td>   
                                                                </tr>
                                                                <tr class="odd" role="row">
                                                                    <td class=" report-heading-tr"><span>Voids</span></td>
                                                                    <td>{{responseBatchesByMerchant.payload.voids.created_count}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.voids.created_sum}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.voids.created_avg}}</td>
                                                                    <td>{{responseBatchesByMerchant.payload.voids.created_std}}</td> 
                                                                </tr>
                                                            </tbody>
                                                        </table></div>





                                                </div>
                                            </div>
                                        </div>


                                        


