<div ng-init="fetchBatchesByDate()">
<div class="portlet light bordered">


    <div class="row">
        <form ng-submit="fetchBatchesByDate()">
            <div class="col-md-6">
                <br>
                <div class="col-md-10">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label" style="margin-top:10px">Dates</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group" id="batchesDatePicker" datetimepicker ng-model="date">

                                <input type="text" class="form-control" required>
                                <span class="input-group-btn">
                                    <button class="btn default date-range-toggle" style="line-height: 1.79;" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-check"></i> Go</button>
                        </div>
                    </div>
                </div>


            </div>

        </form>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
            <div class="table-responsive col-md-12" id="accordion">
                <table  class="table table-striped table-bordered table-responsive" >
                    <thead>
                        <tr>
                            <th style="text-align: center"> Date </th>
                            <th style="text-align: center"> Transaction ID Start </th>
                            <th style="text-align: center"> Transaction ID End </th>
                            <th style="text-align: center"> Cutoff Time </th>
                        </tr>
                    </thead>

                    <tbody ng-repeat="data in responseBatchesByDate.payload | orderBy:'-date'">
                        <tr data-toggle="collapse" href="" data-target="#{{data.id}}" ng-click="fetchBatchesById(data.id)">
                            <td style="text-align: center"> 
                                {{data.date}} 
                            </td>
                            <td style="text-align: center">{{data.txn_id_start}}</td>
                            <td style="text-align: center"> {{data.txn_id_end}} </td>
                            <td style="text-align: center"> {{data.cutoff_time}} </td>
                        </tr>
                        <tr id="{{data.id}}" class="panel-collapse collapse">
                            <td colspan="4">
                                <div class="col-md-12">
                                    <div class="portlet-body">


                                        <div class="portlet box grey">
                                            <div class="portlet-title">

                                                <div class="caption">
                                                    Batch
                                                </div>

                                            </div>
                                            <div class="portlet-body form">
                                                <div class="row">
                                                    <div class="col-md-5 pull-right form-body">
                                                        <div class="col-md-6 pull-left form-group">
                                                            <div class="input-group" style="text-align:left">
                                                                <input class="form-control input-place" ng-model="merchant_id" id="merchant_id_input" type="text" placeholder="Merchant ID">
                                                                <span class="input-group-btn">
                                                                    <a href="#" class="btn green" data-target="#modal_merchant" data-toggle="modal" ng-click="fetchBatchesByMerchant(data.id, merchant_id)">
                                                                        <i class="fa fa-check"></i>Go </a>
                                                                </span>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-6 pull-right">
                                                            <div class="input-group" style="text-align:left">
                                                                <input class="form-control input-place" ng-model="iso_id" id="iso_id_input" type="text" placeholder="ISO ID">
                                                                <span class="input-group-btn">
                                                                    <a href="javascript:;" class="btn green" data-target="#modal_iso" data-toggle="modal" ng-click="fetchBatchesByIso(data.id, iso_id)" >
                                                                        <i class="fa fa-check"></i>Go </a>
                                                                </span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive col-md-12">
                                                            <table class="table table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="grey table-span" rowspan="2"style="width:5%"></th>
                                                                        <th class="blue table-span" colspan="5">Created</th>
                                                                        <th class="cream table-span" colspan="2">Originated</th>
                                                                        <th class="green table-span" colspan="2">Settled</th>
                                                                        <th class="brown table-span" colspan="2">Returned</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="blue table-span tdtextright">Count</th>
                                                                        <th class="blue table-span tdtextright">Sum</th>
                                                                        <th class="blue table-span tdtextright">Average</th>
                                                                        <th class="blue table-span tdtextright">Std</th>
                                                                        <th class="blue table-span tdtextright">Max Amount</th>
                                                                        <th class="cream table-span tdtextright">Count</th>
                                                                        <th class="cream table-span tdtextright">Sum</th>
                                                                        <th class="green table-span tdtextright">Count</th>
                                                                        <th class="green table-span tdtextright">Sum</th>
                                                                        <th class="brown table-span tdtextright">Count</th>
                                                                        <th class="brown table-span tdtextright">Sum</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    <tr class="odd gradeX">
                                                                        <td class="tdtextleft">Credits</td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.credits.created_count==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.credits.created_count!=undefined"> {{(responseBatchesById.payload.credits.created_count|number)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.credits.created_sum==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.credits.created_sum!=null"> ${{(responseBatchesById.payload.credits.created_sum|number:2)}}</span>
                                                                            
                                                                        </td>
                                                                        <td class="tdtextright">{{responseBatchesById.payload.credits.created_avg|number:2}}</td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.credits.created_std==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.credits.created_std!=undefined"> {{(responseBatchesById.payload.credits.created_std|number:2)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.credits.created_max_amount==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.credits.created_max_amount!=null"> ${{(responseBatchesById.payload.credits.created_max_amount|number:2)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.credits.originated_count==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.credits.originated_count!=undefined"> {{(responseBatchesById.payload.credits.originated_count|number)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.credits.originated_sum==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.credits.originated_sum!=null"> ${{(responseBatchesById.payload.credits.originated_sum|number:2)}}
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.credits.settled_count==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.credits.settled_count!=undefined"> {{(responseBatchesById.payload.credits.settled_count|number)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.credits.settled_sum==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.credits.settled_sum!=null"> ${{(responseBatchesById.payload.credits.settled_sum|number:2)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                        <span data-ng-if="responseBatchesById.payload.credits.returned_count==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.credits.returned_count!=undefined"> {{(responseBatchesById.payload.credits.returned_count|number)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.credits.returned_sum==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.credits.returned_sum!=null"> ${{(responseBatchesById.payload.credits.returned_sum|number:2)}}</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="odd gradeX">
                                                                        <td class="tdtextleft">Debits</td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.debits.created_count==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.debits.created_count!=undefined"> {{(responseBatchesById.payload.debits.created_count|number)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.debits.created_sum==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.debits.created_sum!=null"> ${{(responseBatchesById.payload.debits.created_sum|number:2)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">{{responseBatchesById.payload.debits.created_avg|number:2}}</td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.debits.created_std==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.debits.created_std!=undefined"> {{(responseBatchesById.payload.debits.created_std|number:2)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.debits.created_max_amount==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.debits.created_max_amount!=null"> ${{(responseBatchesById.payload.debits.created_max_amount|number:2)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.debits.originated_count==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.debits.originated_count!=undefined"> {{(responseBatchesById.payload.debits.originated_count|number)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.debits.originated_sum==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.debits.originated_sum!=null"> ${{(responseBatchesById.payload.debits.originated_sum|number:2)}}
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.debits.settled_count==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.debits.settled_count!=undefined"> {{(responseBatchesById.payload.debits.settled_count|number)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                           <span data-ng-if="responseBatchesById.payload.debits.settled_sum==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.debits.settled_sum!=null"> ${{(responseBatchesById.payload.debits.settled_sum|number:2)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.debits.returned_count==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.debits.returned_count!=undefined"> {{(responseBatchesById.payload.debits.returned_count|number)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                             <span data-ng-if="responseBatchesById.payload.debits.returned_sum==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.debits.returned_sum!=null"> ${{(responseBatchesById.payload.debits.returned_sum|number:2)}}</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="odd gradeX">
                                                                        <td class="tdtextleft"><span>Reversals</span></td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.reversals.created_count==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.reversals.created_count!=undefined"> {{(responseBatchesById.payload.reversals.created_count|number)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.reversals.created_sum==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.reversals.created_sum!=null"> ${{(responseBatchesById.payload.reversals.created_sum|number:2)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">{{responseBatchesById.payload.reversals.created_avg|number:2}}</td>
                                                                        <td class="tdtextright">
                                                                        <span data-ng-if="responseBatchesById.payload.reversals.created_std==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.reversals.created_std!=undefined"> {{(responseBatchesById.payload.reversals.created_std|number:2)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                           <span data-ng-if="responseBatchesById.payload.reversals.created_max_amount==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.reversals.created_max_amount!=null"> ${{(responseBatchesById.payload.reversals.created_max_amount|number:2)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.reversals.originated_count==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.reversals.originated_count!=undefined"> {{(responseBatchesById.payload.reversals.originated_count|number)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                             <span data-ng-if="responseBatchesById.payload.reversals.originated_sum==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.reversals.originated_sum!=null"> ${{(responseBatchesById.payload.reversals.originated_sum|number:2)}}
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.reversals.settled_count==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.reversals.settled_count!=undefined"> {{(responseBatchesById.payload.reversals.settled_count|number)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.reversals.settled_sum==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.reversals.settled_sum!=null"> ${{(responseBatchesById.payload.reversals.settled_sum|number:2)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.reversals.returned_count==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.reversals.returned_count!=undefined"> {{(responseBatchesById.payload.reversals.returned_count|number)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                             <span data-ng-if="responseBatchesById.payload.reversals.returned_sum==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.reversals.returned_sum!=null"> ${{(responseBatchesById.payload.reversals.returned_sum|number:2)}}</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <br>
                                                        <div class='table-responsive col-md-12'>
                                                            <table class="table table-striped table-bordered" >
                                                                <thead>
                                                                    <tr>
                                                                        <th class="grey table-span" rowspan="2" style="width:5%"></th>
                                                                        <th class="blue table-span" colspan="4">Created</th>
                                                                        
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="blue table-span tdtextright">  Count </th>
                                                                        <th class="blue table-span tdtextright">  Sum </th>
                                                                        <th class="blue table-span tdtextright">  Avg </th>
                                                                        <th class="blue table-span tdtextright">  Std </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>


                                                                    <tr class="odd gradeX">
                                                                        <td class="tdtextleft">Errors</td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.errors.created_count==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.errors.created_count!=undefined"> {{(responseBatchesById.payload.errors.created_count|number)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.errors.created_sum==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.errors.created_sum!=null"> ${{(responseBatchesById.payload.errors.created_sum|number:2)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">{{responseBatchesById.payload.errors.created_avg|number:2}}</td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.errors.created_std==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.errors.created_std!=undefined"> {{(responseBatchesById.payload.errors.created_std|number:2)}}</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="odd gradeX">
                                                                        <td class="tdtextleft">Declines</td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.declines.created_count==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.declines.created_count!=undefined"> {{(responseBatchesById.payload.declines.created_count|number)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.declines.created_sum==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.declines.created_sum!=null"> ${{(responseBatchesById.payload.declines.created_sum|number:2)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">{{responseBatchesById.payload.declines.created_avg|number:2}}</td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.declines.created_std==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.declines.created_std!=undefined"> {{(responseBatchesById.payload.declines.created_std|number:2)}}</span>
                                                                        </td> 
                                                                    </tr>
                                                                    <tr class="odd gradeX">
                                                                        <td class="tdtextleft">Voids</td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.voids.created_count==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.voids.created_count!=undefined"> {{(responseBatchesById.payload.voids.created_count|number)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">
                                                                             <span data-ng-if="responseBatchesById.payload.voids.created_sum==null">{{(0|number:2)|currency}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.voids.created_sum!=null"> ${{(responseBatchesById.payload.voids.created_sum|number:2)}}</span>
                                                                        </td>
                                                                        <td class="tdtextright">{{responseBatchesById.payload.voids.created_avg|number:2}}</td>
                                                                        <td class="tdtextright">
                                                                            <span data-ng-if="responseBatchesById.payload.voids.created_std==undefined">{{(0)}}</span>
                                                                            <span data-ng-if="responseBatchesById.payload.voids.created_std!=undefined"> {{(responseBatchesById.payload.voids.created_std|number:2)}}</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>






                                        </div>

                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            
           
        </div>
    </div>

</div>
 <div class="page-spinner-bar" id="spinner" ng-show="loading">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>








<!--MODAL FOR MERCHANT-->
<div aria-hidden="true" role="dialog" class="modal fade" id="modal_merchant" style="display: none;">

    <div class="modal-dialog modal-lg modal-view">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                <h4 class="modal-title">Batch For Merchant ID ({{merchantId}})</h4>
            </div>
            <div class="modal-body table-responsive" data-ng-if="loadBathchesByMerchant">

                <table  class="table table-striped table-bordered " >
                    <thead>
                        <tr>
                            <th class="grey table-span" rowspan="2" style="width:5%"></th>
                            <th class="blue table-span" colspan="5">Created</th>
                            <th class="cream table-span" colspan="2">Originated</th>
                            <th class="green table-span" colspan="2">Settled</th>
                            <th class="brown table-span" colspan="2">Returned</th>
                        </tr>
                        <tr>
                            <th class="blue table-span tdtextright">  Count </th>
                            <th class="blue table-span tdtextright">  Sum </th>
                            <th class="blue table-span tdtextright">  Avg </th>
                            <th class="blue table-span tdtextright">  STD </th>
                            <th class="blue table-span tdtextright">  Max Amount </th>
                            <th class="cream table-span tdtextright">  Count </th>
                            <th class="cream table-span tdtextright">  Sum </th>
                            <th class="green table-span tdtextright">  Count </th>
                            <th class="green table-span tdtextright">  Sum </th>
                            <th class="brown table-span tdtextright">  Count </th>
                            <th class="brown table-span tdtextright">  Sum </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td class="tdtextleft">Credits</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.credits.created_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.credits.created_count!=undefined"> {{(responseBatchesByMerchant.payload.credits.created_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                               <span data-ng-if="responseBatchesByMerchant.payload.credits.created_sum==null">{{(0|number:2)|currency}}</span>
                               <span data-ng-if="responseBatchesByMerchant.payload.credits.created_sum!=null"> ${{(responseBatchesByMerchant.payload.credits.created_sum|number:2)}}</span>
                            </td>
                            <td class="tdtextright">{{responseBatchesByMerchant.payload.credits.created_avg|number:2}}</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.credits.created_std==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.credits.created_std!=undefined"> {{(responseBatchesByMerchant.payload.credits.created_std|number:2)}}</span>
                            </td>
                            <td class="tdtextright">
                               <span data-ng-if="responseBatchesByMerchant.payload.credits.created_max_amount==null">{{(0|number:2)|currency}}</span>
                               <span data-ng-if="responseBatchesByMerchant.payload.credits.created_max_amount!=null"> ${{(responseBatchesByMerchant.payload.credits.created_max_amount|number:2)}}</span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.credits.originated_count===null">{{0}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.credits.originated_count!==null">{{responseBatchesByMerchant.payload.credits.originated_count|number}}</span>
                                </td>
                            <td class="tdtextright">
                                <span ng-if="responseBatchesByMerchant.payload.credits.originated_sum === null">{{(0|number:2)|currency}} </span>
                                <span ng-if="responseBatchesByMerchant.payload.credits.originated_sum !== null">${{responseBatchesByMerchant.payload.credits.originated_sum|number:2}} </span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.credits.settled_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.credits.settled_count!=undefined"> {{(responseBatchesByMerchant.payload.credits.settled_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                              <span data-ng-if="responseBatchesByMerchant.payload.credits.settled_sum==null">{{(0|number:2)|currency}}</span>
                             <span data-ng-if="responseBatchesByMerchant.payload.credits.settled_sum!=null"> ${{(responseBatchesByMerchant.payload.credits.settled_sum|number:2)}}</span>

                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.credits.returned_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.credits.returned_count!=undefined"> {{(responseBatchesByMerchant.payload.credits.returned_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                             <span data-ng-if="responseBatchesByMerchant.payload.credits.returned_sum==null">{{(0|number:2)|currency}}</span>
                              <span data-ng-if="responseBatchesByMerchant.payload.credits.returned_sum!=null"> ${{(responseBatchesByMerchant.payload.credits.returned_sum|number:2)}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdtextleft">Debits</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.debits.created_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.debits.created_count!=undefined"> {{(responseBatchesByMerchant.payload.debits.created_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.debits.created_sum==null">{{(0|number:2)|currency}}</span>
                               <span data-ng-if="responseBatchesByMerchant.payload.debits.created_sum!=null"> ${{(responseBatchesByMerchant.payload.debits.created_sum|number:2)}}</span>
                            </td>
                            <td class="tdtextright">{{responseBatchesByMerchant.payload.debits.created_avg|number:2}}</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.debits.created_std==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.debits.created_std!=undefined"> {{(responseBatchesByMerchant.payload.debits.created_std|number:2)}}</span>
                            </td>
                            <td class="tdtextright">
                               <span data-ng-if="responseBatchesByMerchant.payload.debits.created_max_amount==null">{{(0|number:2)|currency}}</span>
                               <span data-ng-if="responseBatchesByMerchant.payload.debits.created_max_amount!=null"> ${{(responseBatchesByMerchant.payload.debits.created_max_amount|number:2)}}</span>
                            </td>
                            <td class="tdtextright">
                                <span ng-if="responseBatchesByMerchant.payload.debits.originated_count === null">{{0}} </span>
                                <span ng-if="responseBatchesByMerchant.payload.debits.originated_count !== null">
                                {{responseBatchesByMerchant.payload.debits.originated_count|number}} </span>
                                </td>
                            <td class="tdtextright">
                                <span ng-if="responseBatchesByMerchant.payload.debits.originated_sum === null">{{0|number:2|currency}} </span>
                                <span ng-if="responseBatchesByMerchant.payload.debits.originated_sum !== null">${{responseBatchesByMerchant.payload.debits.originated_sum|number:2}}</span>
                           
                            </td>
                            <td class="tdtextright">
                            <span data-ng-if="responseBatchesByMerchant.payload.debits.settled_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.debits.settled_count!=undefined"> {{(responseBatchesByMerchant.payload.debits.settled_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                                   <span data-ng-if="responseBatchesByMerchant.payload.debits.settled_sum==null">{{(0|number:2)|currency}}</span>
                             <span data-ng-if="responseBatchesByMerchant.payload.debits.settled_sum!=null"> ${{(responseBatchesByMerchant.payload.debits.settled_sum|number:2)}}</span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.debits.returned_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.debits.returned_count!=undefined"> {{(responseBatchesByMerchant.payload.debits.returned_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.debits.returned_sum==null">{{(0|number:2)|currency}}</span>
                              <span data-ng-if="responseBatchesByMerchant.payload.debits.returned_sum!=null"> ${{(responseBatchesByMerchant.payload.debits.returned_sum|number:2)}}</span>
                            </td>

                        </tr>
                        <tr>
                            <td class="tdtextleft">Reversals</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.reversals.created_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.reversals.created_count!=undefined"> {{(responseBatchesByMerchant.payload.reversals.created_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                              <span data-ng-if="responseBatchesByMerchant.payload.reversals.created_sum==null">{{(0|number:2)|currency}}</span>
                               <span data-ng-if="responseBatchesByMerchant.payload.reversals.created_sum!=null"> ${{(responseBatchesByMerchant.payload.reversals.created_sum|number:2)}}</span>
                            </td>
                            <td class="tdtextright">{{responseBatchesByMerchant.payload.reversals.created_avg|number:2}}</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.reversals.created_std==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.reversals.created_std!=undefined"> {{(responseBatchesByMerchant.payload.reversals.created_std|number:2)}}</span>
                            </td>
                            <td class="tdtextright">
                               <span data-ng-if="responseBatchesByMerchant.payload.reversals.created_max_amount==null">{{(0|number:2)|currency}}</span>
                               <span data-ng-if="responseBatchesByMerchant.payload.reversals.created_max_amount!=null"> ${{(responseBatchesByMerchant.payload.reversals.created_max_amount|number:2)}}</span>
                            </td>
                            <td class="tdtextright">
                                <span ng-if="responseBatchesByMerchant.payload.reversals.originated_count === null">{{0}} </span>
                                <span ng-if="responseBatchesByMerchant.payload.reversals.originated_count !== null">{{responseBatchesByMerchant.payload.reversals.originated_count|number}}</span>
                                </td>
                            <td class="tdtextright">
                                <span ng-if="responseBatchesByMerchant.payload.reversals.originated_sum === null">{{0|number:2|currency}}</span>
                                <span ng-if="responseBatchesByMerchant.payload.reversals.originated_sum !== null">  ${{responseBatchesByMerchant.payload.reversals.originated_sum|number:2}} </span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.reversals.settled_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.reversals.settled_count!=undefined"> {{(responseBatchesByMerchant.payload.reversals.settled_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                              <span data-ng-if="responseBatchesByMerchant.payload.reversals.settled_sum==null">{{(0|number:2)|currency}}</span>
                             <span data-ng-if="responseBatchesByMerchant.payload.reversals.settled_sum!=null"> ${{(responseBatchesByMerchant.payload.reversals.settled_sum|number:2)}}</span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.reversals.returned_count==null">{{0}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.reversals.returned_count!=null">{{responseBatchesByMerchant.payload.reversals.returned_count|number}}</span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.reversals.returned_sum==null">{{(0|number:2)|currency}}</span>
                              <span data-ng-if="responseBatchesByMerchant.payload.reversals.returned_sum!=null"> ${{(responseBatchesByMerchant.payload.reversals.returned_sum|number:2)}}</span>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <br>

                <table  class="table table-striped table-bordered " >
                    <thead>
                        <tr>
                            <th class="grey table-span" rowspan="2"style="width:5%"></th>
                            <th class="blue table-span" colspan="4">Created</th>
                        </tr>
                        <tr>
                            <th class="blue table-span tdtextright">  Count </th>
                            <th class="blue table-span tdtextright">  Sum </th>
                            <th class="blue table-span tdtextright">  Avg </th>
                            <th class="blue table-span tdtextright">  Std </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td class="tdtextleft">Errors</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.errors.created_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.errors.created_count!=undefined"> {{(responseBatchesByMerchant.payload.errors.created_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.errors.created_sum==null">{{(0|number:2)|currency}}</span>
                               <span data-ng-if="responseBatchesByMerchant.payload.errors.created_sum!=null"> ${{(responseBatchesByMerchant.payload.errors.created_sum|number:2)}}</span>
                            </td>
                            <td class="tdtextright">{{responseBatchesByMerchant.payload.errors.created_avg|number:2}}</td>
                            <td class="tdtextright">
                            <span data-ng-if="responseBatchesByMerchant.payload.errors.created_std==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.errors.created_std!=undefined"> {{(responseBatchesByMerchant.payload.errors.created_std|number:2)}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdtextleft">Declines</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.declines.created_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.declines.created_count!=undefined"> {{(responseBatchesByMerchant.payload.declines.created_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.declines.created_sum==null">{{(0|number:2)|currency}}</span>
                               <span data-ng-if="responseBatchesByMerchant.payload.declines.created_sum!=null"> ${{(responseBatchesByMerchant.payload.declines.created_sum|number:2)}}</span>
                            </td>
                            <td class="tdtextright">{{responseBatchesByMerchant.payload.declines.created_avg|number:2}}</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.declines.created_std==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.declines.created_std!=undefined"> {{(responseBatchesByMerchant.payload.declines.created_std|number:2)}}</span>
                            </td> 

                        </tr>
                        <tr>
                            <td class="tdtextleft">Voids</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.voids.created_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.voids.created_count!=undefined"> {{(responseBatchesByMerchant.payload.voids.created_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.voids.created_sum==null">{{(0|number:2)|currency}}</span>
                               <span data-ng-if="responseBatchesByMerchant.payload.voids.created_sum!=null"> ${{(responseBatchesByMerchant.payload.voids.created_sum|number:2)}}</span>
                            </td>
                            <td class="tdtextright">{{responseBatchesByMerchant.payload.voids.created_avg|number:2}}</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByMerchant.payload.voids.created_std==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByMerchant.payload.voids.created_std!=undefined"> {{(responseBatchesByMerchant.payload.voids.created_std|number:2)}}</span>
                            </td> 
                        </tr>

                    </tbody>
                </table>







            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>

            </div>
        </div>
    </div>
</div>







<!--MODAL FOR ISO-->
<div aria-hidden="true" role="dialog" class="modal fade" id="modal_iso" style="display: none;">

    <div class="modal-dialog modal-lg modal-view">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                <h4 class="modal-title">Batch For ISO ID  ({{isoID}})</h4>
            </div>
            <div class="modal-body table-responsive" data-ng-if="loadBathchesByIso">

                <table  class="table table-striped table-bordered " >
                    <thead>
                        <tr>
                            <th class="grey table-span" rowspan="2"style="width:5%"></th>
                            <th class="blue table-span" colspan="5">Created</th>
                            <th class="cream table-span" colspan="2">Originated</th>
                            <th class="green table-span" colspan="2">Settled</th>
                            <th class="brown table-span" colspan="2">Returned</th>
                        </tr>
                        <tr>
                            <th class="blue table-span tdtextright">  Count </th>
                            <th class="blue table-span tdtextright">  Sum </th>
                            <th class="blue table-span tdtextright">  Average </th>
                            <th class="blue table-span tdtextright">  Std </th>
                            <th class="blue table-span tdtextright">  Max Amount </th>
                            <th class="cream table-span tdtextright">  Count </th>
                            <th class="cream table-span tdtextright">  Sum </th>
                            <th class="green table-span tdtextright">  Count </th>
                            <th class="green table-span tdtextright">  Sum </th>
                            <th class="brown table-span tdtextright">  Count </th>
                            <th class="brown table-span tdtextright">  Sum </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td class="tdtextleft">Credits</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByIso.payload.credits.created_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByIso.payload.credits.created_count!=undefined"> {{(responseBatchesByIso.payload.credits.created_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                                 <span data-ng-if="responseBatchesByIso.payload.credits.created_sum==null">{{(0|number:2)|currency}}</span>
                                 <span data-ng-if="responseBatchesByIso.payload.credits.created_sum!=null">${{responseBatchesByIso.payload.credits.created_sum|number:2}}</span>
                            </td>
                            <td class="tdtextright">{{responseBatchesByIso.payload.credits.created_avg|number:2}}</td>
                            <td class="tdtextright">
                            <span data-ng-if="responseBatchesByIso.payload.credits.created_std==undefined">{{(0)}}</span>
                            <span data-ng-if="responseBatchesByIso.payload.credits.created_std!=undefined"> {{(responseBatchesByIso.payload.credits.created_std|number:2)}}</span>
                            </td>
                            <td class="tdtextright">
                               <span data-ng-if="responseBatchesByIso.payload.credits.created_max_amount==null">{{(0|number:2)|currency}}</span>
                                 <span data-ng-if="responseBatchesByIso.payload.credits.created_max_amount!=null">${{responseBatchesByIso.payload.credits.created_max_amount|number:2}}</span>
                            </td>
                            <td class="tdtextright">
                                <span ng-if="responseBatchesByIso.payload.credits.originated_count === null">{{0}} </span>
                                <span ng-if="responseBatchesByIso.payload.credits.originated_count !== null">{{responseBatchesByIso.payload.credits.originated_count|number}}</span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByIso.payload.credits.originated_sum==null">{{(0|number:2)|currency}}</span>
                                 <span data-ng-if="responseBatchesByIso.payload.credits.originated_sum!=null">${{responseBatchesByIso.payload.credits.originated_sum|number:2}}
                            </td>
                            <td class="tdtextright">
                            <span data-ng-if="responseBatchesByIso.payload.credits.settled_count==undefined">{{(0)}}</span>
                            <span data-ng-if="responseBatchesByIso.payload.credits.settled_count!=undefined"> {{(responseBatchesByIso.payload.credits.settled_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByIso.payload.credits.settled_sum==null">{{(0|number:2)|currency}}</span>
                                <span data-ng-if="responseBatchesByIso.payload.credits.settled_sum!=null"> ${{(responseBatchesByIso.payload.credits.settled_sum|number:2)}}</span>
                            </td>
                            <td class="tdtextright">
                                <span ng-if="responseBatchesByIso.payload.credits.returned_count === null">{{0}} </span>
                                <span ng-if="responseBatchesByIso.payload.credits.returned_count !== null">{{responseBatchesByIso.payload.credits.returned_count|number}}</span>
                            </td>
                            <td class="tdtextright">
                               <span data-ng-if="responseBatchesByIso.payload.credits.returned_sum==null">{{(0|number:2)|currency}}</span>
                               <span data-ng-if="responseBatchesByIso.payload.credits.returned_sum!=null"> ${{(responseBatchesByIso.payload.credits.returned_sum|number:2)}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdtextleft">Debits</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByIso.payload.debits.created_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByIso.payload.debits.created_count!=undefined"> {{(responseBatchesByIso.payload.debits.created_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                               <span data-ng-if="responseBatchesByIso.payload.debits.created_sum==null">{{(0|number:2)|currency}}</span>
                                 <span data-ng-if="responseBatchesByIso.payload.debits.created_sum!=null">${{responseBatchesByIso.payload.debits.created_sum|number:2}}</span>
                            </td>
                            <td class="tdtextright">{{responseBatchesByIso.payload.debits.created_avg|number:2}}</td>
                            <td class="tdtextright">
                            <span data-ng-if="responseBatchesByIso.payload.debits.created_std==undefined">{{(0)}}</span>
                            <span data-ng-if="responseBatchesByIso.payload.debits.created_std!=undefined"> {{(responseBatchesByIso.payload.debits.created_std|number:2)}}</span>
                            </td>
                            <td class="tdtextright">
                              <span data-ng-if="responseBatchesByIso.payload.debits.created_max_amount==null">{{(0|number:2)|currency}}</span>
                                 <span data-ng-if="responseBatchesByIso.payload.debits.created_max_amount!=null">${{responseBatchesByIso.payload.debits.created_max_amount|number:2}}</span>
                            </td>
                            <td class="tdtextright">
                                <span ng-if="responseBatchesByIso.payload.debits.originated_count === null">{{0}} </span>
                                <span ng-if="responseBatchesByIso.payload.debits.originated_count !== null">{{responseBatchesByIso.payload.debits.originated_count|number}}</span>
                            </td>
                            <td class="tdtextright">
                               <span data-ng-if="responseBatchesByIso.payload.debits.originated_sum==null">{{(0|number:2)|currency}}</span>
                                 <span data-ng-if="responseBatchesByIso.payload.debits.originated_sum!=null">${{responseBatchesByIso.payload.debits.originated_sum|number:2}}
                            </td>
                            <td class="tdtextright">
                            <span data-ng-if="responseBatchesByIso.payload.debits.settled_count==undefined">{{(0)}}</span>
                            <span data-ng-if="responseBatchesByIso.payload.debits.settled_count!=undefined"> {{(responseBatchesByIso.payload.debits.settled_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByIso.payload.debits.settled_sum==null">{{(0|number:2)|currency}}</span>
                                <span data-ng-if="responseBatchesByIso.payload.debits.settled_sum!=null"> ${{(responseBatchesByIso.payload.debits.settled_sum|number:2)}}</span>
                            
                            </td>
                            <td class="tdtextright">
                                <span ng-if="responseBatchesByIso.payload.debits.returned_count === null">{{0}} </span>
                                <span ng-if="responseBatchesByIso.payload.debits.returned_count !== null">{{responseBatchesByIso.payload.debits.returned_count|number}}</span>
                            </td>
                            <td class="tdtextright">
                               <span data-ng-if="responseBatchesByIso.payload.debits.returned_sum==null">{{(0|number:2)|currency}}</span>
                               <span data-ng-if="responseBatchesByIso.payload.debits.returned_sum!=null"> ${{(responseBatchesByIso.payload.debits.returned_sum|number:2)}}</span>
                            
                            </td>

                        </tr>
                        <tr>
                            <td class="tdtextleft"><span>Reversals</span></td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByIso.payload.reversals.created_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByIso.payload.reversals.created_count!=undefined"> {{(responseBatchesByIso.payload.reversals.created_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByIso.payload.reversals.created_sum==null">{{(0|number:2)|currency}}</span>
                                 <span data-ng-if="responseBatchesByIso.payload.reversals.created_sum!=null">${{responseBatchesByIso.payload.reversals.created_sum|number:2}}</span>
                            </td>
                            <td class="tdtextright">{{responseBatchesByIso.payload.reversals.created_avg|number:2}}</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByIso.payload.reversals.created_std==undefined">{{(0)}}</span>
                            <span data-ng-if="responseBatchesByIso.payload.reversals.created_std!=undefined"> {{(responseBatchesByIso.payload.reversals.created_std|number:2)}}</span>
                            </td>
                            <td class="tdtextright">
                               <span data-ng-if="responseBatchesByIso.payload.reversals.created_max_amount==null">{{(0|number:2)|currency}}</span>
                                 <span data-ng-if="responseBatchesByIso.payload.reversals.created_max_amount!=null">${{responseBatchesByIso.payload.reversals.created_max_amount|number:2}}</span>
                            </td>
                            <td class="tdtextright">
                                <span ng-if="responseBatchesByIso.payload.reversals.originated_count === null">{{0}} </span>
                                <span ng-if="responseBatchesByIso.payload.reversals.originated_count !== null">{{responseBatchesByIso.payload.reversals.originated_count|number}}</span>
                            </td>
                            <td class="tdtextright">
                               <span data-ng-if="responseBatchesByIso.payload.reversals.originated_sum==null">{{(0|number:2)|currency}}</span>
                                 <span data-ng-if="responseBatchesByIso.payload.reversals.originated_sum!=null">${{responseBatchesByIso.payload.reversals.originated_sum|number:2}}
                            </td>
                            <td class="tdtextright">
                            <span data-ng-if="responseBatchesByIso.payload.reversals.settled_count==undefined">{{(0)}}</span>
                            <span data-ng-if="responseBatchesByIso.payload.reversals.settled_count!=undefined"> {{(responseBatchesByIso.payload.reversals.settled_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                               <span data-ng-if="responseBatchesByIso.payload.reversals.settled_sum==null">{{(0|number:2)|currency}}</span>
                                <span data-ng-if="responseBatchesByIso.payload.reversals.settled_sum!=null"> ${{(responseBatchesByIso.payload.reversals.settled_sum|number:2)}}</span>
                            
                            </td>
                            <td class="tdtextright">
                                <span ng-if="responseBatchesByIso.payload.reversals.returned_count === null">{{0}} </span>
                                <span ng-if="responseBatchesByIso.payload.reversals.returned_count !== null">{{responseBatchesByIso.payload.reversals.returned_count|number}}</span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByIso.payload.reversals.returned_sum==null">{{(0|number:2)|currency}}</span>
                               <span data-ng-if="responseBatchesByIso.payload.reversals.returned_sum!=null"> ${{(responseBatchesByIso.payload.reversals.returned_sum|number:2)}}</span>
                            
                            </td>
                        </tr>

                    </tbody>
                </table>

                <br>

                <table  class="table table-striped table-bordered " >
                    <thead>
                        <tr>
                            <th class="grey table-span" rowspan="2"style="width:5%"></th>
                            <th class="blue table-span" colspan="4">Created</th>
                        </tr>
                        <tr>
                            <th class="blue table-span tdtextright"> Created Count </th>
                            <th class="blue table-span tdtextright"> Created Sum </th>
                            <th class="blue table-span tdtextright"> Created Avg </th>
                            <th class="blue table-span tdtextright"> Created Std </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td class="tdtextleft">Errors</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByIso.payload.errors.created_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByIso.payload.errors.created_count!=undefined"> {{(responseBatchesByIso.payload.errors.created_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                               <span data-ng-if="responseBatchesByIso.payload.errors.created_sum==null">{{(0|number:2)|currency}}</span>
                                 <span data-ng-if="responseBatchesByIso.payload.errors.created_sum!=null">${{responseBatchesByIso.payload.errors.created_sum|number:2}}</span>
                            </td>
                            <td class="tdtextright">{{responseBatchesByIso.payload.errors.created_avg|number:2}}</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByIso.payload.errors.created_std==undefined">{{(0)}}</span>
                            <span data-ng-if="responseBatchesByIso.payload.errors.created_std!=undefined"> {{(responseBatchesByIso.payload.errors.created_std|number:2)}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdtextleft">Declines</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByIso.payload.declines.created_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByIso.payload.declines.created_count!=undefined"> {{(responseBatchesByIso.payload.declines.created_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByIso.payload.declines.created_sum==null">{{(0|number:2)|currency}}</span>
                                 <span data-ng-if="responseBatchesByIso.payload.declines.created_sum!=null">${{responseBatchesByIso.payload.declines.created_sum|number:2}}</span>
                            </td>
                            <td class="tdtextright">{{responseBatchesByIso.payload.declines.created_avg|number:2}}</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByIso.payload.declines.created_std==undefined">{{(0)}}</span>
                            <span data-ng-if="responseBatchesByIso.payload.declines.created_std!=undefined"> {{(responseBatchesByIso.payload.declines.created_std|number:2)}}</span>
                            </td>  

                        </tr>
                        <tr>
                            <td class="tdtextleft">Voids</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByIso.payload.voids.created_count==undefined">{{(0)}}</span>
                                <span data-ng-if="responseBatchesByIso.payload.voids.created_count!=undefined"> {{(responseBatchesByIso.payload.voids.created_count|number)}}</span>
                            </td>
                            <td class="tdtextright">
                              <span data-ng-if="responseBatchesByIso.payload.voids.created_sum==null">{{(0|number:2)|currency}}</span>
                                 <span data-ng-if="responseBatchesByIso.payload.voids.created_sum!=null">${{responseBatchesByIso.payload.voids.created_sum|number:2}}</span>
                            </td>
                            <td class="tdtextright">{{responseBatchesByIso.payload.voids.created_avg|number:2}}</td>
                            <td class="tdtextright">
                                <span data-ng-if="responseBatchesByIso.payload.voids.created_std==undefined">{{(0)}}</span>
                            <span data-ng-if="responseBatchesByIso.payload.voids.created_std!=undefined"> {{(responseBatchesByIso.payload.voids.created_std|number:2)}}</span>
                            </td>
                        </tr>

                    </tbody>
                </table>







            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>

            </div>
        </div>
    </div>
</div>    
</div>









<script>
            //ComponentsDateTimePickers.init();
            
            //Making all whole table row clickable
            $(document).ready(function(){
                    $('tbody tr').click(function(){
                        window.location = $(this).data('target');
                        return false;
                    });
            });
    
            $(document).ready(function () {

                var active = true;

                $('#collapse-init').click(function () {
                    if (active) {
                        active = false;
                        $('.panel-collapse').collapse('show');
                        $('.panel-title').attr('data-toggle', '');
                        $(this).text('Enable accordion behavior');
                    } else {
                        active = true;
                        $('.panel-collapse').collapse('hide');
                        $('.panel-title').attr('data-toggle', 'collapse');
                        $(this).text('Disable accordion behavior');
                    }
                });

                $('#accordion').on('show.bs.collapse', function () {
                    if (active)
                        $('#accordion .in').collapse('hide');
                });



                

            });

</script>