
<div class="portlet light boardered">


    <div class="row">
        <form ng-submit="fetchBatchesById()">
            <div class="col-md-5">

                <div class="form-group">
                    <label class="col-sm-4 control-label">Batch ID:</label>
                    <div class="col-sm-8">
                        <div class="input-group">

                            <span style="position: relative; display: inline-block;" class="twitter-typeahead">
                                <input class="form-control input-sm input-small input-inline searchcus  ng-pristine ng-untouched ng-invalid ng-invalid-required" placeholder="" ng-model="batch_id" required="" type="text">
                            </span></div>

                    </div>
                </div>

            </div>
            <div class="col-md-2">
                <div class="form-group">

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-check"></i> Go</button>

                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12" data-ng-if="loadBathchesById" >
            <hr>
                        <!--<pre>{{ responseBatchesById | json}}</pre>-->

            <div class="table-responsive"><table role="grid"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <thead >
                        <tr role="row" class="heading">
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Date </th>
                            <th class="report-thead" colspan="1" rowspan="1" tabindex="0"  width="5%"> Transaction ID Start </th>
                            <th class="report-thead" colspan="1" rowspan="1" tabindex="0"  width="5%"> Transaction ID End </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Cutoff Time </th>


                        </tr>

                    </thead>
                    <tbody> 
                        <tr role="row">

                            <td class=" report-heading-tr ">{{responseBatchesById.payload.date}}</td>
                            <td>{{responseBatchesById.payload.txn_id_start}}</td>
                            <td>{{responseBatchesById.payload.txn_id_end}}</td>
                            <td>{{responseBatchesById.payload.cutoff_time}}</td>


                        </tr>


                    </tbody>
                </table></div>





        </div>
    </div>
    <div class="row">
        <div class="col-md-12" data-ng-if="loadBathchesById" >
            

            <div class="table-responsive"><table role="grid"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <thead >
                        <tr role="row" class="heading">
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Merchants Affected </th>
                            <th class="report-thead" colspan="1" rowspan="1" tabindex="0"  width="5%"> Created Count </th>
                            <th class="report-thead" colspan="1" rowspan="1" tabindex="0"  width="5%"> Created Sum </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Average </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Std </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Max Amount </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Originated Count </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Originated Sum </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Settled Count </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Settled Sum </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Returned Count </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Returned Sum </th>
                        </tr>

                    </thead>
                    <tbody> 
                        <tr class="odd" role="row">
                            <td class=" report-heading-tr ">Credits</td>
                            <td>{{responseBatchesById.payload.credits.merchants_affected}}</td>
                            <td>{{responseBatchesById.payload.credits.created_count}}</td>
                            <td>{{responseBatchesById.payload.credits.created_sum}}</td>
                            <td>{{responseBatchesById.payload.credits.created_avg}}</td>
                            <td>{{responseBatchesById.payload.credits.created_std}}</td>
                            <td>{{responseBatchesById.payload.credits.created_max_amount}}</td>
                            <td>{{responseBatchesById.payload.credits.originated_count}}</td>
                            <td>{{responseBatchesById.payload.credits.originated_sum}}</td>
                            <td>{{responseBatchesById.payload.credits.settled_count}}</td>
                            <td>{{responseBatchesById.payload.credits.settled_sum}}</td>
                            <td>{{responseBatchesById.payload.credits.returned_count}}</td>
                            <td>{{responseBatchesById.payload.credits.returned_sum}}</td>

                        </tr>
                        <tr class="even" role="row">
                            <td class=" report-heading-tr ">Debits</td>
                            <td>{{responseBatchesById.payload.debits.merchants_affected}}</td>
                            <td>{{responseBatchesById.payload.debits.created_count}}</td>
                            <td>{{responseBatchesById.payload.debits.created_sum}}</td>
                            <td>{{responseBatchesById.payload.debits.created_avg}}</td>
                            <td>{{responseBatchesById.payload.debits.created_std}}</td>
                            <td>{{responseBatchesById.payload.debits.created_max_amount}}</td>
                            <td>{{responseBatchesById.payload.debits.originated_count}}</td>
                            <td>{{responseBatchesById.payload.debits.originated_sum}}</td>
                            <td>{{responseBatchesById.payload.debits.settled_count}}</td>
                            <td>{{responseBatchesById.payload.debits.settled_sum}}</td>
                            <td>{{responseBatchesById.payload.debits.returned_count}}</td>
                            <td>{{responseBatchesById.payload.debits.returned_sum}}</td>

                        </tr>
                        <tr class="odd" role="row">
                            <td class=" report-heading-tr "><span>Reversals</span></td>
                            <td>{{responseBatchesById.payload.reversals.merchants_affected}}</td>
                            <td>{{responseBatchesById.payload.reversals.created_count}}</td>
                            <td>{{responseBatchesById.payload.reversals.created_sum}}</td>
                            <td>{{responseBatchesById.payload.reversals.created_avg}}</td>
                            <td>{{responseBatchesById.payload.reversals.created_std}}</td>
                            <td>{{responseBatchesById.payload.reversals.created_max_amount}}</td>
                            <td>{{responseBatchesById.payload.reversals.originated_count}}</td>
                            <td>{{responseBatchesById.payload.reversals.originated_sum}}</td>
                            <td>{{responseBatchesById.payload.reversals.settled_count}}</td>
                            <td>{{responseBatchesById.payload.reversals.settled_sum}}</td>
                            <td>{{responseBatchesById.payload.reversals.returned_count}}</td>
                            <td>{{responseBatchesById.payload.reversals.returned_sum}}</td>
                        </tr>
                    </tbody>
                </table></div>





        </div>
    </div>

    <div class="row">
        <div class="col-md-12" data-ng-if="loadBathchesById">


            <div class="table-responsive"><table role="grid"  class="table table-striped table-bordered table-hover dataTable no-footer">
                    <thead>
                        <tr role="row" class="heading">
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Merchants Affected </th>
                            <th class="report-thead" colspan="1" rowspan="1" tabindex="0"  width="5%"> Created Count </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Sum </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Avg </th>
                            <th class="report-thead" colspan="1" rowspan="1"  tabindex="0"  width="5%"> Created Std </th>

                        </tr>

                    </thead>
                    <tbody> 
                        <tr class="odd" role="row">
                            <td class="report-heading-tr">Errors</td>
                            <td>{{responseBatchesById.payload.errors.merchants_affected}}</td>
                            <td>{{responseBatchesById.payload.errors.created_count}}</td>
                            <td>{{responseBatchesById.payload.errors.created_sum}}</td>
                            <td>{{responseBatchesById.payload.errors.created_avg}}</td>
                            <td>{{responseBatchesById.payload.errors.created_std}}</td>



                        </tr>
                        <tr class="even" role="row">
                            <td class=" report-heading-tr"><span>Declines</span></td>
                            <td>{{responseBatchesById.payload.declines.merchants_affected}}</td>
                            <td>{{responseBatchesById.payload.declines.created_count}}</td>
                            <td>{{responseBatchesById.payload.declines.created_sum}}</td>
                            <td>{{responseBatchesById.payload.declines.created_avg}}</td>
                            <td>{{responseBatchesById.payload.declines.created_std}}</td>    
                        </tr>
                        <tr class="odd" role="row">
                            <td class=" report-heading-tr"><span>Voids</span></td>
                            <td>{{responseBatchesById.payload.voids.merchants_affected}}</td>
                            <td>{{responseBatchesById.payload.voids.created_count}}</td>
                            <td>{{responseBatchesById.payload.voids.created_sum}}</td>
                            <td>{{responseBatchesById.payload.voids.created_avg}}</td>
                            <td>{{responseBatchesById.payload.voids.created_std}}</td>
                        </tr>
                    </tbody>
                </table></div>





        </div>
    </div>

</div>






