<div class="row portlet light bordered">

    <div class="row">
        <form angular-validator-submit="fetchIsoMerchantsCurrentMonthActivity()"
              name="fetchIsoMerchantCurrentMonthActivity" novalidate
              angular-validator>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-sm-4 control-label" style="margin-top:10px">ISO ID:</label>
                    <div class="col-sm-4">
                        <div class="input-group">

                            <span style="position: relative; display: inline-block;" class="twitter-typeahead">
                                <input class="form-control input-sm input-small input-inline searchcus"
                                       type="text"
                                       name="IsoID"
                                       ng-model="iso_id"
                                       validator="IsoIDValidator(iso_id) === true"
                                       invalid-message="IsoIDValidator(iso_id)"
                                       required>
                            </span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">Go</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12" data-ng-if="loadIsoMerchantsActivity">
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered " ng-init="isoMerchantsActivity.total = {}">
                    <thead>
                    <tr>
                        <th class="grey table-span" colspan="2">Merchant</th>
                        <th class="cream table-span" colspan="5">Trans Count</th>
                        <th class="skyblue table-span" colspan="5">Sum Amount</th>
                        <th class="green table-span" rowspan="2">
                            <a href="#" ng-click="orderByField ='number_of_transaction_ytd';reverseSort = !reverseSort">
                                Trans Count(YTD) </a>
                            <span ng-show="orderByField == 'number_of_transaction_ytd'"><span
                                    ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>

                        <th class="green table-span" rowspan="2">
                            <a href="#" ng-click="orderByField ='sum_of_transaction_ytd';reverseSort = !reverseSort">
                                Sum Amount(YTD) </a>
                            <span ng-show="orderByField == 'sum_of_transaction_ytd'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>

                    </tr>
                    <tr>
                        <th class="grey table-span">
                            <a href="#" ng-click="orderByField ='merchant_id';reverseSort = !reverseSort"> ID </a>
                            <span ng-show="orderByField == 'merchant_id'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>


                        <th class="grey table-span">
                            <a href="#" ng-click="orderByField ='merchant_name';reverseSort = !reverseSort"> Name</a>
                            <span ng-show="orderByField == 'merchant_name'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>


                        <th class="cream table-span">
                            <a href="#" ng-click="orderByField ='last_txn_mtd_count';reverseSort = !reverseSort"> Last
                                MTD</a>
                            <span ng-show="orderByField == 'last_txn_mtd_count'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>


                        <th class="cream table-span">
                            <a href="#" ng-click="orderByField ='current_txn_mtd_count';reverseSort = !reverseSort">
                                Current</a>
                            <span ng-show="orderByField == 'current_txn_mtd_count'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>

                        <th class="cream table-span">
                            <a href="#"
                               ng-click="orderByField ='number_of_transaction_variance';reverseSort = !reverseSort"> MTD
                                (Variance %)</a>
                            <span ng-show="orderByField == 'number_of_transaction_variance'"><span
                                    ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>

                        <th class="cream table-span">
                            <a href="#"
                               ng-click="orderByField ='number_of_transaction_gain';reverseSort = !reverseSort"> MTD
                                (Gain %)</a>
                            <span ng-show="orderByField == 'number_of_transaction_gain'"><span
                                    ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>

                        <th class="cream table-span">
                            <a href="#"
                               ng-click="orderByField ='number_of_transaction_difference';reverseSort = !reverseSort">
                                MTD (Diff)</a>
                            <span ng-show="orderByField == 'number_of_transaction_difference'"><span
                                    ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>


                        <th class="skyblue table-span">
                            <a href="#" ng-click="orderByField ='last_mtd_txn_sum';reverseSort = !reverseSort"> Last
                                MTD</a>
                            <span ng-show="orderByField == 'last_mtd_txn_sum'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>

                        <th class="skyblue table-span">
                            <a href="#" ng-click="orderByField ='current_mtd_txn_sum';reverseSort = !reverseSort">
                                Current </a>
                            <span ng-show="orderByField == 'current_mtd_txn_sum'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>

                        <th class="skyblue table-span">
                            <a href="#"
                               ng-click="orderByField ='sum_of_transaction_variance';reverseSort = !reverseSort"> MTD
                                (Variance %) </a>
                            <span ng-show="orderByField == 'sum_of_transaction_variance'"><span
                                    ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>

                        <th class="skyblue table-span">
                            <a href="#" ng-click="orderByField ='sum_of_transaction_gain';reverseSort = !reverseSort">
                                MTD (Gain %) </a>
                            <span ng-show="orderByField == 'sum_of_transaction_gain'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>

                        <th class="skyblue table-span">
                            <a href="#"
                               ng-click="orderByField ='sum_of_transaction_difference';reverseSort = !reverseSort"> MTD
                                (Diff) </a>
                            <span ng-show="orderByField == 'sum_of_transaction_difference'"><span
                                    ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>


                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-cloak ng-repeat="eachMerchant in isoMerchantsActivity | orderBy:orderByField:reverseSort">
                        <td>{{parseNumber(eachMerchant, 'merchant_id')}}</td>
                        <td>{{eachMerchant.merchant_name}}</td>
                        <td ng-init="isoMerchantsActivity.total.total_last_txn_mtd_count = isoMerchantsActivity.total.total_last_txn_mtd_count+eachMerchant.last_txn_mtd_count"
                            class="tdtextright">{{eachMerchant.last_txn_mtd_count|number}}
                        </td>
                        <td ng-init="isoMerchantsActivity.total.total_current_txn_mtd_count = isoMerchantsActivity.total.total_current_txn_mtd_count+eachMerchant.current_txn_mtd_count"
                            class="tdtextright">{{eachMerchant.current_txn_mtd_count|number}}
                        </td>

                        <td ng-init="isoMerchantsActivity.total.total_number_of_transaction_variance = isoMerchantsActivity.total.total_number_of_transaction_variance+eachMerchant.number_of_transaction_variance"
                            class="tdtextright">
                            <span data-ng-if="eachMerchant.number_of_transaction_variance < 0" style="color:red;"> {{eachMerchant.number_of_transaction_variance | number:2}}</span>
                            <span data-ng-if="eachMerchant.number_of_transaction_variance > 0" style="color:green;"> {{eachMerchant.number_of_transaction_variance | number:2}}</span>
                            <span data-ng-if="eachMerchant.number_of_transaction_variance == 0"> {{eachMerchant.number_of_transaction_variance | number:2}}</span>
                        </td>

                        <td ng-init="isoMerchantsActivity.total.total_number_of_transaction_gain = isoMerchantsActivity.total.total_number_of_transaction_gain+eachMerchant.number_of_transaction_gain "
                            class="tdtextright">
                            <span data-ng-if="eachMerchant.number_of_transaction_gain < 0" style="color:red;"> {{eachMerchant.number_of_transaction_gain | number:2}}</span>
                            <span data-ng-if="eachMerchant.number_of_transaction_gain > 0" style="color:green;"> {{eachMerchant.number_of_transaction_gain | number:2}}</span>
                            <span data-ng-if="eachMerchant.number_of_transaction_gain == 0"> {{eachMerchant.number_of_transaction_gain | number:2}}</span>
                        </td>

                        <td ng-init="isoMerchantsActivity.total.total_number_of_transaction_difference = isoMerchantsActivity.total.total_number_of_transaction_difference+eachMerchant.number_of_transaction_difference"
                            class="tdtextright">
                            <span data-ng-if="eachMerchant.number_of_transaction_difference < 0" style="color:red;"> {{eachMerchant.number_of_transaction_difference | number}}</span>
                            <span data-ng-if="eachMerchant.number_of_transaction_difference > 0" style="color:green;"> {{eachMerchant.number_of_transaction_difference | number}}</span>
                            <span data-ng-if="eachMerchant.number_of_transaction_difference == 0"> {{eachMerchant.number_of_transaction_difference | number}}</span>
                        </td>


                        <td ng-init="isoMerchantsActivity.total.total_last_mtd_txn_sum = isoMerchantsActivity.total.total_last_mtd_txn_sum+eachMerchant.last_mtd_txn_sum"
                            class="tdtextright">
                            {{eachMerchant.last_mtd_txn_sum | currency}}
                        </td>

                        <td ng-init="isoMerchantsActivity.total.total_current_mtd_txn_sum = isoMerchantsActivity.total.total_current_mtd_txn_sum+eachMerchant.current_mtd_txn_sum"
                            class="tdtextright">
                            {{eachMerchant.current_mtd_txn_sum | currency}}
                        </td>


                        <td ng-init="isoMerchantsActivity.total.total_sum_of_transaction_variance = isoMerchantsActivity.total.total_sum_of_transaction_variance+eachMerchant.sum_of_transaction_variance "
                            class="tdtextright">
                            <span data-ng-if="eachMerchant.sum_of_transaction_variance < 0" style="color:red;"> {{eachMerchant.sum_of_transaction_variance | number:2}}</span>
                            <span data-ng-if="eachMerchant.sum_of_transaction_variance > 0" style="color:green;"> {{eachMerchant.sum_of_transaction_variance | number:2}}</span>
                            <span data-ng-if="eachMerchant.sum_of_transaction_variance == 0"> {{eachMerchant.sum_of_transaction_variance | number:2}}</span>
                        </td>

                        <td ng-init="isoMerchantsActivity.total.total_sum_of_transaction_gain = isoMerchantsActivity.total.total_sum_of_transaction_gain+eachMerchant.sum_of_transaction_gain"
                            class="tdtextright">
                            <span data-ng-if="eachMerchant.sum_of_transaction_gain < 0" style="color:red;"> {{eachMerchant.sum_of_transaction_variance | number:2}}</span>
                            <span data-ng-if="eachMerchant.sum_of_transaction_gain > 0" style="color:green;"> {{eachMerchant.sum_of_transaction_variance | number:2}}</span>
                            <span data-ng-if="eachMerchant.sum_of_transaction_gain == 0"> {{eachMerchant.sum_of_transaction_variance | number:2}}</span>
                        </td>

                        <td ng-init="isoMerchantsActivity.total.total_sum_of_transaction_difference =isoMerchantsActivity.total.total_sum_of_transaction_difference+eachMerchant.sum_of_transaction_difference"
                            class="tdtextright">
                            <span data-ng-if="eachMerchant.sum_of_transaction_difference < 0" style="color:red;"> {{eachMerchant.sum_of_transaction_difference | currency}}</span>
                            <span data-ng-if="eachMerchant.sum_of_transaction_difference > 0" style="color:green;"> {{eachMerchant.sum_of_transaction_difference | currency}}</span>
                            <span data-ng-if="eachMerchant.sum_of_transaction_difference == 0"> {{eachMerchant.sum_of_transaction_difference | currency}}</span>
                        </td>

                        <td ng-init="isoMerchantsActivity.total.total_number_of_transaction_ytd = isoMerchantsActivity.total.total_number_of_transaction_ytd+eachMerchant.number_of_transaction_ytd"
                            class="tdtextright">
                            {{eachMerchant.number_of_transaction_ytd | number}}
                        </td>

                        <td ng-init="isoMerchantsActivity.total.total_sum_of_transaction_ytd = isoMerchantsActivity.total.total_sum_of_transaction_ytd+eachMerchant.sum_of_transaction_ytd"
                            class="tdtextright">
                            {{eachMerchant.sum_of_transaction_ytd | currency}}
                        </td>
                    </tr>

                    <tr>
                        <td class="bold">Total</td>
                        <td></td>
                        <td class="tdtextright bold">{{isoMerchantsActivity.total.total_last_txn_mtd_count|number}}</td>
                        <td class="tdtextright bold">{{isoMerchantsActivity.total.total_current_txn_mtd_count|number}}
                        </td>

                        <td class="tdtextright bold">
                            <span data-ng-if="isoMerchantsActivity.total.total_number_of_transaction_variance < 0"
                                  style="color:red;"> {{isoMerchantsActivity.total.total_number_of_transaction_variance | number:2}}</span>
                            <span data-ng-if="isoMerchantsActivity.total.total_number_of_transaction_variance > 0"
                                  style="color:green;"> {{isoMerchantsActivity.total.total_number_of_transaction_variance | number:2}}</span>
                            <span data-ng-if="isoMerchantsActivity.total.total_number_of_transaction_variance == 0"> {{isoMerchantsActivity.total.total_number_of_transaction_variance | number:2}}</span>
                        </td>

                        <td class="tdtextright bold">
                            <span data-ng-if="isoMerchantsActivity.total.total_number_of_transaction_gain < 0"
                                  style="color:red;"> {{isoMerchantsActivity.total.total_number_of_transaction_gain|number}}</span>
                            <span data-ng-if="isoMerchantsActivity.total.total_number_of_transaction_gain > 0"
                                  style="color:green;"> {{isoMerchantsActivity.total.total_number_of_transaction_gain|number}}</span>
                                                <span data-ng-if="isoMerchantsActivity.total.total_number_of_transaction_gain == 0">{{isoMerchantsActivity.total.total_number_of_transaction_gain|number}}
                                                </span>
                        </td>


                        <td class="tdtextright bold">
                            <span data-ng-if="isoMerchantsActivity.total.total_number_of_transaction_difference < 0"
                                  style="color:red;">  {{isoMerchantsActivity.total.total_number_of_transaction_difference|number}}</span>
                            <span data-ng-if="isoMerchantsActivity.total.total_number_of_transaction_difference > 0"
                                  style="color:green;">  {{isoMerchantsActivity.total.total_number_of_transaction_difference|number}}</span>
                                                <span data-ng-if="isoMerchantsActivity.total.total_number_of_transaction_difference == 0"> {{isoMerchantsActivity.total.total_number_of_transaction_difference|number}}
                                                </span>
                        </td>


                        <td class="tdtextright bold">{{isoMerchantsActivity.total.total_last_mtd_txn_sum|currency}}</td>
                        <td class="tdtextright bold">{{isoMerchantsActivity.total.total_current_mtd_txn_sum|currency}}
                        </td>
                        <td class="tdtextright bold">
                                                <span data-ng-if="isoMerchantsActivity.total.total_sum_of_transaction_variance < 0"
                                                      style="color:red;">
                                                    {{isoMerchantsActivity.total.total_sum_of_transaction_variance|number}} </span>
                                                <span data-ng-if="isoMerchantsActivity.total.total_sum_of_transaction_variance > 0"
                                                      style="color:green;">
                                                    {{isoMerchantsActivity.total.total_sum_of_transaction_variance|number}} </span>
                                                <span data-ng-if="isoMerchantsActivity.total.total_sum_of_transaction_variance == 0"> {{isoMerchantsActivity.total.total_number_of_transaction_difference|number}}
                                                </span>
                        </td>


                        <td class="tdtextright bold">
                                               <span data-ng-if="isoMerchantsActivity.total.total_sum_of_transaction_gain < 0"
                                                     style="color:red;">
                                                    {{isoMerchantsActivity.total.total_sum_of_transaction_gain|number}} </span>
                                                <span data-ng-if="isoMerchantsActivity.total.total_sum_of_transaction_gain > 0"
                                                      style="color:green;">
                                                    {{isoMerchantsActivity.total.total_sum_of_transaction_gain|number}} </span>
                                                <span data-ng-if="isoMerchantsActivity.total.total_sum_of_transaction_gain == 0"> {{isoMerchantsActivity.total.total_sum_of_transaction_gain|number}}
                                                </span>

                        </td>


                        <td class="tdtextright bold">
                                                   <span data-ng-if="isoMerchantsActivity.total.total_sum_of_transaction_difference < 0"
                                                         style="color:red;">
                                                    {{isoMerchantsActivity.total.total_sum_of_transaction_difference|number}} </span>
                                                <span data-ng-if="isoMerchantsActivity.total.total_sum_of_transaction_difference > 0"
                                                      style="color:green;">
                                                    {{isoMerchantsActivity.total.total_sum_of_transaction_difference|number}} </span>
                                                <span data-ng-if="isoMerchantsActivity.total.total_sum_of_transaction_difference == 0"> {{isoMerchantsActivity.total.total_sum_of_transaction_difference|number}}
                                                </span>
                        </td>

                        <td class="tdtextright bold">
                            {{isoMerchantsActivity.total.total_number_of_transaction_ytd|number}}
                        </td>
                        <td class="tdtextright bold">
                            {{isoMerchantsActivity.total.total_sum_of_transaction_ytd|currency}}
                        </td>


                    </tr>


                    </tbody>

                </table>
            </div>
        </div>
        <div class="page-spinner-bar" id="spinner" ng-show="loading">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>

    </div>
</div>
































