<div ng-init="fetchIsosCurrentMonthActivity()">
    <div class="portlet light bordered" data-ng-if="loadIsosCurrentMonthActivity">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table role="grid" class="table table-striped table-bordered table-hover dataTable no-footer">
                        <thead>

                        <tr>
                            <!--                            <th class="grey table-span" rowspan="2" >
                                                            <a href="#" ng-click="orderByField = 'iso_id'; reverseSort = !reverseSort">Monthly</a>
                                                            <span ng-show="orderByField == 'iso_id'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                                                        </th>-->
                            <th class="grey table-span" rowspan="2">
                                <a href="#" ng-click="orderByField = 'iso_id'; reverseSort = !reverseSort">ISO ID</a>
                                <span ng-show="orderByField == 'iso_id'"><span ng-show="!reverseSort"><span
                                        class="glyphicon glyphicon-triangle-top"></span></span><span
                                        ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>
                            <th class="cream table-span" colspan="2">Merchants Count</th>
                            <th class="brown table-span" colspan="5">Trans Count</th>
                            <th class="green table-span" colspan="5">Sum of Trans</th>
                        </tr>
                        <tr>
                            <!--                            <th class="cream table-span">
                                                            <a href="#" ng-click="orderByField = 'last_mtd_new_merchants_count'; reverseSort = !reverseSort"> Last MTD</a>
                                                            <span ng-show="orderByField == 'last_mtd_new_merchants_count'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>

                                                        </th>
                                                        <th class="cream table-span">
                                                            <a href="#" ng-click="orderByField = 'current_mtd_new_merchants_count'; reverseSort = !reverseSort"> Current</a>
                                                            <span ng-show="orderByField == 'current_mtd_new_merchants_count'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                                                        </th>-->
                            <th class="cream table-span">
                                <a href="#"
                                   ng-click="orderByField = 'current_mtd_merchants_closed_count'; reverseSort = !reverseSort">New</a>
                                <span ng-show="orderByField == 'current_mtd_merchants_closed_count'"><span
                                        ng-show="!reverseSort"><span
                                        class="glyphicon glyphicon-triangle-top"></span></span><span
                                        ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>

                            </th>
                            <th class="cream table-span">
                                <a href="#"
                                   ng-click="orderByField = 'last_mtd_merchants_closed_count'; reverseSort = !reverseSort">
                                    Closed</a>
                                <span ng-show="orderByField == 'last_mtd_merchants_closed_count'"><span
                                        ng-show="!reverseSort"><span
                                        class="glyphicon glyphicon-triangle-top"></span></span><span
                                        ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>

                            <th class="brown table-span">
                                <a href="#" ng-click="orderByField = 'last_mtd_txn_count'; reverseSort = !reverseSort">
                                    Last MTD</a>
                                <span ng-show="orderByField == 'last_mtd_txn_count'"><span ng-show="!reverseSort"><span
                                        class="glyphicon glyphicon-triangle-top"></span></span><span
                                        ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>


                            <th class="brown table-span">
                                <a href="#"
                                   ng-click="orderByField = 'current_mtd_txn_count'; reverseSort = !reverseSort">
                                    Current</a>
                                <span ng-show="orderByField == 'current_mtd_txn_count'"><span
                                        ng-show="!reverseSort"><span
                                        class="glyphicon glyphicon-triangle-top"></span></span><span
                                        ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>


                            <th class="brown table-span">
                                <a href="#"
                                   ng-click="orderByField = 'mtd_txn_count_variance'; reverseSort = !reverseSort">
                                    Variance %</a>
                                <span ng-show="orderByField == 'mtd_txn_count_variance'"><span
                                        ng-show="!reverseSort"><span
                                        class="glyphicon glyphicon-triangle-top"></span></span><span
                                        ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>


                            <th class="brown table-span">
                                <a href="#" ng-click="orderByField = 'mtd_txn_count_gain'; reverseSort = !reverseSort">
                                    Gain %</a>
                                <span ng-show="orderByField == 'mtd_txn_count_gain'"><span ng-show="!reverseSort"><span
                                        class="glyphicon glyphicon-triangle-top"></span></span><span
                                        ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>

                            <th class="brown table-span">
                                <a href="#"
                                   ng-click="orderByField = 'mtd_txn_count_difference'; reverseSort = !reverseSort">
                                    Difference</a>
                                <span ng-show="orderByField == 'mtd_txn_count_difference'"><span ng-show="!reverseSort"><span
                                        class="glyphicon glyphicon-triangle-top"></span></span><span
                                        ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>


                            <th class="green table-span">
                                <a href="#" ng-click="orderByField = 'last_mtd_txn_sum'; reverseSort = !reverseSort">
                                    Last MTD</a>
                                <span ng-show="orderByField == 'last_mtd_txn_sum'"><span ng-show="!reverseSort"><span
                                        class="glyphicon glyphicon-triangle-top"></span></span><span
                                        ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>


                            <th class="green table-span">
                                <a href="#" ng-click="orderByField = 'current_mtd_txn_sum'; reverseSort = !reverseSort">
                                    Current </a>
                                <span ng-show="orderByField == 'current_mtd_txn_sum'"><span ng-show="!reverseSort"><span
                                        class="glyphicon glyphicon-triangle-top"></span></span><span
                                        ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>


                            <th class="green table-span">
                                <a href="#"
                                   ng-click="orderByField = 'mtd_txn_sum_variance'; reverseSort = !reverseSort">
                                    Variance %</a>
                                <span ng-show="orderByField == 'mtd_txn_sum_variance'"><span
                                        ng-show="!reverseSort"><span
                                        class="glyphicon glyphicon-triangle-top"></span></span><span
                                        ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>

                            <th class="green table-span">
                                <a href="#" ng-click="orderByField = 'mtd_txn_sum_gain'; reverseSort = !reverseSort">
                                    Gain %</a>
                                <span ng-show="orderByField == 'mtd_txn_sum_gain'"><span ng-show="!reverseSort"><span
                                        class="glyphicon glyphicon-triangle-top"></span></span><span
                                        ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>

                            <th class="green table-span">
                                <a href="#"
                                   ng-click="orderByField = 'mtd_txn_sum_difference'; reverseSort = !reverseSort">
                                    Difference</a>
                                <span ng-show="orderByField == 'mtd_txn_sum_difference'"><span
                                        ng-show="!reverseSort"><span
                                        class="glyphicon glyphicon-triangle-top"></span></span><span
                                        ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                            </th>
                        </tr>

                        </thead>
                        <tbody>

                        <tr ng-repeat="isosCurrentMonthActivity in isosCurrentMonthActivityData|orderBy:orderByField:reverseSort">
                            <!--                            <td>
                                                            <a href="/#/reports/monthlyIsoActivity">
                                                                <i class="icon-fixed-width icon-pencil"
                                                                   ng-click = "fetchMonthlyIsoActivity()"
                                                                  />
                                                            </a>
                                                        </td>-->
                            <td>
                                <!--{{parseNumber(isosCurrentMonthActivity, 'iso_id')}}-->
                                {{isosCurrentMonthActivity.iso_id}}
                            </td>

                            <!--                            <td ng-init="isosCurrentMonthActivityData.last_mtd_new_merchants_count= isosCurrentMonthActivityData.last_mtd_new_merchants_count + isosCurrentMonthActivity.last_mtd_new_merchants_count" class="tdtextright">
                                                            {{isosCurrentMonthActivity.last_mtd_new_merchants_count| number}}
                                                        </td>

                                                        <td ng-init="isosCurrentMonthActivityData.current_mtd_new_merchants_count= isosCurrentMonthActivityData.current_mtd_new_merchants_count + isosCurrentMonthActivity.current_mtd_new_merchants_count" class="tdtextright">
                                                            {{isosCurrentMonthActivity.current_mtd_new_merchants_count| number}}
                                                        </td>-->

                            <td ng-init="isosCurrentMonthActivityData.current_mtd_merchants_closed_count= isosCurrentMonthActivityData.current_mtd_merchants_closed_count + isosCurrentMonthActivity.current_mtd_merchants_closed_count"
                                class="tdtextright">
                                {{isosCurrentMonthActivity.current_mtd_merchants_closed_count| number }}
                            </td>

                            <td ng-init="isosCurrentMonthActivityData.last_mtd_merchants_closed_count= isosCurrentMonthActivityData.last_mtd_merchants_closed_count + isosCurrentMonthActivity.last_mtd_merchants_closed_count"
                                class="tdtextright">
                                {{isosCurrentMonthActivity.last_mtd_merchants_closed_count| number }}
                            </td>

                            <td ng-init="isosCurrentMonthActivityData.last_mtd_txn_count= isosCurrentMonthActivityData.last_mtd_txn_count + isosCurrentMonthActivity.last_mtd_txn_count"
                                class="tdtextright">
                                {{isosCurrentMonthActivity.last_mtd_txn_count| number}}
                            </td>

                            <td ng-init="isosCurrentMonthActivityData.current_mtd_txn_count= isosCurrentMonthActivityData.current_mtd_txn_count + isosCurrentMonthActivity.current_mtd_txn_count"
                                class="tdtextright">
                                {{isosCurrentMonthActivity.current_mtd_txn_count| number}}
                            </td>

                            <td ng-init="isosCurrentMonthActivityData.mtd_txn_count_variance= isosCurrentMonthActivityData.mtd_txn_count_variance + isosCurrentMonthActivity.mtd_txn_count_variance"
                                class="tdtextright">
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_count_variance < 0"
                                      style="color:red;">
                                    {{isosCurrentMonthActivity.mtd_txn_count_variance| number:2}}
                                </span>
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_count_variance > 0"
                                      style="color:blue;">
                                    {{isosCurrentMonthActivity.mtd_txn_count_variance|number:2}}
                                </span>
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_count_variance == 0">
                                    {{isosCurrentMonthActivity.mtd_txn_count_variance|number:2}}
                                </span>

                            </td>

                            <td ng-init="isosCurrentMonthActivityData.mtd_txn_count_gain= isosCurrentMonthActivityData.mtd_txn_count_gain + isosCurrentMonthActivity.mtd_txn_count_gain"
                                class="tdtextright">
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_count_gain < 0" style="color:red;">
                                    {{isosCurrentMonthActivity.mtd_txn_count_gain| number:2}}
                                </span>
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_count_gain > 0" style="color:blue;">
                                    {{isosCurrentMonthActivity.mtd_txn_count_gain|number:2}}
                                </span>
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_count_gain == 0">
                                    {{isosCurrentMonthActivity.mtd_txn_count_gain|number:2}}
                                </span>
                            </td>

                            <td ng-init="isosCurrentMonthActivityData.mtd_txn_count_difference= isosCurrentMonthActivityData.mtd_txn_count_difference + isosCurrentMonthActivity.mtd_txn_count_difference"
                                class="tdtextright">
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_count_difference < 0"
                                      style="color:red;">
                                    {{isosCurrentMonthActivity.mtd_txn_count_difference| number}}
                                </span>
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_count_difference > 0"
                                      style="color:blue;">
                                    {{isosCurrentMonthActivity.mtd_txn_count_difference|number}}
                                </span>
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_count_difference == 0">
                                    {{isosCurrentMonthActivity.mtd_txn_count_difference|number}}
                                </span>
                            </td>

                            <td ng-init="isosCurrentMonthActivityData.last_mtd_txn_sum= isosCurrentMonthActivityData.last_mtd_txn_sum + isosCurrentMonthActivity.last_mtd_txn_sum"
                                class="tdtextright">
                                <span data-ng-if="isosCurrentMonthActivity.last_mtd_txn_sum < 0" style="color:red;">
                                    {{isosCurrentMonthActivity.last_mtd_txn_sum| currency}}
                                </span>
                                <span data-ng-if="isosCurrentMonthActivity.last_mtd_txn_sum > 0" style="color:blue;">
                                    {{isosCurrentMonthActivity.last_mtd_txn_sum|currency}}
                                </span>
                                <span data-ng-if="isosCurrentMonthActivity.last_mtd_txn_sum == 0">
                                    {{isosCurrentMonthActivity.last_mtd_txn_sum|currency}}
                                </span>
                            </td>


                            <td ng-init="isosCurrentMonthActivityData.current_mtd_txn_sum= isosCurrentMonthActivityData.current_mtd_txn_sum + isosCurrentMonthActivity.current_mtd_txn_sum"
                                class="tdtextright">
                                <span data-ng-if="isosCurrentMonthActivity.current_mtd_txn_sum < 0" style="color:red;">
                                    {{isosCurrentMonthActivity.current_mtd_txn_sum| currency}}
                                </span>
                                <span data-ng-if="isosCurrentMonthActivity.current_mtd_txn_sum > 0" style="color:blue;">
                                    {{isosCurrentMonthActivity.current_mtd_txn_sum|currency}}
                                </span>
                                <span data-ng-if="isosCurrentMonthActivity.current_mtd_txn_sum == 0">
                                    {{isosCurrentMonthActivity.current_mtd_txn_sum|currency}}
                                </span>

                            </td>
                            <td ng-init="isosCurrentMonthActivityData.mtd_txn_sum_variance= isosCurrentMonthActivityData.mtd_txn_sum_variance + isosCurrentMonthActivity.mtd_txn_sum_variance"
                                class="tdtextright">
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_sum_variance < 0" style="color:red;">
                                    {{isosCurrentMonthActivity.mtd_txn_sum_variance| number:2}}
                                </span>
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_sum_variance > 0"
                                      style="color:blue;">
                                    {{isosCurrentMonthActivity.mtd_txn_sum_variance| number:2}}
                                </span>
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_sum_variance == 0">
                                    {{isosCurrentMonthActivity.mtd_txn_sum_variance| number:2}}
                                </span>

                            </td>

                            <td ng-init="isosCurrentMonthActivityData.mtd_txn_sum_gain= isosCurrentMonthActivityData.mtd_txn_sum_gain + isosCurrentMonthActivity.mtd_txn_sum_gain"
                                class="tdtextright">
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_sum_gain < 0" style="color:red;">
                                    {{isosCurrentMonthActivity.mtd_txn_sum_gain| number:2}}
                                </span>
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_sum_gain > 0" style="color:blue;">
                                    {{isosCurrentMonthActivity.mtd_txn_sum_gain| number:2}}
                                </span>
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_sum_gain == 0">
                                    {{isosCurrentMonthActivity.mtd_txn_sum_gain| number:2}}
                                </span>

                            </td>

                            <td ng-init="isosCurrentMonthActivityData.mtd_txn_sum_difference= isosCurrentMonthActivityData.mtd_txn_sum_difference + isosCurrentMonthActivity.mtd_txn_sum_difference"
                                class="tdtextright">
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_sum_difference < 0"
                                      style="color:red;">
                                    {{isosCurrentMonthActivity.mtd_txn_sum_difference| currency}}
                                </span>
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_sum_difference > 0"
                                      style="color:blue;">
                                    {{isosCurrentMonthActivity.mtd_txn_sum_difference| currency}}
                                </span>
                                <span data-ng-if="isosCurrentMonthActivity.mtd_txn_sum_difference == 0">
                                    {{isosCurrentMonthActivity.mtd_txn_sum_difference| currency}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold"> Total</td>
                            <!--                                <td class="bold tdtextright"> {{isosCurrentMonthActivityData.last_mtd_new_merchants_count| number}} </td>

                                                            <td class="bold tdtextright"> {{isosCurrentMonthActivityData.current_mtd_new_merchants_count| number}} </td>-->

                            <td class="bold tdtextright">
                                {{isosCurrentMonthActivityData.current_mtd_merchants_closed_count| number}}
                            </td>

                            <td class="bold tdtextright">
                                {{isosCurrentMonthActivityData.last_mtd_merchants_closed_count| number}}
                            </td>

                            <td class="bold tdtextright"> {{isosCurrentMonthActivityData.last_mtd_txn_count| number}}
                            </td>

                            <td class="bold tdtextright"> {{isosCurrentMonthActivityData.current_mtd_txn_count|
                                number}}
                            </td>

                            <td class="bold tdtextright">
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_count_variance < 0"
                                      style="color:red;">{{isosCurrentMonthActivityData.mtd_txn_count_variance|number:2}} </span>
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_count_variance > 0"
                                      style="color:green;"> {{isosCurrentMonthActivityData.mtd_txn_count_variance|number:2}} </span>
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_count_variance == 0"> {{isosCurrentMonthActivityData.mtd_txn_count_variance|number:2}} </span>
                            </td>

                            <td class="bold tdtextright">
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_count_gain < 0"
                                      style="color:red;">{{isosCurrentMonthActivityData.mtd_txn_count_gain|number:2}} </span>
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_count_gain > 0"
                                      style="color:green;"> {{isosCurrentMonthActivityData.mtd_txn_count_gain|number:2}} </span>
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_count_gain == 0"> {{isosCurrentMonthActivityData.mtd_txn_count_gain|number:2}} </span>
                            </td>

                            <td class="bold tdtextright">
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_count_difference < 0"
                                      style="color:red;">{{isosCurrentMonthActivityData.mtd_txn_count_difference|number:2}} </span>
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_count_difference > 0"
                                      style="color:green;"> {{isosCurrentMonthActivityData.mtd_txn_count_difference|number:2}} </span>
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_count_difference == 0"> {{isosCurrentMonthActivityData.mtd_txn_count_difference|number:2}} </span>
                            </td>
                            <td class="bold tdtextright">
                                <span data-ng-if="isosCurrentMonthActivityData.last_mtd_txn_sum < 0" style="color:red;">{{isosCurrentMonthActivityData.last_mtd_txn_sum|currency}} </span>
                                <span data-ng-if="isosCurrentMonthActivityData.last_mtd_txn_sum > 0"
                                      style="color:green;"> {{isosCurrentMonthActivityData.last_mtd_txn_sum|currency}} </span>
                                <span data-ng-if="isosCurrentMonthActivityData.last_mtd_txn_sum == 0"> {{isosCurrentMonthActivityData.last_mtd_txn_sum|number:2}} </span>
                            </td>

                            <td class="bold tdtextright">
                                <span data-ng-if="isosCurrentMonthActivityData.current_mtd_txn_sum < 0"
                                      style="color:red;">{{isosCurrentMonthActivityData.current_mtd_txn_sum|currency}} </span>
                                <span data-ng-if="isosCurrentMonthActivityData.current_mtd_txn_sum > 0"
                                      style="color:green;"> {{isosCurrentMonthActivityData.current_mtd_txn_sum|currency}} </span>
                                <span data-ng-if="isosCurrentMonthActivityData.current_mtd_txn_sum == 0"> {{isosCurrentMonthActivityData.current_mtd_txn_sum|currency}} </span>
                            </td>

                            <td class="bold tdtextright">
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_sum_variance < 0"
                                      style="color:red;">{{isosCurrentMonthActivityData.mtd_txn_sum_variance|number:2}} </span>
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_sum_variance > 0"
                                      style="color:green;"> {{isosCurrentMonthActivityData.mtd_txn_sum_variance|number:2}} </span>
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_sum_variance == 0"> {{isosCurrentMonthActivityData.mtd_txn_sum_variance|number:2}} </span>
                            </td>

                            <td class="bold tdtextright">
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_sum_gain < 0" style="color:red;">{{isosCurrentMonthActivityData.mtd_txn_sum_gain|number:2}} </span>
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_sum_gain > 0"
                                      style="color:green;"> {{isosCurrentMonthActivityData.mtd_txn_sum_gain|number:2}} </span>
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_sum_gain == 0"> {{isosCurrentMonthActivityData.mtd_txn_sum_gain|number:2}} </span>
                            </td>

                            <td class="bold tdtextright">
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_sum_difference < 0"
                                      style="color:red;">{{isosCurrentMonthActivityData.mtd_txn_sum_difference|currency}} </span>
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_sum_difference > 0"
                                      style="color:green;"> {{isosCurrentMonthActivityData.mtd_txn_sum_difference|currency}} </span>
                                <span data-ng-if="isosCurrentMonthActivityData.mtd_txn_sum_difference == 0"> {{isosCurrentMonthActivityData.mtd_txn_sum_difference|currency}} </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-spinner-bar" id="spinner" ng-show="loading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

