<div class="portlet light bordered">
    <div class="row">
        <form angular-validator-submit="fetchMonthlyMerchantActivity()" name="fetchMonthlyMerchant" novalidate
              angular-validator>
            <div class="col-md-12">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label" style="margin-top:10px">Dates</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group" id="MerchantDatePicker" datetimepicker ng-model="date">
                                <input type="text" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default date-range-toggle" style="line-height: 1.79;"
                                            type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="margin-top:10px">Merchant ID:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span style="position: relative; display: inline-block;"
                                      class="twitter-typeahead">
                                    <input class="form-control input-sm input-small input-inline searchcus"
                                           type="text"
                                           name="merchantId"
                                           ng-model="merchant_id"
                                           validator="MerchantIDValidator(merchant_id) === true"
                                           invalid-message="MerchantIDValidator(merchant_id)"
                                           required>
                                    </span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-check"></i> Go
                            </button>

                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>


    <div class="row">
        <div class="col-md-12" data-ng-if="loadMerchantActivity">
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered " >
                    <thead>
                    <tr>
                        <th class="grey table-span" rowspan="2">
                            <a href="#" ng-click="orderByField = 'month';reverseSort = !reverseSort"> Months </a>
                            <span ng-show="orderByField == 'month'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>


                        <th class="cream table-span" colspan="2">Trans Count</th>
                        <th class="blue table-span" colspan="2">Sum Amount</th>
                        <th class="brown table-span" colspan="2">Trans Count</th>
                        <th class="green table-span" colspan="2">Sum Amount</th>
                    </tr>
                    <tr>
                        <th class="cream table-span">
                            <a href="#" ng-click="orderByField = 'mtd_txn_count';reverseSort = !reverseSort">
                                Current </a>
                            <span ng-show="orderByField == 'mtd_txn_count'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>

                        <th class="cream table-span">
                            <a href="#" ng-click="orderByField = 'mtd_txn_count_variance';reverseSort = !reverseSort">
                                MTD (Variance %)</a>
                            <span ng-show="orderByField == 'mtd_txn_count_variance'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>

                        </th>
                        <th class="blue table-span">
                            <a href="#" ng-click="orderByField = 'mtd_txn_sum';reverseSort = !reverseSort"> Current </a>
                            <span ng-show="orderByField == 'mtd_txn_sum'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>

                        <th class="blue table-span">
                            <a href="#" ng-click="orderByField = 'mtd_txn_sum_variance';reverseSort = !reverseSort"> MTD
                                (Variance %)</a>
                            <span ng-show="orderByField == 'mtd_txn_sum_variance'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>

                        </th>
                        <th class="brown table-span">
                            <a href="#" ng-click="orderByField = 'txn_count';reverseSort = !reverseSort"> Month </a>
                            <span ng-show="orderByField == 'txn_count'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>


                        <th class="brown table-span">
                            <a href="#" ng-click="orderByField = 'txn_count_variance';reverseSort = !reverseSort"> Month
                                (Variance %)</a>
                            <span ng-show="orderByField == 'txn_count_variance'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>

                        <th class="green table-span">
                            <a href="#" ng-click="orderByField = 'txn_sum';reverseSort = !reverseSort"> Month</a>
                            <span ng-show="orderByField == 'txn_sum'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>


                        <th class="green table-span">
                            <a href="#" ng-click="orderByField = 'txn_sum_variance';reverseSort = !reverseSort"> Month
                                (Variance %)</a>
                            <span ng-show="orderByField == 'txn_sum_variance'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="(key,eachMerchantActivity) in merchantActivity | orderBy:orderByField:reverseSort">
                        <td>{{key}}</td>
                        <td ng-init="total.total_mtd_txn_count = total.total_mtd_txn_count + eachMerchantActivity.mtd_txn_count"
                            class="tdtextright">{{eachMerchantActivity.mtd_txn_count | number}}
                        </td>
                        <td ng-init="total.total_mtd_txn_count_variance = total.total_mtd_txn_count_variance + eachMerchantActivity.mtd_txn_count_variance"
                            class="tdtextright">
                            <span data-ng-if="eachMerchantActivity.mtd_txn_count_variance < 0" style="color:red;"> {{eachMerchantActivity.mtd_txn_count_variance | number:2}}</span>
                            <span data-ng-if="eachMerchantActivity.mtd_txn_count_variance > 0" style="color:green;"> {{eachMerchantActivity.mtd_txn_count_variance | number:2}}</span>
                            <span data-ng-if="eachMerchantActivity.mtd_txn_count_variance == 0"> {{eachMerchantActivity.mtd_txn_count_variance | number:2}}</span>
                        </td>


                        <td ng-init="total.total_mtd_txn_sum = total.total_mtd_txn_sum+eachMerchantActivity.mtd_txn_sum"
                            class="tdtextright">
                            <span data-ng-if="eachMerchantActivity.mtd_txn_sum !== null">{{eachMerchantActivity.mtd_txn_sum | currency}} </span>
                            <span data-ng-if="eachMerchantActivity.mtd_txn_sum === null"> $0.00 </span>
                        </td>


                        <td ng-init="total.total_mtd_txn_sum_variance = total.total_mtd_txn_sum_variance+eachMerchantActivity.mtd_txn_sum_variance"
                            class="tdtextright">
                            <span data-ng-if="eachMerchantActivity.mtd_txn_sum_variance < 0" style="color:red;"> {{eachMerchantActivity.mtd_txn_sum_variance | number:2}}</span>
                            <span data-ng-if="eachMerchantActivity.mtd_txn_sum_variance > 0" style="color:green;"> {{eachMerchantActivity.mtd_txn_sum_variance | number:2}}</span>
                            <span data-ng-if="eachMerchantActivity.mtd_txn_sum_variance == 0"> {{eachMerchantActivity.mtd_txn_sum_variance | number:2}}</span>
                        </td>


                        <td ng-init="total.total_txn_count = total.total_txn_count+eachMerchantActivity.txn_count"
                            class="tdtextright">{{eachMerchantActivity.txn_count | number}}
                        </td>

                        <td ng-init="total.total_txn_count_variance = total.total_txn_count_variance + eachMerchantActivity.txn_count_variance"
                            class="tdtextright">
                            <span data-ng-if="eachMerchantActivity.txn_count_variance < 0" style="color:red;"> {{eachMerchantActivity.txn_count_variance | number:2}}</span>
                            <span data-ng-if="eachMerchantActivity.txn_count_variance > 0" style="color:green;"> {{eachMerchantActivity.txn_count_variance | number:2}}</span>
                            <span data-ng-if="eachMerchantActivity.txn_count_variance == 0"> {{eachMerchantActivity.txn_count_variance | number:2}}</span>
                        </td>


                        <td ng-init="total.total_txn_sum = total.total_txn_sum+eachMerchantActivity.txn_sum"
                            class="tdtextright">
                            <span data-ng-if="eachMerchantActivity.txn_sum !== null">{{eachMerchantActivity.txn_sum | currency}}</span>
                            <span data-ng-if="eachMerchantActivity.txn_sum === null"> $0.00</span>
                        </td>


                        <td ng-init="total.total_txn_sum_variance = total.total_txn_sum_variance + eachMerchantActivity.txn_sum_variance"
                            class="tdtextright">
                            <span data-ng-if="eachMerchantActivity.txn_sum_variance < 0" style="color:red;"> {{eachMerchantActivity.txn_sum_variance | number:2}}</span>
                            <span data-ng-if="eachMerchantActivity.txn_sum_variance > 0" style="color:green;"> {{eachMerchantActivity.txn_sum_variance | number:2}}</span>
                            <span data-ng-if="eachMerchantActivity.txn_sum_variance == 0"> {{eachMerchantActivity.txn_sum_variance | number:2}}</span>
                        </td>

                    </tr>
                    <tr>
                        <td class="bold"> Total</td>
                        <td class="bold tdtextright"> {{total.total_mtd_txn_count|number}}</td>

                        <td class="bold tdtextright">
                            <span data-ng-if="total.total_mtd_txn_count_variance < 0"
                                  style="color:red;">{{total.total_mtd_txn_count_variance|number:2}} </span>
                            <span data-ng-if="total.total_mtd_txn_count_variance > 0"
                                  style="color:green;"> {{total.total_mtd_txn_count_variance|number:2}} </span>
                            <span data-ng-if="total.total_mtd_txn_count_variance == 0"> {{total.total_mtd_txn_count_variance|number:2}} </span>
                        </td>


                        <td class="bold tdtextright"> {{total.total_mtd_txn_sum|currency}}</td>

                        <td class="bold tdtextright">
                            <span data-ng-if="total.total_mtd_txn_sum_variance < 0" style="color:red;">{{total.total_mtd_txn_sum_variance|number:2}} </span>
                            <span data-ng-if="total.total_mtd_txn_sum_variance > 0"
                                  style="color:green;"> {{total.total_mtd_txn_sum_variance|number:2}} </span>
                            <span data-ng-if="total.total_mtd_txn_sum_variance == 0"> {{total.total_mtd_txn_sum_variance|number:2}} </span>
                        </td>
                        <td class="bold tdtextright"> {{total.total_txn_count|number}}</td>

                        <td class="bold tdtextright">
                            <span data-ng-if="total.total_txn_count_variance < 0" style="color:red;">{{total.total_txn_count_variance|number:2}} </span>
                            <span data-ng-if="total.total_txn_count_variance > 0" style="color:green;"> {{total.total_txn_count_variance|number:2}} </span>
                            <span data-ng-if="total.total_txn_count_variance == 0"> {{total.total_txn_count_variance|number:2}} </span>

                        </td>


                        <td class="bold tdtextright">
                            {{total.total_txn_sum|currency}}
                        </td>


                        <td class="bold tdtextright">
                            <span data-ng-if="total.total_txn_sum_variance < 0" style="color:red;">{{total.total_txn_sum_variance|number:2}} </span>
                            <span data-ng-if="total.total_txn_sum_variance > 0" style="color:green;"> {{total.total_txn_sum_variance|number:2}} </span>
                            <span data-ng-if="total.total_txn_sum_variance == 0"> {{total.total_txn_sum_variance|number:2}} </span>
                        </td>

                    <tr>

                    </tbody>

                </table>
            </div>
        </div>

    </div>
    <div class="page-spinner-bar" id="spinner" ng-show="loading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>


<script>
    //            ComponentsDateTimePickers.init();

</script>