<div class="portlet light bordered">
    <div class="row">
        <form angular-validator-submit="fetchMonthlyIsoActivity()" name="fetchMonthlyIso" novalidate angular-validator>
            <div class="col-md-12">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="control-label" style="margin-top:10px">Dates</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group" id="IsoDatePicker" datetimepicker ng-model="date">
                                <input type="text" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <button class="btn default date-range-toggle" style="line-height: 1.79;"
                                            type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="margin-top:10px">Iso ID:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span style="position: relative; display: inline-block;"
                                      class="twitter-typeahead">
                                    <input class="form-control input-sm input-small input-inline searchcus"
                                           type="text"
                                           placeholder=""
                                           name="isoId"
                                           ng-model="iso_id"
                                           validator="IsoIDValidator(iso_id) === true"
                                           invalid-message="IsoIDValidator(iso_id)"
                                           required>
                                    </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-check"></i> Go
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row" ng-cloak>
        <div class="col-md-12" data-ng-if="loadIsoActivity">
            <hr>
            <div class="table-responsive">
                <table ng-cloak class="table table-bordered mainTableIsoMonthlyActivity"
                       ng-init="isoActivity.total = {}">
                    <thead>
                    <tr>
                        <th class="grey table-span" rowspan="3">
                            <a href="#" ng-click="orderByField = 'month';reverseSort = !reverseSort"> Months </a>
                            <span ng-show="orderByField == 'month'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                        </th>
                        <th class="cream table-span" colspan="2"> Merchants Count</th>
                        <th class="lightGreen table-span" colspan="4">Month to Date</th>
                        <th class="blueTop table-span" colspan="4">Entire Month</th>

                    </tr>

                    <tr>
                        <th class="cream table-span"></th>
                        <th class="cream table-span"></th>
                        <th class="blue table-span" colspan="2">Trans Count</th>
                        <th class="brown table-span" colspan="2">Sum Amount</th>
                        <th class="blue table-span" colspan="2">Trans Count</th>
                        <th class="brown table-span" colspan="2">Sum Amount</th>


                    </tr>
                    <tr ng-cloak>


                        <th class="cream table-span"><a href="#"
                                                        ng-click="orderByField = 'merchants_new_count';reverseSort = !reverseSort">
                            New </a>
                            <span ng-show="orderByField == 'mtd_merchants_new_count'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span></th>

                        <th class="cream table-span"><a href="#"
                                                        ng-click="orderByField = 'merchants_closed_count';reverseSort = !reverseSort">
                            Closed </a>
                            <span ng-show="orderByField == 'mtd_merchants_closed_count'"><span
                                    ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span></th>


                        <th class="blue table-span"><a href="#"
                                                       ng-click="orderByField = 'mtd_txn_count';reverseSort = !reverseSort">
                            MTD</a>
                            <span ng-show="orderByField == 'mtd_txn_count'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span></th>

                        <th class="blue table-span"><a href="#"
                                                       ng-click="orderByField = 'mtd_txn_count_variance';reverseSort = !reverseSort">
                            MTD (Variance %)</a>
                            <span ng-show="orderByField == 'mtd_txn_count_variance'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span></th>

                        <th class="brown table-span"><a href="#"
                                                        ng-click="orderByField = 'mtd_txn_sum';reverseSort = !reverseSort">
                            Current </a>
                            <span ng-show="orderByField == 'mtd_txn_sum'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span></th>

                        <th class="brown table-span"><a href="#"
                                                        ng-click="orderByField = 'mtd_txn_sum_variance';reverseSort = !reverseSort">
                            MTD (Variance %) </a>
                            <span ng-show="orderByField == 'mtd_txn_sum_variance'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span></th>

                        <th class="green table-span"><a href="#"
                                                        ng-click="orderByField = 'txn_count';reverseSort = !reverseSort">
                            Month</a>
                            <span ng-show="orderByField == 'txn_count'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span></th>


                        <th class="green table-span"><a href="#"
                                                        ng-click="orderByField = 'txn_count_variance';reverseSort = !reverseSort">
                            Month (Variance %)</a>
                            <span ng-show="orderByField == 'txn_count_variance'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span></th>


                        <th class="skyblue table-span"><a href="#"
                                                          ng-click="orderByField = 'txn_sum';reverseSort = !reverseSort">
                            Month</a>
                            <span ng-show="orderByField == 'txn_sum'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span></th>


                        <th class="skyblue table-span"><a href="#"
                                                          ng-click="orderByField = 'txn_sum_variance';reverseSort = !reverseSort">
                            Month (Variance %)</a>
                            <span ng-show="orderByField == 'txn_sum_variance'"><span ng-show="!reverseSort"><span
                                    class="glyphicon glyphicon-triangle-top"></span></span><span
                                    ng-show="reverseSort"><span
                                    class="glyphicon glyphicon-triangle-bottom"></span></span></span></th>

                    </tr>

                    </thead>

                    <tbody ng-cloak>
                    <tr ng-cloak ng-repeat="(key,eachIsoActivity) in isoActivity | orderBy:orderByField:reverseSort">
                        <td>{{eachIsoActivity.month}}</td>


                        <td ng-init="isoActivity.total.total_merchants_new_count = isoActivity.total.total_merchants_new_count +eachIsoActivity.merchants_new_count "
                            class="tdtextright">{{eachIsoActivity.merchants_new_count|number}}
                        </td>
                        <td ng-init="isoActivity.total.total_merchants_closed_count = isoActivity.total.total_merchants_closed_count + eachIsoActivity.merchants_closed_count "
                            class="tdtextright">{{eachIsoActivity.merchants_closed_count|number}}
                        </td>
                        <td ng-init="isoActivity.total.total_mtd_txn_count = isoActivity.total.total_mtd_txn_count + eachIsoActivity.mtd_txn_count "
                            class="tdtextright">{{eachIsoActivity.mtd_txn_count|number}}
                        </td>
                        <td ng-init="isoActivity.total.total_mtd_txn_count_variance = isoActivity.total.total_mtd_txn_count_variance+eachIsoActivity.mtd_txn_count_variance"
                            class="tdtextright">
                            <span data-ng-if="eachIsoActivity.mtd_txn_count_variance < 0" style="color:red;"> {{eachIsoActivity.mtd_txn_count_variance | number:2}}</span>
                            <span data-ng-if="eachIsoActivity.mtd_txn_count_variance > 0" style="color:green;"> {{eachIsoActivity.mtd_txn_count_variance | number:2}}</span>
                            <span data-ng-if="eachIsoActivity.mtd_txn_count_variance == 0"> {{eachIsoActivity.mtd_txn_count_variance | number:2}}</span>
                        </td>

                        <td ng-init="isoActivity.total.total_mtd_txn_sum = isoActivity.total.total_mtd_txn_sum+ eachIsoActivity.mtd_txn_sum"
                            class="tdtextright">
                            {{eachIsoActivity.mtd_txn_sum | currency}}
                        </td>

                        <td ng-init="isoActivity.total.total_mtd_txn_sum_variance = isoActivity.total.total_mtd_txn_sum_variance+eachIsoActivity.mtd_txn_sum_variance"
                            class="tdtextright">
                            <span data-ng-if="eachIsoActivity.mtd_txn_sum_variance < 0" style="color:red;"> {{eachIsoActivity.mtd_txn_sum_variance | number:2}}</span>
                            <span data-ng-if="eachIsoActivity.mtd_txn_sum_variance > 0" style="color:green;"> {{eachIsoActivity.mtd_txn_sum_variance | number:2}}</span>
                            <span data-ng-if="eachIsoActivity.mtd_txn_sum_variance == 0"> {{eachIsoActivity.mtd_txn_sum_variance | number:2}}</span>
                        </td>

                        <td ng-init="isoActivity.total.total_txn_count = isoActivity.total.total_txn_count+eachIsoActivity.txn_count "
                            class="tdtextright">{{eachIsoActivity.txn_count|number}}
                        </td>

                        <td ng-init="isoActivity.total.total_txn_count_variance = isoActivity.total.total_txn_count_variance+eachIsoActivity.txn_count_variance"
                            class="tdtextright">
                            <span data-ng-if="eachIsoActivity.txn_count_variance < 0" style="color:red;"> {{eachIsoActivity.txn_count_variance | number:2}}</span>
                            <span data-ng-if="eachIsoActivity.txn_count_variance > 0" style="color:green;"> {{eachIsoActivity.txn_count_variance | number:2}}</span>
                            <span data-ng-if="eachIsoActivity.txn_count_variance == 0"> {{eachIsoActivity.txn_count_variance | number:2}}</span>
                        </td>


                        <td ng-init="isoActivity.total.total_txn_sum = isoActivity.total.total_txn_sum+eachIsoActivity.txn_sum"
                            class="tdtextright">
                            {{eachIsoActivity.txn_sum | currency}}
                        </td>


                        <td ng-init="isoActivity.total.total_txn_sum_variance = isoActivity.total.total_txn_sum_variance+eachIsoActivity.txn_sum_variance "
                            class="tdtextright">
                            <span data-ng-if="eachIsoActivity.txn_sum_variance < 0" style="color:red;"> {{eachIsoActivity.txn_sum_variance | number:2}}</span>
                            <span data-ng-if="eachIsoActivity.txn_sum_variance > 0" style="color:green;"> {{eachIsoActivity.txn_sum_variance | number:2}}</span>
                            <span data-ng-if="eachIsoActivity.txn_sum_variance == 0"> {{eachIsoActivity.txn_sum_variance | number:2}}</span>
                        </td>
                    </tr>

                    <!--                                            <tr ng-cloak>
                                                                    <td class="bold"> Total </td>
                                                                    <td class="tdtextright bold">{{isoActivity.total.total_merchants_new_count|number}}</td>
                                                                    <td class="tdtextright bold">{{isoActivity.total.total_merchants_closed_count|number}}</td>
                                                                    <td class="tdtextright bold">{{isoActivity.total.total_mtd_txn_count|number}}</td>

                                                                    <td class="tdtextright bold">
                                                                    <span data-ng-if = "isoActivity.total.total_mtd_txn_count_variance < 0" style="color:red;">   {{isoActivity.total.total_mtd_txn_count_variance|number:2}}</span>
                                                                    <span data-ng-if = "isoActivity.total.total_mtd_txn_count_variance > 0" style="color:green;">   {{isoActivity.total.total_mtd_txn_count_variance|number:2}}</span>
                                                                    <span data-ng-if = "isoActivity.total.total_mtd_txn_count_variance == 0">   {{isoActivity.total.total_mtd_txn_count_variance|number:2}}</span>
                                                                    </td>


                                                                    <td class="tdtextright bold">${{isoActivity.total.total_mtd_txn_sum|number:2}}</td>



                                                                    <td class="tdtextright bold">
                                                                   <span data-ng-if = "isoActivity.total.total_mtd_txn_sum_variance < 0" style="color:red;">   {{isoActivity.total.total_mtd_txn_sum_variance|number:2}}</span>
                                                                    <span data-ng-if = "isoActivity.total.total_mtd_txn_sum_variance > 0" style="color:green;">   {{isoActivity.total.total_mtd_txn_sum_variance|number:2}}</span>
                                                                    <span data-ng-if = "isoActivity.total.total_mtd_txn_sum_variance == 0">   {{isoActivity.total.total_mtd_txn_sum_variance|number:2}}</span>
                                                                     </td>



                                                                    <td class="tdtextright bold">{{isoActivity.total.total_txn_count}}</td>


                                                                    <td class="tdtextright bold">
                                                                     <span data-ng-if = "isoActivity.total.total_txn_count_variance < 0" style="color:red;">   {{isoActivity.total.total_txn_count_variance|number:2}}</span>
                                                                    <span data-ng-if = "isoActivity.total.total_txn_count_variance > 0" style="color:green;">   {{isoActivity.total.total_txn_count_variance|number:2}}</span>
                                                                    <span data-ng-if = "isoActivity.total.total_txn_count_variance == 0">   {{isoActivity.total.total_txn_count_variance|number:2}}</span>
                                                                    </td>

                                                                    <td class="tdtextright bold">${{isoActivity.total.total_txn_sum|number:2}}</td>


                                                                    <td class="tdtextright bold">
                                                                      <span data-ng-if = "isoActivity.total.total_txn_sum_variance < 0" style="color:red;">   {{isoActivity.total.total_txn_sum_variance|number:2}}</span>
                                                                    <span data-ng-if = "isoActivity.total.total_txn_sum_variance > 0" style="color:green;">   {{isoActivity.total.total_txn_sum_variance|number:2}}</span>
                                                                    <span data-ng-if = "isoActivity.total.total_txn_sum_variance == 0">   {{isoActivity.total.total_txn_sum_variance|number:2}}</span>
                                                                    </td>
                                                                </tr>    -->
                    </tbody>
                </table>


            </div>
        </div>


    </div>
</div>
<div class="page-spinner-bar" id="spinner" ng-show="loading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<script>
    ComponentsDateTimePickers.init();
</script>