
<div class="portlet light boardered">
	
		<div class="row">
		    <div class="col-md-6 col-sm-6">
		       
		    </div>
		<div class="col-md-6 col-sm-6">
             <div id="sample_1_filter" class="dataTables_filter pull-right">
                <label>Search:
                    <input type="search" data-ng-model="search" class="form-control input-sm input-small input-inline searchcus" placeholder="" aria-controls="sample_1">
                </label>
            </div>
		 </div>
	</div>
	<br>
	<div class="table-responsive">
	<table class="table borderless">
		<thead class="customthead">
			<tr style="border-bottom:0px;">
				<th style="background-color:#E6EEEE;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'Months';reverseSort = !reverseSort">Months
					<span ng-show="orderByField == 'Months'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
				
				<th style="background-color:#FFFFCC;border-right:4px solid white;"><a href="#" ng-click="orderByField = 'NewofMerchantsMTD';reverseSort = !reverseSort">New # of Merchants (MTD)
					<span ng-show="orderByField == 'NewofMerchantsMTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
				
				<th style="background-color:#FFFFCC;border-right:4px solid white;"><a href="#" ng-click="orderByField = 'ClosedofMerchantsMTD';reverseSort = !reverseSort">Closed # of Merchants (MTD)
					<span ng-show="orderByField == 'ClosedofMerchantsMTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
				
				<th style="background-color:#99CCFF;border-right:4px solid white;"><a href="#" ng-click="orderByField = 'ofTransMTD';reverseSort = !reverseSort"># of Trans (MTD)
					<span ng-show="orderByField == 'ofTransMTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
				
				<th style="background-color:#99CCFF;border-right:4px solid white;"><a href="#" ng-click="orderByField = 'ofTransMTDVariancepercentage';reverseSort = !reverseSort"># of Trans MTD (Variance%)
					<span ng-show="orderByField == 'ofTransMTDVariancepercentage'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
				
				<th style="background-color:#FF9999;border-right:4px solid white; min-width: 150px;margin-left: 0px;"><a href="#" ng-click="orderByField = 'SumAmountThisMTD';reverseSort = !reverseSort">Sum Amount (This MTD)
					<span ng-show="orderByField == 'SumAmountThisMTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
				
				<th style="background-color:#FF9999;border-right:4px solid white; min-width: 150px;margin-left: 0px;"><a href="#" ng-click="orderByField = 'SumAmountMTDVariance';reverseSort = !reverseSort">Sum Amount MTD (Variance%)
					<span ng-show="orderByField == 'SumAmountMTDVariance'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
				
				<th style="background-color:#99FF99;border-right:4px solid white;"><a href="#" ng-click="orderByField = 'ofTransMonth';reverseSort = !reverseSort"># of Trans (Month)
					<span ng-show="orderByField == 'ofTransMonth'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
				
				<th style="background-color:#99FF99;border-right:4px solid white;"><a href="#" ng-click="orderByField = 'ofTransMonthVariancepercentage';reverseSort = !reverseSort"># of Trans Month (Variance%)
					<span ng-show="orderByField == 'ofTransMonthVariancepercentage'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
				
				<th style="background-color:#66FFFF;border-right:4px solid white;"><a href="#" ng-click="orderByField = 'SumAmountMonth';reverseSort = !reverseSort">Sum Amount (Month)
					<span ng-show="orderByField == 'SumAmountMonth'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
				
				<th style="background-color:#66FFFF;border-right:4px solid white;"><a href="#" ng-click="orderByField = 'SumAmountMonthVariancepercentage';reverseSort = !reverseSort">Sum Amount Month (Variance%)
					<span ng-show="orderByField == 'SumAmountMonthVariancepercentage'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
				
			</tr>
		</thead>
		<tbody ng-repeat=" data in report2.slice().reverse() | orderBy:orderByField:reverseSort |filter:search ">
			<tr>
				<td>{{data.Months}}</td>
				<td class="tdtextright">{{data.NewofMerchantsMTD}}</td>
				<td class="tdtextright">{{data.ClosedofMerchantsMTD}}</td>
				<td class="tdtextright">{{data.ofTransMTD | number}}</td>
				
				<td class="tdtextright">
					<span data-ng-if = "data.ofTransMTDVariancepercentage < 0" style="color:red;">{{data.ofTransMTDVariancepercentage| number}}</span>
					<span data-ng-if = "data.ofTransMTDVariancepercentage > 0" style="color:blue;">{{data.ofTransMTDVariancepercentage| number}}</span>
					<span data-ng-if = "data.ofTransMTDVariancepercentage == 0">{{data.ofTransMTDVariancepercentage| number}}</span>
				</td>
				<td class="tdtextright">{{data.SumAmountThisMTD | number}}</td>
				
				<td class="tdtextright">
					<span data-ng-if = "data.SumAmountMTDVariance < 0" style="color:red;">{{data.SumAmountMTDVariance| number}}</span>
					<span data-ng-if = "data.SumAmountMTDVariance > 0" style="color:blue;">{{data.SumAmountMTDVariance| number}}</span>
					<span data-ng-if = "data.SumAmountMTDVariance == 0" >{{data.SumAmountMTDVariance| number}}</span>
				</td>

				<td class="tdtextright">{{data.ofTransMonth | number}}</td>

				<td class="tdtextright">
					<span data-ng-if = "data.ofTransMonthVariancepercentage < 0" style="color:red;">{{data.ofTransMonthVariancepercentage| number}}</span>
					<span data-ng-if = "data.ofTransMonthVariancepercentage > 0" style="color:blue;">{{data.ofTransMonthVariancepercentage| number}}</span>
					<span data-ng-if = "data.ofTransMonthVariancepercentage == 0">{{data.ofTransMonthVariancepercentage| number}}</span>
				</td>
				
				<td class="tdtextright">{{data.SumAmountMonth | number}}</td>

				<td class="tdtextright">
					<span data-ng-if = "data.SumAmountMonthVariancepercentage < 0" style="color:red;">{{data.SumAmountMonthVariancepercentage| number}}</span>
					<span data-ng-if = "data.SumAmountMonthVariancepercentage > 0" style="color:blue;">{{data.SumAmountMonthVariancepercentage| number}}</span>
					<span data-ng-if = "data.SumAmountMonthVariancepercentage == 0">{{data.SumAmountMonthVariancepercentage| number}}</span>
				</td>
				
			</tr>
		</tbody>
	</table>
	
	</div>
</div>
