
<div class="portlet light boardered">
	
		<div class="row">
		    <div class="col-md-6 col-sm-6">

		    </div>

			<div class="col-md-6 col-sm-6">
	             <div id="sample_1_filter" class="dataTables_filter pull-right">
                <label>Search:

                    <input type="search" data-ng-model="search" class="form-control input-sm input-small input-inline searchcus" placeholder="" aria-controls="sample_1">
                    
                </label>
            	</div>
			 </div>
		</div>
		<br>
		
	<div class="table-responsive">
		<table class="table borderless" >
			<thead class="customthead">
				<tr>
					<th style="background-color:#E6EEEE;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField ='IsoNumber';reverseSort = !reverseSort">Iso Number 
					<span ng-show="orderByField == 'IsoNumber'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
					
					<th style="background-color:#E6EEEE;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'IsoActivityHistory';reverseSort = !reverseSort">Iso History
					<span ng-show="orderByField == 'IsoActivityHistory'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
					
					<th style="background-color:#E6EEEE;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'IsoMerchantActivity';reverseSort = !reverseSort">IsoMerchant Activity
					<span ng-show="orderByField == 'IsoMerchantActivity'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
					
					<th style="background-color:#E6EEEE;border-right:4px solid white; min-width: 300px;margin-left: 0px;"class=""><a href="#" ng-click="orderByField = 'IsoName';reverseSort = !reverseSort">Iso Name
					<span ng-show="orderByField == 'IsoName'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
					
					<th style="background-color:#FFFFCC;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'ActiveofMerchants';reverseSort = !reverseSort">Active # of Merchants
					<span ng-show="orderByField == 'ActiveofMerchants'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
					
					<th style="background-color:#FFFFCC;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'NewofMerchantsMTD';reverseSort = !reverseSort">New # of Merchants (MTD)
					<span ng-show="orderByField == 'NewofMerchantsMTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
					
					<th style="background-color:#FFFFCC;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'ClosedofMerchantsMTD';reverseSort = !reverseSort">Closed # of Merchants (MTD)
					<span ng-show="orderByField == 'ClosedofMerchantsMTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span>)</th>
					
					<th style="background-color:#99CCFF;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'ofTransLastMTD';reverseSort = !reverseSort"># of Trans (Last MTD)
					<span ng-show="orderByField == 'ofTransLastMTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
					
					<th style="background-color:#99CCFF;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'ofTransThisMTD';reverseSort = !reverseSort"># of Trans (This MTD)
					<span ng-show="orderByField == 'ofTransThisMTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
					
					<th style="background-color:#99CCFF;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'TransVariancepercentage';reverseSort = !reverseSort"># of Trans (Variance%)
					<span ng-show="orderByField == 'TransVariancepercentage'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
					
					<th style="background-color:#FF9999;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'SumAmountLastMTD';reverseSort = !reverseSort">Sum Amount (Last MTD)
					<span ng-show="orderByField == 'SumAmountLastMTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
					
					<th style="background-color:#FF9999;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'SumAmountThisMTD';reverseSort = !reverseSort">Sum Amount (This MTD)
					<span ng-show="orderByField == 'SumAmountThisMTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
					
					<th style="background-color:#FF9999;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'SumAmountVariancepercentage';reverseSort = !reverseSort">Sum Amount (Variance%)
					<span ng-show="orderByField == 'SumAmountVariancepercentage'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
					
					<th style="background-color:#99FF99;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'ofTransLastMonth';reverseSort = !reverseSort"># of Trans (Last Month)
					<span ng-show="orderByField == 'ofTransLastMonth'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
					
					<th style="background-color:#99FF99;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'SumAmountLastMonth';reverseSort = !reverseSort">Sum Amount (Last Month)
					<span ng-show="orderByField == 'SumAmountLastMonth'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
					
					<th style="background-color:#66FFFF;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'ofTransYTD';reverseSort = !reverseSort"># of Trans (YTD)
					<span ng-show="orderByField == 'ofTransYTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
					
					<th style="background-color:#66FFFF;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'SumAmountYTD';reverseSort = !reverseSort">Sum Amount (YTD)
					<span ng-show="orderByField == 'SumAmountYTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom"></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>
				</tr>

			</thead>
			<tbody >
				<tr ng-repeat="data in report1.slice().reverse() | orderBy:orderByField:reverseSort |filter:search">
					
					<td ng-init="parseIntoInteger(data)">{{data.IsoNumber}}</td>

					<td><a href="#" style="text-decoration:underline">{{data.IsoActivityHistory}}</a></td>
					<td><a href="" style="text-decoration:underline">{{data.IsoMerchantActivity}}</a></td>
					<td>{{data.IsoName}}</td>
					<td class="tdtextright">{{data.ActiveofMerchants| number}}</td>
					<td class="tdtextright">{{data.NewofMerchantsMTD| number}}</td>
					<td class="tdtextright">{{data.ClosedofMerchantsMTD| number}}</td>
					<td class="tdtextright">{{data.ofTransLastMTD | number}}</td>
					<td class="tdtextright">{{data.ofTransThisMTD| number}}</td>
					
					<td class="tdtextright">
						<span data-ng-if = "data.TransVariancepercentage < 0" style="color:red;">{{data.TransVariancepercentage| number}}</span>
						<span data-ng-if = "data.TransVariancepercentage > 0" style="color:blue;">{{data.TransVariancepercentage| number}}</span>
						<span data-ng-if = "data.TransVariancepercentage == 0">{{data.TransVariancepercentage| number:2}}</span>
					</td>
					
					<td class="tdtextright">{{data.SumAmountLastMTD| number}}</td>
					<td class="tdtextright">{{data.SumAmountThisMTD| number}}</td>
					
					<td class="tdtextright">
						<span data-ng-if = "data.TransVariancepercentage < 0" style="color:red;">{{data.SumAmountVariancepercentage| number}}</span>
						<span data-ng-if = "data.TransVariancepercentage > 0" style="color:blue;">{{data.SumAmountVariancepercentage| number}}</span>
						<span data-ng-if = "data.TransVariancepercentage == 0">{{data.SumAmountVariancepercentage| number:2}}</span>
					</td>

					<td class="tdtextright">{{data.ofTransLastMonth| number}}</td>
					<td class="tdtextright">{{data.SumAmountLastMonth| number}}</td>
					<td class="tdtextright">{{data.ofTransYTD| number}}</td>
					<td class="tdtextright">{{data.SumAmountYTD| number}}</td>
					
			
					
				</tr>
			</tbody>
		</table>
		
	</div>
</div>
