
<div class="portlet light boardered">
	
	<div class="row">
		    <div class="col-md-6 col-sm-6">
		      
		    </div>
			<div class="col-md-6 col-sm-6">
	            <div id="sample_1_filter" class="dataTables_filter pull-right">
	                <label>Search:
	                    <input type="search" data-ng-model="search" class="form-control input-sm input-small input-inline searchcus" placeholder="" aria-controls="sample_1">
	                </label>
	            </div>
			 </div>
	</div><br>
	<div class="table-responsive">
	<table class="table borderless">
		<thead class="customthead">
			<tr style="border-bottom:0px;">
				<th style="background-color:#E6EEEE;border-right:4px solid white;"class=""><a href="#" ng-click="orderByField = 'MerchantID';reverseSort = !reverseSort">MerchantID
					<span  ng-show="orderByField == 'MerchantID'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom "></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom"></span></span></span></th>

				<th style="background-color:#E6EEEE;border-right:4px solid white;min-width: 200px;margin-left: 0px;" class=""><a href="#" ng-click="orderByField = 'MerchantName';reverseSort = !reverseSort">MerchantName
					<span ng-show="orderByField == 'MerchantName'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom "></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom "></span></span></span></th>

				<th style="background-color:#FFFFCC;border-right:4px solid white;" ><a href="#" ng-click="orderByField = 'ofTransLastMTD';reverseSort = !reverseSort"># of Trans (Last MTD)
					<span ng-show="orderByField == 'ofTransLastMTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom "></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom "></span></span></span></th>

				<th style="background-color:#FFFFCC;border-right:4px solid white;"><a href="#" ng-click="orderByField = 'ofTransThisMTD';reverseSort = !reverseSort"># of Trans (This MTD)
					<span ng-show="orderByField == 'ofTransThisMTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom "></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom "></span></span></span></th>

				<th style="background-color:#FFFFCC;border-right:4px solid white;"><a href="#" ng-click="orderByField = 'ofTransVariance';reverseSort = !reverseSort"># of Trans MTD (Variance %)
					<span ng-show="orderByField == 'ofTransVariance'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom "></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom "></span></span></span></th>

				<th style="background-color:#99CCFF;border-right:4px solid white;"><a href="#" ng-click="orderByField = 'SumAmountLastMTD';reverseSort = !reverseSort">Sum Amount (LastMTD)
					<span ng-show="orderByField == 'SumAmountLastMTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom "></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom "></span></span></span></th>

				<th style="background-color:#99CCFF;border-right:4px solid white;"><a href="#" ng-click="orderByField = 'SumAmountThisMTD';reverseSort = !reverseSort">Sum Amount (ThisMTD)
					<span ng-show="orderByField == 'SumAmountThisMTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom "></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom "></span></span></span></th>

				<th style="background-color:#99CCFF;border-right:4px solid white;"><a href="#" ng-click="orderByField = 'SumAmountVariancepercentage';reverseSort = !reverseSort">Sum Amount MTD (Variance%)
					<span ng-show="orderByField == 'SumAmountVariancepercentage'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom "></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom "></span></span></span></th>

				<th style="background-color:#FF9999;border-right:4px solid white;"><a href="#" ng-click="orderByField = 'ofTransLastMonth';reverseSort = !reverseSort"># of Trans (Last Month)
					<span ng-show="orderByField == 'ofTransLastMonth'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom "></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom "></span></span></span></th>

				<th style="background-color:#FF9999;border-right:4px solid white;"><a href="#" ng-click="orderByField = 'SumAmountLastMonth';reverseSort = !reverseSort">Sum Amount (LastMonth)
					<span ng-show="orderByField == 'SumAmountLastMonth'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom "></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom "></span></span></span></th>

				<th style="background-color:#99FF99;border-right:4px solid white;"><a href="#" ng-click="orderByField = 'ofTransYTD';reverseSort = !reverseSort"># of Trans (YTD)
					<span ng-show="orderByField == 'ofTransYTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom "></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom "></span></span></span></th>

				<th style="background-color:#99FF99;border-right:4px solid white; min-width: 150px; margin-left: 0px;"><a href="#" ng-click="orderByField = 'SumAmountYTD';reverseSort = !reverseSort">Sum Amount (YTD)
					<span ng-show="orderByField == 'SumAmountYTD'"><span ng-show="!reverseSort"><span class="fa fa-sort glyphcustom "></span></span><span ng-show="reverseSort"><span class="fa fa-sort glyphcustom "></span></span></span></th>
				
			</tr>
		</thead>
		<tbody ng-repeat=" data in report3.slice().reverse() |filter:search | orderBy:orderByField:reverseSort " >
			<tr style="table-border:none;">
				<td><a href="">{{data.MerchantID}}</a></td>
				<td>{{data.MerchantName}}</td>
				<td class="tdtextright">{{data.ofTransLastMTD}}</td>
				<td class="tdtextright">{{data.ofTransThisMTD}}</td>
				<td class="tdtextright">
					<span data-ng-if="data.ofTransVariance < 0" style="color:red;">{{data.ofTransVariance}}</span>
					<span data-ng-if="data.ofTransVariance > 0" style="color:blue;">{{data.ofTransVariance}}</span>
					<span data-ng-if="data.ofTransVariance == 0" >{{data.ofTransVariance |number:2}}</span>
					

				</td>
				<td class="tdtextright">{{data.SumAmountLastMTD}}</td>
				<td class="tdtextright">{{data.SumAmountThisMTD}}</td>

				<td class="tdtextright">
					<span data-ng-if="data.SumAmountVariancepercentage < 0" style="color:red;">{{data.SumAmountVariancepercentage}}</span>
					<span data-ng-if="data.SumAmountVariancepercentage > 0" style="color:blue;">{{data.SumAmountVariancepercentage}}</span>
					<span data-ng-if="data.SumAmountVariancepercentage == 0">{{data.SumAmountVariancepercentage |number:2}}</span>
				</td>
				<td class="tdtextright">{{data.ofTransLastMonth}}</td>
				<td class="tdtextright">{{data.SumAmountLastMonth}}</td>
				<td class="tdtextright">{{data.ofTransYTD}}</td>
				<td class="tdtextright">{{data.SumAmountYTD}}</td>
				
			</tr>
		</tbody>
	</table>
	</div>
	</div>
</div>
