<div class="row portlet light bordered">

    <div class="row">
        <form name="myForm" ng-submit="fetchMonthlyMerchantActivityAndBatches()">
            <div class="col-md-12">

               

                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="margin-top:10px">Merchant ID:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span style="position: relative; display: inline-block;" class="twitter-typeahead">
                                    <input class="form-control input-sm input-small input-inline searchcus"
                                           placeholder=""
                                           type="text"
                                           ng-model="merchant_id"
                                           required>
                                    </span>
                                    </div>

                                    </div>
                                    </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">

                                            <div class="col-sm-12">
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-check"></i> Go</button>

                                            </div>
                                        </div>
                                    </div>
                            </div>

                            </form>
                        </div>
    
    <br>
    <div class="row" ng-if="loadTableBatchVsMonthlyMerchantActivity">
                    <div class="col-md-12">
                        <h4>Total Count Difference</h4>
                        <div class="table-responsive col-md-12">
                            <table  class="table table-striped table-bordered table-responsive" >
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Merchant Id </th>
                                        <th class="tdtextright"> Batch Count </th>
                                        <th class="tdtextright"> Merchant Activity Count </th>
                                        <th class="tdtextright"> Difference</th>
                                        <th style="text-align: center"> Status</th>
                                    </tr>
                                </thead>

                                <tbody>
                     
                                 
                                    <tr ng-repeat="(key,eachData) in array1" >
                                        <td style="text-align: center"> 
                                        {{key}}
                                        </td>
                                        
                                        <td class="tdtextright">
                                            {{eachData.batch.count|number}}
                                        </td>
                                        <td class="tdtextright">
                                            {{eachData.merchant.count|number}}
                                        </td>
                                        
                                        <td class="tdtextright">
                                            {{Math.abs(eachData.batch.count-eachData.merchant.count)|number}}
                                        </td>
                                        
                                        <td style="text-align: center">
                                            <span class="fail" ng-if="Math.abs(eachData.batch.count-eachData.merchant.count) > 0">
                                               FAILED 
                                            </span>
                                            <span class="pass" ng-if="Math.abs(eachData.batch.count-eachData.merchant.count) === 0">
                                               PASSED
                                            </span>  
                                        </td>
                                        
                                    </tr>

                                </tbody>

                            </table>
                        </div>


                    </div>
                
                
      
      
        
        
        

                    <div class="col-md-12">
                        <h4>Total Sum Difference</h4>
                        <div class="table-responsive col-md-12">
                            <table  class="table table-striped table-bordered table-responsive" >
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Merchant Id </th>
                                        <th class="tdtextright"> Batch Sum </th>
                                        <th class="tdtextright"> Merchant Activity Sum </th>
                                        <th class="tdtextright"> Difference</th>
                                        <th style="text-align: center"> Status</th>
                                    </tr>
                                </thead>

                                <tbody>
                                     <tr ng-repeat="(key,eachData) in array1" >
                                        <td style="text-align: center"> 
                                        {{key}}
                                        </td>
                                        
                                        <td class="tdtextright">
                                            {{eachData.batch.sum|number:2}}
                                        </td>
                                        <td class="tdtextright">
                                            {{eachData.merchant.sum|number:2}}
                                        </td>
                                        
                                        <td class="tdtextright">
                                            {{Math.abs(eachData.batch.sum-eachData.merchant.sum)|number:2}}
                                        </td>
                                        
                                        <td style="text-align: center">
                                            <span class="fail" ng-if="Math.abs(eachData.batch.sum-eachData.merchant.sum) > 0">
                                               FAILED 
                                            </span>
                                            <span class="pass" ng-if="Math.abs(eachData.batch.sum-eachData.merchant.sum) === 0">
                                               PASSED
                                            </span>  
                                        </td>
                                        
                                    </tr>

                                </tbody>

                            </table>
                        </div>


                    </div>

        </div>
</div>

<div class="page-spinner-bar" id="spinner" ng-show="loading">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>




  
       
    
   
    
