<div ng-init="fetchAllBatchIdsOfDate()">
    <div class="portlet light bordered">
        <div class="row">
            <form ng-submit="fetchAllBatchIdsOfDate()">
                <div class="col-md-6">
                    <br>
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label" style="margin-top:10px">Dates</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group" id="batchesDatePicker" datetimepicker ng-model="date">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn default date-range-toggle" style="line-height: 1.79;"
                                                type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-check"></i> Go
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </div>
        <div class="row">
            <form ng-submit="fetchData()">
                <div class="col-md-6">
                    <br>
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label" style="margin-top:10px">Batches</label>
                            </div>
                            <div class="col-md-9">


                                <!--<select ng-model="selectedIdArray" ng-options="id for id in arrayOfId" class="form-control" title="Select Batches" multiple>-->

                                <select ng-model="selectedIdArray" id="select2_sample2" class="form-control select2"
                                        multiple ng-options="id for id in arrayOfId" data-placeholder="Select Batches">


                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-check"></i> Go
                                </button>
                            </div>
                        </div>
                    </div>


                </div>

            </form>


        </div>
        <hr>
        <div class="row" ng-if="loadingCompletedOfbatchDetailVsAllMerchantsWithInABatch">

            <div class="col-md-12">
                <h4>Sum of all Merchants Created Count matches Batch Originated Count</h4>
                <div class="table-responsive col-md-12">
                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th rowspan="2" style="text-align: center"> Batch ID</th>
                                <th colspan="3" style="text-align: center">Credit Count</th>
                                <th colspan="3" style="text-align: center">Credit Sum</th>
                                <th colspan="3" style="text-align: center">Debit Count</th>
                                <th colspan="3" style="text-align: center">Debit Sum</th>
                                <th colspan="3" style="text-align: center">Reversal Count</th>
                                <th colspan="3" style="text-align: center">Reversal Sum</th>
                                <th rowspan="2" style="text-align: center">Status</th>
                            </tr>
                            <tr>

                                <th class="tdtextright"> Created</th>
                                <th class="tdtextright"> Originated+Settled+Returned</th>
                                <th class="tdtextright"> Difference</th>
                                <th class="tdtextright"> Created</th>
                                <th class="tdtextright"> Originated+Settled+Returned</th>
                                <th class="tdtextright"> Difference</th>
                                <th class="tdtextright"> Created</th>
                                <th class="tdtextright"> Originated+Settled+Returned</th>
                                <th class="tdtextright"> Difference</th>
                                <th class="tdtextright"> Created</th>
                                <th class="tdtextright"> Originated+Settled+Returned</th>
                                <th class="tdtextright"> Difference</th>
                                <th class="tdtextright"> Created</th>
                                <th class="tdtextright"> Originated+Settled+Returned</th>
                                <th class="tdtextright"> Difference</th>
                                <th class="tdtextright"> Created</th>
                                <th class="tdtextright"> Originated+Settled+Returned</th>
                                <th class="tdtextright"> Difference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,eachData) in allArrayInBatchVsMerchantFirstTest">
                                <td style="text-align: center">{{key}}</td>
                                <td style="text-align: center">{{roundOff(eachData.credit_created_count_merchants, 2)}}</td>
                                <td style="text-align: center">{{roundOff(eachData.credit_originated_count_batch, 2)}}</td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.credit_created_count_merchants, 2) === roundOff(eachData.credit_originated_count_batch, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.credit_created_count_merchants, 2) != roundOff(eachData.credit_originated_count_batch, 2)" class="red-test">
                                        {{roundOff(eachData.credit_created_count_merchants, 2) - roundOff(eachData.credit_originated_count_batch, 2)}}
                                    </span>
                                </td>
                                <td style="text-align: center">${{roundOff(eachData.credit_created_sum_merchants, 2)}}</td>
                                <td style="text-align: center">${{roundOff(eachData.credit_originated_sum_batch, 2)}}</td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.credit_created_sum_merchants, 2) === roundOff(eachData.credit_originated_sum_batch, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.credit_created_sum_merchants, 2) != roundOff(eachData.credit_originated_sum_batch, 2)" class="red-test">
                                        {{((roundOff(eachData.credit_created_sum_merchants, 2) - roundOff(eachData.credit_originated_sum_batch, 2)) | currency)}}
                                    </span>
                                <td style="text-align: center">{{roundOff(eachData.debit_created_count_merchants, 2)}}</td>
                                <td style="text-align: center">{{roundOff(eachData.debit_originated_count_batch, 2)}}</td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.debit_created_count_merchants, 2) === roundOff(eachData.debit_originated_count_batch, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.debit_created_count_merchants, 2) != roundOff(eachData.debit_originated_count_batch, 2)" class="red-test">
                                        {{roundOff(eachData.debit_created_count_merchants, 2) - roundOff(eachData.debit_originated_count_batch, 2)}}
                                    </span>
                                </td>
                                <td style="text-align: center">${{roundOff(eachData.debit_created_sum_merchants, 2)}}</td>
                                <td style="text-align: center">${{roundOff(eachData.debit_originated_sum_batch, 2)}}</td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.debit_created_sum_merchants, 2) === roundOff(eachData.debit_originated_sum_batch, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.debit_created_sum_merchants, 2) != roundOff(eachData.debit_originated_sum_batch, 2)" class="red-test">
                                        {{((roundOff(eachData.debit_created_sum_merchants, 2) - roundOff(eachData.debit_originated_sum_batch, 2)) | currency)}}
                                    </span>
                                </td>
                                <td style="text-align: center">{{roundOff(eachData.reversal_created_count_merchants, 2)}}</td>
                                <td style="text-align: center">{{roundOff(eachData.reversal_originated_count_batch, 2)}}</td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.reversal_created_count_merchants, 2) === roundOff(eachData.reversal_originated_count_batch, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.reversal_created_count_merchants, 2) != roundOff(eachData.reversal_originated_count_batch, 2)" class="red-test">
                                        {{roundOff(eachData.reversal_created_count_merchants, 2) - roundOff(eachData.reversal_originated_count_batch, 2)}}
                                    </span>
                                </td>
                                <td style="text-align: center">${{roundOff(eachData.reversal_created_sum_merchants, 2)}}</td>
                                <td style="text-align: center">${{roundOff(eachData.reversal_originated_sum_batch, 2)}}</td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.reversal_created_sum_merchants, 2) === roundOff(eachData.reversal_originated_sum_batch, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.reversal_created_sum_merchants, 2) != roundOff(eachData.reversal_originated_sum_batch, 2)" class="red-test">
                                        {{((roundOff(eachData.reversal_created_sum_merchants, 2) - roundOff(eachData.reversal_originated_sum_batch, 2)) | currency)}}
                                    </span>
                                </td>



                                <td style="text-align: center">
                                    <span ng-if="(roundOff(eachData.credit_created_count_merchants, 2) - roundOff(eachData.credit_originated_count_batch, 2)) == 0 &&
                                                                (roundOff(eachData.credit_created_sum_merchants, 2) - roundOff(eachData.credit_originated_sum_batch, 2)) == 0 &&
                                                                (roundOff(eachData.debit_created_count_merchants, 2) - roundOff(eachData.debit_originated_count_batch, 2)) == 0 &&
                                                                (roundOff(eachData.debit_created_sum_merchants, 2) - roundOff(eachData.debit_originated_sum_batch, 2)) == 0 &&
                                                                (roundOff(eachData.reversal_created_sum_merchants, 2) - roundOff(eachData.reversal_originated_sum_batch, 2)) == 0 &&
                                                                (roundOff(eachData.reversal_created_sum_merchants, 2) - roundOff(eachData.reversal_originated_sum_batch, 2)) == 0" class="pass">
                                        PASSED
                                    </span>
                                    <span ng-if="(roundOff(eachData.credit_created_count_merchants, 2) - roundOff(eachData.credit_originated_count_batch, 2)) != 0 ||
                                                                (roundOff(eachData.credit_created_sum_merchants, 2) - roundOff(eachData.credit_originated_sum_batch, 2)) != 0 ||
                                                                (roundOff(eachData.debit_created_count_merchants, 2) - roundOff(eachData.debit_originated_count_batch, 2)) != 0 ||
                                                                (roundOff(eachData.debit_created_sum_merchants, 2) - roundOff(eachData.debit_originated_sum_batch, 2)) != 0 ||
                                                                (roundOff(eachData.reversal_created_sum_merchants, 2) - roundOff(eachData.reversal_originated_sum_batch, 2)) != 0 ||
                                                                (roundOff(eachData.reversal_created_sum_merchants, 2) - roundOff(eachData.reversal_originated_sum_batch, 2)) != 0" class="fail">
                                        FAILED
                                    </span>

                                </td>


                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <h4>Credits</h4>
                <div class="table-responsive col-md-12">
                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th rowspan="2" style="text-align: center"> Batch ID</th>
                                <th colspan="3" style="text-align: center">Originated Count</th>
                                <th colspan="3" style="text-align: center">Originated Sum</th>
                                <th rowspan="2" style="text-align: center">Status</th>
                            </tr>
                            <tr>

                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,eachData) in allArrayInBatchVsMerchantSecondTest">
                                <td style="text-align: center">{{key}}</td>
                                <td style="text-align: center">{{roundOff(eachData.credit_originated_count_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFCreditTest[key], 'credit_originated_count')">{{roundOff(eachData.credit_originated_count_merchants, 2)}}</a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.credit_originated_count_batch, 2) === roundOff(eachData.credit_originated_count_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.credit_originated_count_batch, 2) != roundOff(eachData.credit_originated_count_merchants, 2)" class="red-test">
                                        {{roundOff(eachData.credit_originated_count_batch, 2) - roundOff(eachData.credit_originated_count_merchants, 2)}}
                                    </span>
                                </td>
                                <td style="text-align: center">${{roundOff(eachData.credit_originated_sum_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFCreditTest[key], 'credit_originated_sum')">${{roundOff(eachData.credit_originated_sum_merchants, 2)}}</a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.credit_originated_sum_batch, 2) === roundOff(eachData.credit_originated_sum_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.credit_originated_sum_batch, 2) != roundOff(eachData.credit_originated_sum_merchants, 2)" class="red-test">
                                        {{((roundOff(eachData.credit_originated_sum_batch, 2) - roundOff(eachData.credit_originated_sum_merchants, 2)) | currency)}}
                                    </span>
                                </td>
                                <td style="text-align: center">
                                    <span ng-if="(roundOff(eachData.credit_originated_count_batch, 2) - roundOff(eachData.credit_originated_count_merchants, 2)) == 0 && (roundOff(eachData.credit_originated_sum_batch, 2) - roundOff(eachData.credit_originated_sum_merchants, 2)) == 0" class="pass">
                                        PASSED
                                    </span>
                                    <span ng-if="(roundOff(eachData.credit_originated_count_batch, 2) - roundOff(eachData.credit_originated_count_merchants, 2)) != 0 || (roundOff(eachData.credit_originated_sum_batch, 2) - roundOff(eachData.credit_originated_sum_merchants, 2)) != 0" class="fail">
                                        FAILED
                                    </span>

                                </td>

                            </tr>
                        </tbody>

                    </table>
                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th rowspan="2" style="text-align: center"> Batch ID</th>
                                <th colspan="3" style="text-align: center">Settled Count</th>
                                <th colspan="3" style="text-align: center">Settled Sum</th>
                                <th rowspan="2" style="text-align: center">Status</th>
                            </tr>
                            <tr>

                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,eachData) in allArrayInBatchVsMerchantFourthTest">
                                <td style="text-align: center">{{key}}</td>
                                <td style="text-align: center">{{roundOff(eachData.credit_settled_count_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFCreditTest[key], 'credit_settled_count')">{{roundOff(eachData.credit_settled_count_merchants, 2)}}</a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.credit_settled_count_batch, 2) === roundOff(eachData.credit_settled_count_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.credit_settled_count_batch, 2) != roundOff(eachData.credit_settled_count_merchants, 2)" class="red-test">
                                        {{roundOff(eachData.credit_settled_count_batch, 2) - roundOff(eachData.credit_settled_count_merchants, 2)}}
                                    </span>
                                </td>
                                <td style="text-align: center">${{roundOff(eachData.credit_settled_sum_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFCreditTest[key], 'credit_settled_sum')">${{roundOff(eachData.credit_settled_sum_merchants, 2)}}</a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.credit_settled_sum_batch, 2) === roundOff(eachData.credit_settled_sum_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.credit_settled_sum_batch, 2) != roundOff(eachData.credit_settled_sum_merchants, 2)" class="red-test">
                                        {{((roundOff(eachData.credit_settled_sum_batch, 2) - roundOff(eachData.credit_settled_sum_merchants, 2)) | currency)}}
                                    </span>
                                </td>
                                <td style="text-align: center">
                                    <span ng-if="(roundOff(eachData.credit_settled_count_batch, 2) - roundOff(eachData.credit_settled_count_merchants, 2)) == 0 && (roundOff(eachData.credit_settled_sum_batch, 2) - roundOff(eachData.credit_settled_sum_merchants, 2)) == 0" class="pass">
                                        PASSED
                                    </span>
                                    <span ng-if="(roundOff(eachData.credit_settled_count_batch, 2) - roundOff(eachData.credit_settled_count_merchants, 2)) != 0 || (roundOff(eachData.credit_settled_sum_batch, 2) - roundOff(eachData.credit_settled_sum_merchants, 2)) != 0" class="fail">
                                        FAILED
                                    </span>

                                </td>

                            </tr>
                        </tbody>

                    </table>
                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th rowspan="2" style="text-align: center"> Batch ID</th>
                                <th colspan="3" style="text-align: center">Returned Count</th>
                                <th colspan="3" style="text-align: center">Returned Sum</th>
                                <th rowspan="2" style="text-align: center">Status</th>
                            </tr>
                            <tr>

                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,eachData) in allArrayInBatchVsMerchantThirdTest">
                                <td style="text-align: center">{{key}}</td>
                                <td style="text-align: center">{{roundOff(eachData.credit_returned_count_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFCreditTest[key], 'credit_returned_count')">{{roundOff(eachData.credit_returned_count_merchants, 2)}}</a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.credit_returned_count_batch, 2) === roundOff(eachData.credit_returned_count_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.credit_returned_count_batch, 2) != roundOff(eachData.credit_returned_count_merchants, 2)" class="red-test">
                                        {{roundOff(eachData.credit_returned_count_batch, 2) - roundOff(eachData.credit_returned_count_merchants, 2)}}
                                    </span>
                                </td>
                                <td style="text-align: center">${{roundOff(eachData.credit_returned_sum_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFCreditTest[key], 'credit_returned_sum')">
                                        ${{roundOff(eachData.credit_returned_sum_merchants, 2)}}
                                    </a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.credit_returned_sum_batch, 2) === roundOff(eachData.credit_returned_sum_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.credit_returned_sum_batch, 2) != roundOff(eachData.credit_returned_sum_merchants, 2)" class="red-test">
                                        {{roundOff(eachData.credit_returned_sum_batch, 2) - roundOff(eachData.credit_returned_sum_merchants, 2)}}
                                        {{((roundOff(eachData.credit_returned_sum_batch, 2) - roundOff(eachData.credit_returned_sum_merchants, 2)) | currency)}}
                                    </span>
                                </td>
                                <td style="text-align: center">
                                    <span ng-if="(roundOff(eachData.credit_returned_count_batch, 2) - roundOff(eachData.credit_returned_count_merchants, 2)) == 0 && (roundOff(eachData.credit_returned_sum_batch, 2) - roundOff(eachData.credit_returned_sum_merchants, 2)) == 0" class="pass">
                                        PASSED
                                    </span>
                                    <span ng-if="(roundOff(eachData.credit_returned_count_batch, 2) - roundOff(eachData.credit_returned_count_merchants, 2)) != 0 || (roundOff(eachData.credit_returned_sum_batch, 2) - roundOff(eachData.credit_returned_sum_merchants, 2)) != 0" class="fail">
                                        FAILED
                                    </span>

                                </td>

                            </tr>

                        </tbody>

                    </table>
                </div>


            </div> 
            <div class="col-md-12">
                <h4>Debits</h4>
                <div class="table-responsive col-md-12">
                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th rowspan="2" style="text-align: center"> Batch ID</th>
                                <th colspan="3" style="text-align: center">Originated Count</th>
                                <th colspan="3" style="text-align: center">Originated Sum</th>
                                <th rowspan="2" style="text-align: center">Status</th>
                            </tr>
                            <tr>

                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,eachData) in allArrayInBatchVsMerchantSecondTest">
                                <td style="text-align: center">{{key}}</td>
                                <td style="text-align: center">{{roundOff(eachData.debit_originated_count_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFDebitTest[key], 'debit_originated_count')">
                                        {{roundOff(eachData.debit_originated_count_merchants, 2)}}
                                    </a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.debit_originated_count_batch, 2) === roundOff(eachData.debit_originated_count_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.debit_originated_count_batch, 2) != roundOff(eachData.debit_originated_count_merchants, 2)" class="red-test">
                                        {{roundOff(eachData.debit_originated_count_batch, 2) - roundOff(eachData.debit_originated_count_merchants, 2)}}
                                    </span>
                                </td>
                                <td style="text-align: center">${{roundOff(eachData.debit_originated_sum_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFDebitTest[key], 'debit_originated_sum')">
                                        ${{roundOff(eachData.debit_originated_sum_merchants, 2)}}
                                    </a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.debit_originated_sum_batch, 2) === roundOff(eachData.debit_originated_sum_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.debit_originated_sum_batch, 2) != roundOff(eachData.debit_originated_sum_merchants, 2)" class="red-test">
                                        {{((roundOff(eachData.debit_originated_sum_batch, 2) - roundOff(eachData.debit_originated_sum_merchants, 2)) | currency)}}
                                    </span>
                                </td>
                                <td style="text-align: center">
                                    <span ng-if="(roundOff(eachData.debit_originated_count_batch, 2) - roundOff(eachData.debit_originated_count_merchants, 2)) == 0 && (roundOff(eachData.debit_originated_sum_batch, 2) - roundOff(eachData.debit_originated_sum_merchants, 2)) == 0" class="pass">
                                        PASSED
                                    </span>
                                    <span ng-if="(roundOff(eachData.debit_originated_count_batch, 2) - roundOff(eachData.debit_originated_count_merchants, 2)) != 0 || (roundOff(eachData.debit_originated_sum_batch, 2) - roundOff(eachData.debit_originated_sum_merchants, 2)) != 0" class="fail">
                                        FAILED
                                    </span>

                                </td>

                            </tr>
                        </tbody>

                    </table>
                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th rowspan="2" style="text-align: center"> Batch ID</th>
                                <th colspan="3" style="text-align: center">Settled Count</th>
                                <th colspan="3" style="text-align: center">Settled Sum</th>
                                <th rowspan="2" style="text-align: center">Status</th>
                            </tr>
                            <tr>

                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,eachData) in allArrayInBatchVsMerchantFourthTest">
                                <td style="text-align: center">{{key}}</td>
                                <td style="text-align: center">{{roundOff(eachData.debit_settled_count_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFDebitTest[key], 'debit_settled_count')">
                                        {{roundOff(eachData.debit_settled_count_merchants, 2)}}
                                    </a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.debit_settled_count_batch, 2) === roundOff(eachData.debit_settled_count_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.debit_settled_count_batch, 2) != roundOff(eachData.debit_settled_count_merchants, 2)" class="red-test">
                                        {{roundOff(eachData.debit_settled_count_batch, 2) - roundOff(eachData.debit_settled_count_merchants, 2)}}
                                    </span>
                                </td>
                                <td style="text-align: center">${{roundOff(eachData.debit_settled_sum_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFDebitTest[key], 'debit_settled_sum')">
                                        ${{roundOff(eachData.debit_settled_sum_merchants, 2)}}
                                    </a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.debit_settled_sum_batch, 2) === roundOff(eachData.debit_settled_sum_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.debit_settled_sum_batch, 2) != roundOff(eachData.debit_settled_sum_merchants, 2)" class="red-test">
                                        {{((roundOff(eachData.debit_settled_sum_batch, 2) - roundOff(eachData.debit_settled_sum_merchants, 2)) | currency)}}
                                    </span>
                                </td>
                                <td style="text-align: center">
                                    <span ng-if="(roundOff(eachData.debit_settled_count_batch, 2) - roundOff(eachData.debit_settled_count_merchants, 2)) == 0 && (roundOff(eachData.debit_settled_sum_batch, 2) - roundOff(eachData.debit_settled_sum_merchants, 2)) == 0" class="pass">
                                        PASSED
                                    </span>
                                    <span ng-if="(roundOff(eachData.debit_settled_count_batch, 2) - roundOff(eachData.debit_settled_count_merchants, 2)) != 0 || (roundOff(eachData.debit_settled_sum_batch, 2) - roundOff(eachData.debit_settled_sum_merchants, 2)) != 0" class="fail">
                                        FAILED
                                    </span>

                                </td>

                            </tr>
                        </tbody>

                    </table>
                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th rowspan="2" style="text-align: center"> Batch ID</th>
                                <th colspan="3" style="text-align: center">Returned Count</th>
                                <th colspan="3" style="text-align: center">Returned Sum</th>
                                <th rowspan="2" style="text-align: center">Status</th>
                            </tr>
                            <tr>

                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,eachData) in allArrayInBatchVsMerchantThirdTest">
                                <td style="text-align: center">{{key}}</td>
                                <td style="text-align: center">{{roundOff(eachData.debit_returned_count_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFDebitTest[key], 'debit_returned_count')">
                                        {{roundOff(eachData.debit_returned_count_merchants, 2)}}
                                    </a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.debit_returned_count_batch, 2) === roundOff(eachData.debit_returned_count_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.debit_returned_count_batch, 2) != roundOff(eachData.debit_returned_count_merchants, 2)" class="red-test">
                                        {{roundOff(eachData.debit_returned_count_batch, 2) - roundOff(eachData.debit_returned_count_merchants, 2)}}
                                    </span>
                                </td>
                                <td style="text-align: center">${{roundOff(eachData.debit_returned_sum_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFDebitTest[key], 'debit_returned_sum')">
                                        ${{roundOff(eachData.debit_returned_sum_merchants, 2)}}
                                    </a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.debit_returned_sum_batch, 2) === roundOff(eachData.debit_returned_sum_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.debit_returned_sum_batch, 2) != roundOff(eachData.debit_returned_sum_merchants, 2)" class="red-test">
                                        {{((roundOff(eachData.debit_returned_sum_batch, 2) - roundOff(eachData.debit_returned_sum_merchants, 2)) | currency)}}
                                    </span>
                                </td>
                                <td style="text-align: center">
                                    <span ng-if="(roundOff(eachData.debit_returned_count_batch, 2) - roundOff(eachData.debit_returned_count_merchants, 2)) == 0 && (roundOff(eachData.debit_returned_sum_batch, 2) - roundOff(eachData.debit_returned_sum_merchants, 2)) == 0" class="pass">
                                        PASSED
                                    </span>
                                    <span ng-if="(roundOff(eachData.debit_returned_count_batch, 2) - roundOff(eachData.debit_returned_count_merchants, 2)) != 0 || (roundOff(eachData.debit_returned_sum_batch, 2) - roundOff(eachData.debit_returned_sum_merchants, 2)) != 0" class="fail">
                                        FAILED
                                    </span>

                                </td>

                            </tr>

                        </tbody>

                    </table>
                </div>


            </div> 
            <div class="col-md-12">
                <h4>Reversals</h4>
                <div class="table-responsive col-md-12">
                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th rowspan="2" style="text-align: center"> Batch ID</th>
                                <th colspan="3" style="text-align: center">Originated Count</th>
                                <th colspan="3" style="text-align: center">Originated Sum</th>
                                <th rowspan="2" style="text-align: center">Status</th>
                            </tr>
                            <tr>

                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,eachData) in allArrayInBatchVsMerchantSecondTest">
                                <td style="text-align: center">{{key}}</td>
                                <td style="text-align: center">{{roundOff(eachData.reversal_originated_count_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFReversalTest[key], 'reversal_originated_count')">
                                        {{roundOff(eachData.reversal_originated_count_merchants, 2)}}
                                    </a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.reversal_originated_count_batch, 2) === roundOff(eachData.reversal_originated_count_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.reversal_originated_count_batch, 2) != roundOff(eachData.reversal_originated_count_merchants, 2)" class="red-test">
                                        {{roundOff(eachData.reversal_originated_count_batch, 2) - roundOff(eachData.reversal_originated_count_merchants, 2)}}
                                    </span>
                                </td>
                                <td style="text-align: center">${{roundOff(eachData.reversal_originated_sum_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFReversalTest[key], 'reversal_originated_sum')">
                                        ${{roundOff(eachData.reversal_originated_sum_merchants, 2)}}
                                    </a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.reversal_originated_sum_batch, 2) === roundOff(eachData.reversal_originated_sum_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.reversal_originated_sum_batch, 2) != roundOff(eachData.reversal_originated_sum_merchants, 2)" class="red-test">
                                        {{((roundOff(eachData.reversal_originated_sum_batch, 2) - roundOff(eachData.reversal_originated_sum_merchants, 2)) | currency)}}
                                    </span>
                                </td>
                                <td style="text-align: center">
                                    <span ng-if="(roundOff(eachData.reversal_originated_count_batch, 2) - roundOff(eachData.reversal_originated_count_merchants, 2)) == 0 && (roundOff(eachData.reversal_originated_sum_batch, 2) - roundOff(eachData.reversal_originated_sum_merchants, 2)) == 0" class="pass">
                                        PASSED
                                    </span>
                                    <span ng-if="(roundOff(eachData.reversal_originated_count_batch, 2) - roundOff(eachData.reversal_originated_count_merchants, 2)) != 0 || (roundOff(eachData.reversal_originated_sum_batch, 2) - roundOff(eachData.reversal_originated_sum_merchants, 2)) != 0" class="fail">
                                        FAILED
                                    </span>

                                </td>

                            </tr>
                        </tbody>

                    </table>
                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th rowspan="2" style="text-align: center"> Batch ID</th>
                                <th colspan="3" style="text-align: center">Settled Count</th>
                                <th colspan="3" style="text-align: center">Settled Sum</th>
                                <th rowspan="2" style="text-align: center">Status</th>
                            </tr>
                            <tr>

                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,eachData) in allArrayInBatchVsMerchantFourthTest">
                                <td style="text-align: center">{{key}}</td>
                                <td style="text-align: center">{{roundOff(eachData.reversal_settled_count_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFReversalTest[key], 'reversal_settled_count')">
                                        {{roundOff(eachData.reversal_settled_count_merchants, 2)}}
                                    </a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.reversal_settled_count_batch, 2) === roundOff(eachData.reversal_settled_count_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.reversal_settled_count_batch, 2) != roundOff(eachData.reversal_settled_count_merchants, 2)" class="red-test">
                                        {{roundOff(eachData.reversal_settled_count_batch, 2) - roundOff(eachData.reversal_settled_count_merchants, 2)}}
                                    </span>
                                </td>
                                <td style="text-align: center">${{roundOff(eachData.reversal_settled_sum_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFReversalTest[key], 'reversal_settled_sum')">
                                        ${{roundOff(eachData.reversal_settled_sum_merchants, 2)}}
                                    </a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.reversal_settled_sum_batch, 2) === roundOff(eachData.reversal_settled_sum_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.reversal_settled_sum_batch, 2) != roundOff(eachData.reversal_settled_sum_merchants, 2)" class="red-test">
                                        {{((roundOff(eachData.reversal_settled_sum_batch, 2) - roundOff(eachData.reversal_settled_sum_merchants, 2)) | currency)}}
                                    </span>
                                </td>
                                <td style="text-align: center">
                                    <span ng-if="(roundOff(eachData.reversal_settled_count_batch, 2) - roundOff(eachData.reversal_settled_count_merchants, 2)) == 0 && (roundOff(eachData.reversal_settled_sum_batch, 2) - roundOff(eachData.reversal_settled_sum_merchants, 2)) == 0" class="pass">
                                        PASSED
                                    </span>
                                    <span ng-if="(roundOff(eachData.reversal_settled_count_batch, 2) - roundOff(eachData.reversal_settled_count_merchants, 2)) != 0 || (roundOff(eachData.reversal_settled_sum_batch, 2) - roundOff(eachData.reversal_settled_sum_merchants, 2)) != 0" class="fail">
                                        FAILED
                                    </span>

                                </td>

                            </tr>
                        </tbody>

                    </table>
                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th rowspan="2" style="text-align: center"> Batch ID</th>
                                <th colspan="3" style="text-align: center">Returned Count</th>
                                <th colspan="3" style="text-align: center">Returned Sum</th>
                                <th rowspan="2" style="text-align: center">Status</th>
                            </tr>
                            <tr>

                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                                <th class="tdtextright"> Batch</th>
                                <th class="tdtextright"> All Merchants</th>
                                <th class="tdtextright"> Difference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,eachData) in allArrayInBatchVsMerchantThirdTest">
                                <td style="text-align: center">{{key}}</td>
                                <td style="text-align: center">{{roundOff(eachData.reversal_returned_count_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFReversalTest[key], 'reversal_returned_count')">
                                        {{roundOff(eachData.reversal_returned_count_merchants, 2)}}
                                    </a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.reversal_returned_count_batch, 2) === roundOff(eachData.reversal_returned_count_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.reversal_returned_count_batch, 2) != roundOff(eachData.reversal_returned_count_merchants, 2)" class="red-test">
                                        {{roundOff(eachData.reversal_returned_count_batch, 2) - roundOff(eachData.reversal_returned_count_merchants, 2)}}
                                    </span>
                                </td>
                                <td style="text-align: center">${{roundOff(eachData.reversal_returned_sum_batch, 2)}}</td>
                                <td class="tdtextright"> 
                                    <a href="#" data-target="#modal_sum_of_all_merchants" data-toggle="modal" ng-click="openModal(key, arrayCFReversalTest[key], 'reversal_returned_sum')">
                                        ${{roundOff(eachData.reversal_returned_sum_merchants, 2)}}
                                    </a>
                                </td>
                                <td class="tdtextright">
                                    <span ng-if="roundOff(eachData.reversal_returned_sum_batch, 2) === roundOff(eachData.reversal_returned_sum_merchants, 2)" class="green-test">
                                        {{0}}
                                    </span>
                                    <span ng-if="roundOff(eachData.reversal_returned_sum_batch, 2) != roundOff(eachData.reversal_returned_sum_merchants, 2)" class="red-test">
                                        {{roundOff(eachData.reversal_returned_sum_batch, 2) - roundOff(eachData.reversal_returned_sum_merchants, 2)}}
                                        {{((roundOff(eachData.reversal_returned_sum_batch, 2) - roundOff(eachData.reversal_returned_sum_merchants, 2)) | currency)}}
                                    </span>
                                </td>
                                <td style="text-align: center">
                                    <span ng-if="(roundOff(eachData.reversal_returned_count_batch, 2) - roundOff(eachData.reversal_returned_count_merchants, 2)) == 0 && (roundOff(eachData.reversal_returned_sum_batch, 2) - roundOff(eachData.reversal_returned_sum_merchants, 2)) == 0" class="pass">
                                        PASSED
                                    </span>
                                    <span ng-if="(roundOff(eachData.reversal_returned_count_batch, 2) - roundOff(eachData.reversal_returned_count_merchants, 2)) != 0 || (roundOff(eachData.reversal_returned_sum_batch, 2) - roundOff(eachData.reversal_returned_sum_merchants, 2)) != 0" class="fail">
                                        FAILED
                                    </span>

                                </td>

                            </tr>

                        </tbody>

                    </table>
                </div>


            </div> 

        </div>
    </div>
</div>
<div class="page-spinner-bar" id="spinner" ng-show="loading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>




<!--MODAL FOR MERCHANT-->
<div aria-hidden="true" role="dialog" class="modal fade" id="modal_sum_of_all_merchants" style="display: none;">
    <div class="modal-dialog modal-lg modal-view-sm" >
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                <h4 class="modal-title">Detail View of All Merchants for "{{modal_array_detail_type}}" Within Batch:{{modal_batch}}</h4>
            </div>

            <div class="modal-body table-responsive">
                <div class="row" ng-init="objArr.length = 0">
                    <!--<pre>{{modal_batch}}</pre>-->
                    <!--<pre>{{modal_array|json}}</pre>-->
                    <!--<pre>{{modal_array_detail_type}}</pre>-->
                    <!--<pre>{{finalArray|json}}</pre>-->
                </div>
                <table  class="table table-striped table-bordered " ng-if="loadingTableCompleted">
                    <thead>
                        <tr>
                            <th class="blue table-span tdtextleft">  Merchant ID </th>
                            <th class="blue table-span tdtextright">  Value </th>
                            <th class="blue table-span tdtextright">  Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='item in finalArray'>

                            <td class="tdtextleft">{{item.id}}</td>
                            <td class="tdtextright">
                                <!--<span ng-if="eachData[modal_array_detail_type] != null">{{roundOff(eachData[modal_array_detail_type], 2)}}</span>-->
                                <!--<span ng-if="eachData[modal_array_detail_type]== null">0</span>-->
                                {{item.value}}
                            </td>
                            <td class="tdtextright" >
                                {{roundOff(item.cf,2)}}
                                <!--<span>{{getCumulativeSum($index,eachData[modal_array_detail_type])}}</span>-->
                                <!--<span ng-init="objArr[$index].cumul = objArr[$index - 1].cumul + roundOff(eachData[modal_array_detail_type], 2)">{{roundOff(objArr[$index].cumul, 2)}}</span>-->
                                <!--<pre>{{objArr|json}}</pre>-->
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>

            </div>
        </div>
    </div>
</div>
<script>
            ComponentsSelect2.init(); // init todo page
            ComponentsBootstrapSelect.init(); // init todo page
</script>