<div ng-init="fetchAllBatchIdsOfDate()">
    <div class="portlet light bordered">
        <div class="row">
            <form ng-submit="fetchAllBatchIdsOfDate()">
                <div class="col-md-6">
                    <br>
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label" style="margin-top:10px">Dates</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group" id="batchesDatePicker" datetimepicker ng-model="date">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn default date-range-toggle" style="line-height: 1.79;"
                                                type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-check"></i> Go
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

            </form>


        </div>
        <div class="row">
            <form ng-submit="fetchDataById()">
                <div class="col-md-6">
                    <br>
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label" style="margin-top:10px">Batches</label>
                            </div>
                            <div class="col-md-9">


                                <!--<select ng-model="selectedIdArray" ng-options="id for id in arrayOfId" class="form-control" title="Select Batches" multiple>-->

                                <select ng-model="selectedIdArray" id="select2_sample2" class="form-control select2"
                                        multiple ng-options="id for id in arrayOfId" data-placeholder="Select Batches">


                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-check"></i> Go
                                </button>
                            </div>
                        </div>
                    </div>


                </div>

            </form>


        </div>
        <hr>

        <div class="row" data-ng-if="loadCheckersActivity">
            <div class="col-md-12">

                <div class="table-responsive col-md-12">
                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th style="text-align: center"> Batch ID</th>
                                <th style="text-align: center"> Txn ID Difference</th>
                                <th class="tdtextright"> Created Count</th>
                                <th class="tdtextright"> Difference</th>
                                <th style="text-align: center"> Status</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="singleArray in createdCountTxnIdArray">

                                <td style="text-align: center">{{singleArray[0]}}</td>
                                <td style="text-align: center">{{singleArray[1]}}</td>
                                <td class="tdtextright"> {{singleArray[2]}}</td>
                                <td class="tdtextright">
                                    <span ng-if="singleArray[3] === 0" class="green-test">
                                        {{singleArray[3]}}
                                    </span>
                                    <span ng-if="singleArray[3] != 0" class="red-test">
                                        {{singleArray[3]}}
                                    </span>
                                </td>
                                <td style="text-align: center">
                                    <span ng-if="singleArray[4] === 'PASSED'" class="pass">
                                        {{singleArray[4]}}
                                    </span>
                                    <span ng-if="singleArray[4] === 'FAILED'" class="fail">
                                        {{singleArray[4]}}
                                    </span>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>


            </div>

            <div class="col-md-12">
                <h4>Credits</h4>
                <div class="table-responsive col-md-12">
                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th rowspan="2" style="text-align: center"> Batch ID</th>
                                <th colspan="3" style="text-align: center">Count</th>
                                <th colspan="3" style="text-align: center">Sum</th>
                                <th rowspan="2" style="text-align: center">Status</th>
                            </tr>
                            <tr>

                                <th class="tdtextright"> Created</th>
                                <th class="tdtextright"> Originated + Settled + Returned</th>
                                <th class="tdtextright"> Difference</th>

                                <th class="tdtextright"> Created</th>
                                <th class="tdtextright"> Originated + Settled + Returned</th>
                                <th class="tdtextright"> Difference</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="singleArray in creditArray">
                            <td style="text-align: center">{{singleArray[0]}}</td>
                            <td class="tdtextright">{{singleArray[1]}}</td>
                            <td class="tdtextright"> {{singleArray[2]}}</td>

                            <td class="tdtextright">
                                <span ng-if="singleArray[3] === 0" class="green-test">
                                    {{singleArray[3]}}
                                </span>
                                <span ng-if="singleArray[3] != 0" class="red-test">
                                    {{singleArray[3]}}
                                </span>

                            </td>
                            <td class="tdtextright">${{singleArray[4]| number:2 }}</td>
                            <td class="tdtextright">${{singleArray[5]| number:2}}</td>

                            <td class="tdtextright">
                                <span ng-if="singleArray[6] === 0" class="green-test">
                                    ${{singleArray[6]| number:2}}
                                </span>
                                <span ng-if="singleArray[6] != 0" class="red-test">
                                    ${{singleArray[6]| number:2}}
                                </span>
                            </td>
                            <td style="text-align: center">
                                <span ng-if="singleArray[7] === 'PASSED'" class="pass">
                                    {{singleArray[7]}}
                                </span>
                                <span ng-if="singleArray[7] === 'FAILED'" class="fail">
                                    {{singleArray[7]}}
                                </span>
                            </td>
                        </tr>

                        </tbody>

                    </table>
                </div>


            </div>
            <div class="col-md-12">
                <h4>Debits</h4>
                <div class="table-responsive col-md-12">
                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th rowspan="2" style="text-align: center"> Batch ID</th>
                                <th colspan="3" style="text-align: center">Count</th>
                                <th colspan="3" style="text-align: center">Sum</th>
                                <th rowspan="2" style="text-align: center">Status</th>
                            </tr>
                            <tr>

                                <th class="tdtextright"> Created</th>
                                <th class="tdtextright"> Originated + Settled + Returned</th>
                                <th class="tdtextright"> Difference</th>

                                <th class="tdtextright"> Created</th>
                                <th class="tdtextright"> Originated + Settled + Returned</th>
                                <th class="tdtextright"> Difference</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="singleArray in debitArray">

                                <td style="text-align: center">{{singleArray[0]}}</td>
                                <td class="tdtextright">{{singleArray[1]}}</td>
                                <td class="tdtextright"> {{singleArray[2]}}</td>
                                <td class="tdtextright">
                                    <span ng-if="singleArray[3] === 0" class="green-test">
                                        {{singleArray[3]}}
                                    </span>
                                    <span ng-if="singleArray[3] != 0" class="red-test">
                                        {{singleArray[3]}}
                                    </span>
                                </td>

                                <td class="tdtextright">${{singleArray[4]| number:2 }}</td>
                                <td class="tdtextright">${{singleArray[5]| number:2}}</td>

                                <td class="tdtextright">
                                    <span ng-if="singleArray[6] === 0" class="green-test">
                                        ${{singleArray[6]| number:2}}
                                    </span>
                                    <span ng-if="singleArray[6] != 0" class="red-test">
                                        ${{singleArray[6]| number:2}}
                                    </span>
                                </td>
                                <td style="text-align: center">
                                    <span ng-if="singleArray[7] === 'PASSED'" class="pass">
                                        {{singleArray[7]}}
                                    </span>
                                    <span ng-if="singleArray[7] === 'FAILED'" class="fail">
                                        {{singleArray[7]}}
                                    </span>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>


            </div>
            <div class="col-md-12">
                <h4>Reversals</h4>
                <div class="table-responsive col-md-12">
                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th rowspan="2" style="text-align: center"> Batch ID</th>
                                <th colspan="3" style="text-align: center">Count</th>
                                <th colspan="3" style="text-align: center">Sum</th>
                                <th rowspan="2" style="text-align: center">Status</th>
                            </tr>
                            <tr>

                                <th class="tdtextright"> Created</th>
                                <th class="tdtextright"> Originated + Settled + Returned</th>
                                <th class="tdtextright"> Difference</th>

                                <th class="tdtextright"> Created</th>
                                <th class="tdtextright"> Originated + Settled + Returned</th>
                                <th class="tdtextright"> Difference</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="singleArray in reversalArray">

                                <td style="text-align: center">{{singleArray[0]}}</td>
                                <td class="tdtextright">{{singleArray[1]}}</td>
                                <td class="tdtextright"> {{singleArray[2]}}</td>
                                <td class="tdtextright">
                                    <span ng-if="singleArray[3] === 0" class="green-test">
                                        {{singleArray[3]}}
                                    </span>
                                    <span ng-if="singleArray[3] != 0" class="red-test">
                                        {{singleArray[3]}}
                                    </span>
                                </td>
                                <td class="tdtextright">${{singleArray[4]| number:2 }}</td>
                                <td class="tdtextright">${{singleArray[5]| number:2}}</td>

                                <td class="tdtextright">
                                    <span ng-if="singleArray[6] === 0" class="green-test">
                                        ${{singleArray[6]| number:2}}
                                    </span>
                                    <span ng-if="singleArray[6] != 0" class="red-test">
                                        ${{singleArray[6]| number:2}}
                                    </span>
                                </td>
                                <td style="text-align: center">
                                    <span ng-if="singleArray[7] === 'PASSED'" class="pass">
                                        {{singleArray[7]}}
                                    </span>
                                    <span ng-if="singleArray[7] === 'FAILED'" class="fail">
                                        {{singleArray[7]}}
                                    </span>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>


            </div>


        </div>

    </div>
</div>

<div class="page-spinner-bar" id="spinner" ng-show="loading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<script>
            ComponentsSelect2.init(); // init todo page
            ComponentsBootstrapSelect.init(); // init todo page
</script>