<!-- BEGIN PAGE BREADCRUMB -->

<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box red-sunglo">
            <div class="portlet-title">
                <div class="caption">
                    <i class=""></i></div>
                <div class="">
                    <a href="javascript:;" class=""> </a>
                    <a href="javascript:;" class=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form  action="javascript:void(0)" class="form-horizontal form-bordered" name="changePasswordForm"
                       data-ng-submit="changePassword(user)">
                    <div class="form-body">
                         <div class="form-group">
                            <div class="col-md-12">
                                <div ng-show="flash.getMessage()" class="errorMsg">{{flash.getMessage()}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Old Password<font color="red"> *</font></label>
                            <div class="col-md-4">
                                <input class="form-control" name="oldPassword" data-ng-model="user.currentPassword" equals="{{settings.password}}" type="password" required/>
                                <span style="color:red" class="msg-error" data-ng-show="changePasswordForm.oldPassword.$error.equals">Old Passwords don't match.</span>
                                <span class="help-block"></span>
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">New Password<font color="red"> *</font></label>
                            <div class="col-md-4">
                                <input class="form-control" type="password" name="newPassword"  data-ng-pattern="usersPattern.password" data-ng-model="user.newPassword" equals="{{user.confirmPassword}}" required/>
                                <span style="color:red" data-ng-show="changePasswordForm.newPassword.$error.pattern"> Minimum of 8 characters, 1 capital letter, 1 lowercase,1 special-case and 1 numeric.</span>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Confirm Password<font color="red"> *</font></label>
                            <div class="col-md-4">
                                <input class="form-control" type="password"  name="confirm_password" data-ng-model="user.confirmPassword" equals="{{user.newPassword}}" required/>
                                <span style="color:red" class="msg-error" data-ng-show="changePasswordForm.confirm_password.$error.equals">Passwords don't match.</span>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green-meadow" data-ng-disabled="changePasswordForm.$invalid">
                                        <i class="fa fa-check"></i> Edit</button>
                                    <button type="button" class="btn red" data-ng-click="cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>


                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<script>
    //ComponentsFormTools.init(); // init todo page
</script>