<!-- BEGIN PAGE BREADCRUMB -->
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box red-sunglo">
            <div class="portlet-title">
                <div class="caption"></div>
                <div class="">
                    <a href="javascript:;" class=""> </a>
                </div>
            </div>
            
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                
                <form  action="javascript:void(0)"  class="form-horizontal form-bordered" name="userCreateForm" data-ng-submit="create(createUser)">
                    
                    <div class="form-body">
                       <!--  <div class="form-group">
                           <div id="errorMsg" class="col-md-12">
                               <div ng-show="flash.getMessage()" class="errorMsg">{{flash.getMessage()}}}</div>
                           </div>
                       </div> -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Username<font color="red"> *</font></label>
                            <div class="col-md-4">
                                <input class="form-control"  type="text" placeholder="Username" name="name" data-ng-model="createUser.name" data-ng-pattern="/^[a-z0-9_ .-]{5,16}$/i" ng-keypress="updateUserName();"  required>
                                <span style="color:red" class="error" data-ng-show="userCreateForm.name.$error.pattern">Only letters, integers, and underscores.Minimum 5 characters to maximum 15 characters.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Password<font color="red"> *</font></label>
                            <div class="col-md-4">
                                <input class="form-control" type="password" placeholder="Password" name="password" data-ng-model="createUser.pass" data-ng-pattern="usersPattern.password"  ng-keypress="updateUserPassword();" required/>
                                <span style="color:red" class="error" data-ng-show="userCreateForm.password.$error.pattern">Minimum of 8 characters to maximum 20 characters, 1 capital letter,1 lowercase, 1 special-case and 1 numeric.</span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3">User Type<font color="red"> *</font></label>
                            <div class="form-group">
                            <div class="col-md-2">
                               <input type="radio" name="type" id="" value="debit" checked> &nbsp;
                               <label for="CheckOutTypeDebit" style="display: inline-block;"><b>Vericheck</b></label>
                            </div>
                            <div class="col-md-2">
                               <input type="radio" name="type" id="" value="debit" checked> &nbsp;
                               <label for="CheckOutTypeDebit" style="display: inline-block;"><b>Iso</b></label>
                            </div>
                        </div>

                        </div>

                       

                        <div class="form-group" style="display: none;" id="merchant">
                            <label class="control-label col-md-3">Merchant</label>
                            <div class="col-md-9">
                                <select class="form-control input-xlarge" ng-select="user"
                                        ng-options="merchant.Merchant.id as merchant.Merchant.name for merchant in merchants"
                                        data-ng-model="createUser.parent_id">
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green-meadow" data-ng-disabled="userCreateForm.$invalid">
                                    <i class="fa fa-check"></i> Create</button>
                            </div>
                        </div>
                    </div>

                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function() {
        $('#typeSwitch').bootstrapSwitch('state', true);
        $('#vericheckTypeSwitch').bootstrapSwitch('state', true);

        $('#typeSwitch').on('switchChange.bootstrapSwitch', function(event, state) {
            if(state === false)
            {
                $('#merchant').show();
                $('#vericheck').hide();
            } else 
            {
                $('#merchant').hide();
                $('#vericheck').show();
            }
        });
    });
</script>