<!-- BEGIN PAGE BREADCRUMB -->
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box red-sunglo">
            <div class="portlet-title">
                <div class="caption">
                    <i class=""></i></div>
                <div class="">
                    <a href="javascript:;" class=""> </a>
                    <a href="javascript:;" class=""> </a>
                </div>
            </div>


            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal form-bordered" name="editUserForm" data-ng-submit="edit(changeUser)">
                    <div class="form-body">
                        <div class="form-group">
                            <div id="errorMsg" class="col-md-12">
                                <div ng-show="flash.getMessage()" class="errorMsg">{{flash.getMessage()}}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Username<font color="red"> *</font></label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" name="name" data-ng-model="changeUser.name"  value="{{changeUser.name}}" data-ng-pattern="/^[a-z0-9_ .-]{5,16}$/i" ng-keypress="updateUserName();" required  />
                                <span style="color:red" class="error" data-ng-show="editUserForm.name.$error.pattern" >Only letters, integers, and underscores.Minimum 5 characters to maximum 15 characters.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Password<font color="red"> *</font></label>
                            <div class="col-md-4">
                                <div class="help-block"> <a href="javascript:void(0)" id="editPasswordClick">click here</a>  to change password</div>
                                <input class="form-control"  id="editPassword" type="password" name="password" data-ng-pattern="usersPattern.password" data-ng-model="changeUser.password" value="********" ng-keypress="updateUserPassword();" disabled required />
                                <span style="color:red" class="error" data-ng-show="editUserForm.password.$dirty && editUserForm.password.$error.pattern">Minimum of 8 characters to maximum 20 characters, 1 capital letter,1 lowercase, 1 special-case and 1 numeric.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Active</label>
                            <div class="col-md-4">
                                <input id='activeSwitch' type="checkbox" name="active" class="make-switch"  data-ng-model="changeUser.active" data-ng-click="activeSwitch()" data-on-text="Yes" data-off-text="No" >

                            </div>

                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green-meadow" data-ng-disabled="editUserForm.$invalid">
                                        <i class="fa fa-check"></i> Save</button>
                                    <button type="button" class="btn red" data-ng-click="cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        $('#editPasswordClick').click(function(){
            $('#editPassword').attr('value','');
            $('#editPassword').removeAttr('disabled');
        });
    });
</script>

