<!-- BEGIN PAGE BREADCRUMB -->
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="">
                <div class="caption font-dark">
                    <i class=""></i>
                    <span class="caption-subject bold uppercase"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div ng-show="flash.getMessage()" class="successMsg">{{flash.getMessage()}}</div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                </button>
                            </div>
                        </div>
                     
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="dataTables_length" id="sample_1_length">
                            <label>Show 
                                <select  aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline" 
                                         name="repeatSelect" id="repeatSelect" data-ng-model="repeatSelect">
                                    <option  ng-selected="{{defaultvalue == repeatSelect}}" ng-repeat="option in show.availableOptions" value="{{option.id}}">{{option.name}}</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div id="sample_1_filter" class="dataTables_filter pull-right">
                            <label>Search:
                                <input type="search" data-ng-model="search" class="form-control input-sm input-small input-inline" placeholder="" aria-controls="sample_1">
                            </label>
                        </div>
                    </div><!--
                </div>-->
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <!--<table class="table table-striped table-bordered table-hover table-checkable order-column">-->
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                <a href="#" ng-click="orderByField='User.name'; reverseSort = !reverseSort">
                                    Username<span ng-show="orderByField == 'User.name'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="orderByField='User.password'; reverseSort = !reverseSort">
                                    Password <span ng-show="orderByField == 'User.password'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="orderByField='User.active'; reverseSort = !reverseSort">
                                    Active<span ng-show="orderByField == 'User.active'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon-triangle-top"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon-triangle-bottom"></span></span></span>
                                </a>
                            </th>

                        </tr>
                    </thead>
                    <tbody >
                    
                        <tr class="odd gradeX" dir-paginate="user in usersData.slice().reverse() | filter:search  | orderBy:orderByField:reverseSort | itemsPerPage: repeatSelect" current-page="currentPage">
                            <td>
                                <a href="/#/users/edit/{{user.User.id}}"><i class="icon-fixed-width icon-pencil" data-ng-click="editClick(user)"/></a>
                            </td>
                            <td> {{ user.User.name}}</td>
                            <td> {{ user.User.password}}</td>
                            <td> {{ user.User.active}}</td>
                        </tr>
                    </tbody>
                </table>

                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../tpl/dirPagination.tpl.html"></dir-pagination-controls>

                </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<script>
//    TableDatatablesManaged.init();

</script>